Each code block below has comments at the top explaining what's going on

This is for an article on wionews.com that looks at the choices teams make after winning the toss.

This is a follow-up to the article [Is T20 ruining test cricket?](http://www.wionews.com/cricket/is-the-t20-format-ruining-test-cricket-14150), mines the same data as that article

In [1]:
#loading jsons containing 25 years of data on ODIs, T20s and Test matches from 1991 - 2016
#these jsons were created for my last cricket data story at 
#http://www.wionews.com/cricket/analysis-is-t20-format-ruining-test-cricket-14150

#the jsons are essentially all the scoreboards for all the test, ODI and T20 matches over the past 26 years

#You can see the code I used to generate the jsons at 
#https://nbviewer.jupyter.org/github/shijithpk/2017_04_03_t20_effect/blob/master/t20_notepad_version.ipynb

import json

with open('test_data.json', 'r') as f:
     test_json = json.load(f)

with open('odi_data.json', 'r') as f:
     odi_json = json.load(f)

with open('t20_data.json', 'r') as f:
     t20_json = json.load(f)

In [4]:
#just creating a list of years

year_list = range(1991,2017)

In [7]:
#combining data from all the three jsons into one CSV
#i kind of visually explore my data in tableau, I'd rather do it that way than with matplotlib or bokeh
#just more familiar with tableau

#note to self: if something doesn't work out, make that cell blank

#thought of limiting the toss stats to matches--be they T20, ODI or Test--between test-playing countries,
#but decided against it, didn't make sense to not use all that data

import json
import csv

headingsx = ['name', 'format','result_text','start_date','team1','team2','toss_text',\
             'toss_winner','toss_winner_choice','venue','venue_country','venue_text','winner','winning_margin','year']

fileg = 'jsons_combined.csv'

with open(fileg, "w") as filem:
    wr = csv.writer(filem, delimiter = ',' , quotechar = '"',lineterminator='\n')
    wr.writerow(headingsx)

for jsonx in [test_json,odi_json,t20_json]:
    for page in jsonx.keys():
        if jsonx[page]['year'] not in ['1990','2017']:
            row_list=[]
            row_list.append(page)
            for head in headingsx[1:]:
                try:
                    jsonx[page][head]
                except:
                    row_list.append('')
                else:
                    row_list.append(jsonx[page][head])
            with open(fileg, "a") as filen:
                wrz = csv.writer(filen, delimiter = ',' , quotechar = '"',lineterminator='\n' )
                wrz.writerow(row_list)

print 'done and done'

done and done

In [8]:
#so was looking in OpenRefine at the CSV produced, the winner wasn't recorded for some ODI matches
#there were some matches were the winner won on a 'faster scoring rate' and I hadn't factored for that outcome
#when i was first generating the jsons. I
#was tempted to make the changes in OpenRefine itself, but since I have some time right now,
#i'll make the changes to the CSV in the notebook itself

#also don't worry, it's just six matches, the data's still good! :)

import pandas as pd

df = pd.read_csv('jsons_combined.csv')

In [9]:
df.head(n=3)

,name,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
0,test_1125.html,test,South Africa won by 204 runs,27 Aug 2016,South Africa,New Zealand,New Zealand won the toss and decided to field,New Zealand,field,"Centurion Park, Centurion",South Africa,"Centurion Park, Centurion on 27th, 28th, 29th,...",South Africa,204 runs,2016
1,test_0229.html,test,West Indies won by 38 runs,27 Mar 1997,West Indies,India,India won the toss and decided to field,India,field,"Kensington Oval, Bridgetown",West Indies,"Kensington Oval, Bridgetown on 27th, 29th, 30t...",West Indies,38 runs,1997
2,test_0017.html,test,Match drawn,08 Sep 2005,England,Australia,England won the toss and decided to bat,England,bat,"The Brit Oval, Kennington",England,"The Brit Oval, Kennington on 8th, 9th, 10th, 1...",NaN,NaN,2005

In [11]:
#changed the NaN values to empty strings in the dataframe

df = df.fillna('')
df.head(n=3)

,name,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
0,test_1125.html,test,South Africa won by 204 runs,27 Aug 2016,South Africa,New Zealand,New Zealand won the toss and decided to field,New Zealand,field,"Centurion Park, Centurion",South Africa,"Centurion Park, Centurion on 27th, 28th, 29th,...",South Africa,204 runs,2016
1,test_0229.html,test,West Indies won by 38 runs,27 Mar 1997,West Indies,India,India won the toss and decided to field,India,field,"Kensington Oval, Bridgetown",West Indies,"Kensington Oval, Bridgetown on 27th, 29th, 30t...",West Indies,38 runs,1997
2,test_0017.html,test,Match drawn,08 Sep 2005,England,Australia,England won the toss and decided to bat,England,bat,"The Brit Oval, Kennington",England,"The Brit Oval, Kennington on 8th, 9th, 10th, 1...",,,2005

In [12]:
#code from http://stackoverflow.com/questions/27975069/how-to-filter-rows-containing-a-string-pattern-from-a-pandas-dataframe

df[df['result_text'].str.contains("won on faster scoring rate")]

,name,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
1642,odi_0293.html,odi,West Indies won on faster scoring rate (Run rate),05 Mar 1994,West Indies,England,England won the toss and decided to field,England,field,"Queen's Park Oval, Port of Spain",West Indies,"Queen's Park Oval, Port of Spain on 5th March ...",,,1994
2760,odi_0370.html,odi,West Indies won on faster scoring rate (Run rate),22 Jan 1995,New Zealand,West Indies,New Zealand won the toss and decided to bat,New Zealand,bat,"Eden Park, Auckland",New Zealand,"Eden Park, Auckland on 22nd January 1995 (50-o...",,,1995
3060,odi_0389.html,odi,New Zealand won on faster scoring rate (Run rate),29 Mar 1995,New Zealand,Sri Lanka,New Zealand won the toss and decided to bat,New Zealand,bat,"Trust Bank Park, Hamilton",New Zealand,"Trust Bank Park, Hamilton on 29th March 1995 (...",,,1995
3090,odi_0218.html,odi,Sri Lanka won on faster scoring rate (Run rate),10 Mar 1993,Sri Lanka,England,Sri Lanka won the toss and decided to bat,Sri Lanka,bat,"Khettarama Stadium, Colombo",Sri Lanka,"Khettarama Stadium, Colombo on 10th March 1993...",,,1993
3247,odi_0538.html,odi,Pakistan won on faster scoring rate (Run rate),03 Nov 1996,Pakistan,Zimbabwe,Pakistan won the toss and decided to bat,Pakistan,bat,"Arbab Niaz Stadium, Peshawar",Pakistan,"Arbab Niaz Stadium, Peshawar on 3rd November 1...",,,1996
4246,odi_0330.html,odi,India won on faster scoring rate (Run rate),20 Oct 1994,India,West Indies,India won the toss and decided to field,India,field,"Wankhede Stadium, Bombay",India,"Wankhede Stadium, Bombay on 20th October 1994 ...",,,1994

In [14]:
# code below from http://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas
# and http://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe

import re

for index,row in df[df['result_text'].str.contains("won on faster scoring rate")].iterrows():
    df.set_value(index, 'winner', (re.findall(r"(.*) won on faster scoring rate .*", row['result_text']))[0])
    df.set_value(index, 'winning_margin', 'faster scoring rate (run rate)')

In [15]:
#just a check to see if the changes have been made correctly

df[df['result_text'].str.contains("won on faster scoring rate")]

,name,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
1642,odi_0293.html,odi,West Indies won on faster scoring rate (Run rate),05 Mar 1994,West Indies,England,England won the toss and decided to field,England,field,"Queen's Park Oval, Port of Spain",West Indies,"Queen's Park Oval, Port of Spain on 5th March ...",West Indies,faster scoring rate (run rate),1994
2760,odi_0370.html,odi,West Indies won on faster scoring rate (Run rate),22 Jan 1995,New Zealand,West Indies,New Zealand won the toss and decided to bat,New Zealand,bat,"Eden Park, Auckland",New Zealand,"Eden Park, Auckland on 22nd January 1995 (50-o...",West Indies,faster scoring rate (run rate),1995
3060,odi_0389.html,odi,New Zealand won on faster scoring rate (Run rate),29 Mar 1995,New Zealand,Sri Lanka,New Zealand won the toss and decided to bat,New Zealand,bat,"Trust Bank Park, Hamilton",New Zealand,"Trust Bank Park, Hamilton on 29th March 1995 (...",New Zealand,faster scoring rate (run rate),1995
3090,odi_0218.html,odi,Sri Lanka won on faster scoring rate (Run rate),10 Mar 1993,Sri Lanka,England,Sri Lanka won the toss and decided to bat,Sri Lanka,bat,"Khettarama Stadium, Colombo",Sri Lanka,"Khettarama Stadium, Colombo on 10th March 1993...",Sri Lanka,faster scoring rate (run rate),1993
3247,odi_0538.html,odi,Pakistan won on faster scoring rate (Run rate),03 Nov 1996,Pakistan,Zimbabwe,Pakistan won the toss and decided to bat,Pakistan,bat,"Arbab Niaz Stadium, Peshawar",Pakistan,"Arbab Niaz Stadium, Peshawar on 3rd November 1...",Pakistan,faster scoring rate (run rate),1996
4246,odi_0330.html,odi,India won on faster scoring rate (Run rate),20 Oct 1994,India,West Indies,India won the toss and decided to field,India,field,"Wankhede Stadium, Bombay",India,"Wankhede Stadium, Bombay on 20th October 1994 ...",India,faster scoring rate (run rate),1994

In [24]:
df.set_index("name", inplace = True)
df.head(n=3)

,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
name,,,,,,,,,,,,,,
test_1125.html,test,South Africa won by 204 runs,27 Aug 2016,South Africa,New Zealand,New Zealand won the toss and decided to field,New Zealand,field,"Centurion Park, Centurion",South Africa,"Centurion Park, Centurion on 27th, 28th, 29th,...",South Africa,204 runs,2016
test_0229.html,test,West Indies won by 38 runs,27 Mar 1997,West Indies,India,India won the toss and decided to field,India,field,"Kensington Oval, Bridgetown",West Indies,"Kensington Oval, Bridgetown on 27th, 29th, 30t...",West Indies,38 runs,1997
test_0017.html,test,Match drawn,08 Sep 2005,England,Australia,England won the toss and decided to bat,England,bat,"The Brit Oval, Kennington",England,"The Brit Oval, Kennington on 8th, 9th, 10th, 1...",,,2005

In [25]:
df.index.name = 'name'
df.head(n=3)

,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
name,,,,,,,,,,,,,,
test_1125.html,test,South Africa won by 204 runs,27 Aug 2016,South Africa,New Zealand,New Zealand won the toss and decided to field,New Zealand,field,"Centurion Park, Centurion",South Africa,"Centurion Park, Centurion on 27th, 28th, 29th,...",South Africa,204 runs,2016
test_0229.html,test,West Indies won by 38 runs,27 Mar 1997,West Indies,India,India won the toss and decided to field,India,field,"Kensington Oval, Bridgetown",West Indies,"Kensington Oval, Bridgetown on 27th, 29th, 30t...",West Indies,38 runs,1997
test_0017.html,test,Match drawn,08 Sep 2005,England,Australia,England won the toss and decided to bat,England,bat,"The Brit Oval, Kennington",England,"The Brit Oval, Kennington on 8th, 9th, 10th, 1...",,,2005

In [27]:
#so there were 151 matches were no toss was made, won't be of any use for the stats  
#am getting rid of them from the dataframe

df2 = df[df['toss_text'] != "No toss made"]

df2.head(n=5)

,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
name,,,,,,,,,,,,,,
test_1125.html,test,South Africa won by 204 runs,27 Aug 2016,South Africa,New Zealand,New Zealand won the toss and decided to field,New Zealand,field,"Centurion Park, Centurion",South Africa,"Centurion Park, Centurion on 27th, 28th, 29th,...",South Africa,204 runs,2016
test_0229.html,test,West Indies won by 38 runs,27 Mar 1997,West Indies,India,India won the toss and decided to field,India,field,"Kensington Oval, Bridgetown",West Indies,"Kensington Oval, Bridgetown on 27th, 29th, 30t...",West Indies,38 runs,1997
test_0017.html,test,Match drawn,08 Sep 2005,England,Australia,England won the toss and decided to bat,England,bat,"The Brit Oval, Kennington",England,"The Brit Oval, Kennington on 8th, 9th, 10th, 1...",,,2005
test_0003.html,test,Australia won by 268 runs,03 Jul 1997,England,Australia,Australia won the toss and decided to bat,Australia,bat,"Old Trafford, Manchester",England,"Old Trafford, Manchester on 3rd, 4th, 5th, 6th...",Australia,268 runs,1997
test_0411.html,test,Match drawn,06 Aug 2000,Sri Lanka,South Africa,Sri Lanka won the toss and decided to field,Sri Lanka,field,"Sinhalese Sports Club Ground, Colombo",Sri Lanka,"Sinhalese Sports Club Ground, Colombo on 6th, ...",,,2000

In [28]:
df2.shape

(4815, 14)

In [ ]:
#should I get rid of matches where there was no definite outcome?
#get rid of them later, if there was a toss made, even if the match didn't end in an outright result, 
    #but instead ended up in a cancelled or abandoned match, at least you have data on what captains chose to do 
    #after winning the toss. Just exclude those matches when calculating win percentages

In [29]:
df2.to_csv('jsons_combined_v2.csv')

In [1]:
import pandas as pd

df = pd.read_csv('jsons_combined_v2.csv')

In [2]:
df.head(n=3)

,name,format,result_text,start_date,team1,team2,toss_text,toss_winner,toss_winner_choice,venue,venue_country,venue_text,winner,winning_margin,year
0,test_1125.html,test,South Africa won by 204 runs,27 Aug 2016,South Africa,New Zealand,New Zealand won the toss and decided to field,New Zealand,field,"Centurion Park, Centurion",South Africa,"Centurion Park, Centurion on 27th, 28th, 29th,...",South Africa,204 runs,2016
1,test_0229.html,test,West Indies won by 38 runs,27 Mar 1997,West Indies,India,India won the toss and decided to field,India,field,"Kensington Oval, Bridgetown",West Indies,"Kensington Oval, Bridgetown on 27th, 29th, 30t...",West Indies,38 runs,1997
2,test_0017.html,test,Match drawn,08 Sep 2005,England,Australia,England won the toss and decided to bat,England,bat,"The Brit Oval, Kennington",England,"The Brit Oval, Kennington on 8th, 9th, 10th, 1...",NaN,NaN,2005

In [7]:
#team, year, format, venue_country, matches played, toss won

team1_list = df['team1'].unique().tolist()
team1_list

['South Africa',
 'West Indies',
 'England',
 'Sri Lanka',
 'India',
 'Australia',
 'Zimbabwe',
 'New Zealand',
 'Pakistan',
 'Bangladesh',
 'Canada',
 'Kenya',
 'Scotland',
 'Ireland',
 'Netherlands',
 'Afghanistan',
 'Bermuda',
 'Namibia',
 'Hong Kong',
 'African XI',
 'Asian Cricket Council XI',
 'United Arab Emirates',
 'ICC World XI',
 'Papua New Guinea',
 'Oman',
 'Nepal']

In [8]:
team2_list = df['team2'].unique().tolist()
team2_list

['New Zealand',
 'India',
 'Australia',
 'South Africa',
 'England',
 'West Indies',
 'Pakistan',
 'Sri Lanka',
 'Bangladesh',
 'Zimbabwe',
 'ICC World XI',
 'Ireland',
 'Netherlands',
 'Kenya',
 'Afghanistan',
 'Canada',
 'Hong Kong',
 'United Arab Emirates',
 'Bermuda',
 'Scotland',
 'Papua New Guinea',
 'Asian Cricket Council XI',
 'African XI',
 'United States of America',
 'Namibia',
 'Nepal',
 'Oman']

In [13]:
teams_union = list(set().union(team1_list, team2_list))

In [25]:
teams_union

['Canada',
 'Afghanistan',
 'Bangladesh',
 'United States of America',
 'Nepal',
 'Scotland',
 'Bermuda',
 'Ireland',
 'Australia',
 'ICC World XI',
 'Papua New Guinea',
 'Zimbabwe',
 'West Indies',
 'African XI',
 'Hong Kong',
 'Netherlands',
 'Oman',
 'Namibia',
 'New Zealand',
 'Pakistan',
 'England',
 'South Africa',
 'United Arab Emirates',
 'India',
 'Sri Lanka',
 'Kenya',
 'Asian Cricket Council XI']

In [14]:
#so the csv I'd created earlier was a pain to visualise in tableau, so I'm creating a newer csv that is tableau-friendly

#tried to use the pandas library first to create the csv, but gave up after a while.
    #i don't know if i've said this before, but trying to get pandas to do exactly want you want
    #is an exercise in futility, I'd rather just use the plain csv module and manually create my own csvs, than
    #search on stackoverflow for hours in vain for that one code snippet that'll help me with pandas

#In a way, i guess it's the lack of accessible documentation to help beginners like me with not-so-beginner tasks
    #that is putting me off the pandas library

import csv
import pandas as pd

headingsx = ['team', 'opposing_team', 'format', 'year', 'venue_country', 'venue_ground',  \
             'toss_won', 'action_after_toss', 'match_outcome', 'file_name', 'venue_text']

fileg = 'for_tableau.csv'

with open(fileg, "w") as filem:
    wr = csv.writer(filem, delimiter = ',' , quotechar = '"',lineterminator='\n')
    wr.writerow(headingsx)

df2 = pd.read_csv('jsons_combined_v2.csv')

for index,row in df2.iterrows():
    
    #initialising empty lists to which items will get appended
    row_t1 = []
    row_t1_all = []
    row_t2 = []
    row_t2_all = []

    #team_name
    row_t1.append(row['team1'])
    row_t1_all.append('all_nations')
    row_t2.append(row['team2'])
    row_t2_all.append('all_nations')

    #opposing team
    row_t1.append(row['team2'])
    row_t1_all.append(row['team2'])
    row_t2.append(row['team1'])
    row_t2_all.append(row['team1'])
    
    #cricket format
    row_t1.append(row['format'])
    row_t1_all.append(row['format'])
    row_t2.append(row['format'])
    row_t2_all.append(row['format'])
    
    #year
    row_t1.append(row['year'])
    row_t1_all.append(row['year'])
    row_t2.append(row['year'])
    row_t2_all.append(row['year'])
    
    #venue_country
    row_t1.append(row['venue_country'])
    row_t1_all.append(row['venue_country'])
    row_t2.append(row['venue_country'])
    row_t2_all.append(row['venue_country'])
    
    #venue
    row_t1.append(row['venue'])
    row_t1_all.append(row['venue'])
    row_t2.append(row['venue'])
    row_t2_all.append(row['venue'])
    
    #won the toss?
    if row['team1'] == row['toss_winner']:
        row_t1.append('YES')
        row_t1_all.append('YES')
        row_t2.append('NO')
        row_t2_all.append('NO')
    else:
        row_t1.append('NO')
        row_t1_all.append('NO')
        row_t2.append('YES')
        row_t2_all.append('YES')


    #bat_or_field_first, ie. team's first action after toss happened, this covers actions for teams losing toss too
    if row['team1'] == row['toss_winner']:
        row_t1.append(row['toss_winner_choice'])
        row_t1_all.append(row['toss_winner_choice'])
        if row['toss_winner_choice'] == 'bat':  #there's got to be a more elegant way of doing what i just did here
            row_t2.append('field')
            row_t2_all.append('field')
        else:
            row_t2.append('bat')
            row_t2_all.append('bat')
    else:
        if row['toss_winner_choice'] == 'bat':
            row_t1.append('field')
            row_t1_all.append('field')
        else:
            row_t1.append('bat')
            row_t1_all.append('bat')
        row_t2.append(row['toss_winner_choice'])
        row_t2_all.append(row['toss_winner_choice'])
        

    #outcome of match for team - win, loss, other 
    #other means match drawn, tied, cancelled, abandoned etc.
    #if row['winner'] == '':
    if row['winner'] == row['team1']:
        row_t1.append('won')
        row_t1_all.append('won')
        row_t2.append('lost')
        row_t2_all.append('lost')
    elif row['winner'] == row['team2']:
        row_t1.append('lost')
        row_t1_all.append('lost')
        row_t2.append('won')
        row_t2_all.append('won')
    else:
        row_t1.append('other')
        row_t1_all.append('other')
        row_t2.append('other')
        row_t2_all.append('other')

    #file_name where match details are
    row_t1.append(row['name'])
    row_t1_all.append(row['name'])
    row_t2.append(row['name'])
    row_t2_all.append(row['name'])

    #venue_text, this has details on which match is day/night or not
    row_t1.append(row['venue_text'])
    row_t1_all.append(row['venue_text'])
    row_t2.append(row['venue_text'])
    row_t2_all.append(row['venue_text'])

    
    with open(fileg, "a") as filen:
        wrz = csv.writer(filen, delimiter = ',' , quotechar = '"', lineterminator='\n' )
        wrz.writerow(row_t1)
        wrz.writerow(row_t1_all)
        wrz.writerow(row_t2)
        wrz.writerow(row_t2_all)

print 'done and done'

done and done

In [1]:
import pandas as pd

df = pd.read_csv('for_tableau.csv')

In [24]:
df.head(n=5)

,team,opposing_team,format,year,venue_country,venue_ground,toss_won,action_after_toss,match_outcome,file_name,venue_text
0,South Africa,New Zealand,test,2016,South Africa,"Centurion Park, Centurion",NO,bat,won,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
1,all_nations,New Zealand,test,2016,South Africa,"Centurion Park, Centurion",NO,bat,won,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
2,New Zealand,South Africa,test,2016,South Africa,"Centurion Park, Centurion",YES,field,lost,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
3,all_nations,South Africa,test,2016,South Africa,"Centurion Park, Centurion",YES,field,lost,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
4,West Indies,India,test,1997,West Indies,"Kensington Oval, Bridgetown",NO,bat,won,test_0229.html,"Kensington Oval, Bridgetown on 27th, 29th, 30t..."

In [64]:
# 1 -- here I'm looking at which is the luckiest team by % of tosses won
    #slicing it by format, by team, by opposing_team, by venue_country, by venue_ground

df_1 = df[df['team'] != 'all_nations'].groupby(['team','opposing_team', 'format', 'year', 'venue_country', 'venue_ground'])\
            .size().reset_index(name='matches_played')
df_1

,team,opposing_team,format,year,venue_country,venue_ground,matches_played
0,Afghanistan,Australia,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
1,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1
2,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1
3,Afghanistan,Bangladesh,odi,2015,Australia,"Manuka Oval, Canberra",1
4,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",3
5,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
6,Afghanistan,Canada,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",1
7,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
8,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1
9,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",1
10,Afghanistan,Canada,t20,2010,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
11,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
12,Afghanistan,England,odi,2015,Australia,"Sydney Cricket Ground, Sydney",1
13,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
14,Afghanistan,England,t20,2016,India,"Feroz Shah Kotla, Delhi",1
15,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",1
16,Afghanistan,Hong Kong,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
17,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1
18,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
19,Afghanistan,Hong Kong,t20,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
20,Afghanistan,Hong Kong,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
21,Afghanistan,India,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
22,Afghanistan,India,t20,2010,West Indies,"Beausejour Stadium, Gros Islet",1
23,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
24,Afghanistan,Ireland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1
25,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",1
26,Afghanistan,Ireland,odi,2015,United Arab Emirates,"Dubai Sports City Stadium, Dubai",2
27,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",4
28,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1
29,Afghanistan,Ireland,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",2
...,...,...,...,...,...,...,...
8128,Zimbabwe,West Indies,odi,2001,Australia,"Western Australia Cricket Association Ground, ...",1
8129,Zimbabwe,West Indies,odi,2001,Sri Lanka,"Asgiriya Stadium, Kandy",1
8130,Zimbabwe,West Indies,odi,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
8131,Zimbabwe,West Indies,odi,2001,Zimbabwe,"Harare Sports Club, Harare",1
8132,Zimbabwe,West Indies,odi,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1
8133,Zimbabwe,West Indies,odi,2003,Zimbabwe,"Harare Sports Club, Harare",3
8134,Zimbabwe,West Indies,odi,2003,Zimbabwe,"Queens Sports Club, Bulawayo",2
8135,Zimbabwe,West Indies,odi,2006,India,"Sardar Patel Stadium, Motera, Ahmedabad",1
8136,Zimbabwe,West Indies,odi,2006,West Indies,"Antigua Recreation Ground, St John's",2
8137,Zimbabwe,West Indies,odi,2006,West Indies,"Beausejour Stadium, Gros Islet",1
8138,Zimbabwe,West Indies,odi,2006,West Indies,"Bourda, Georgetown",1
8139,Zimbabwe,West Indies,odi,2006,West Indies,"Queen's Park Oval, Port of Spain",2
8140,Zimbabwe,West Indies,odi,2007,West Indies,"Sabina Park, Kingston",1
8141,Zimbabwe,West Indies,odi,2007,Zimbabwe,"Harare Sports Club, Harare",3
8142,Zimbabwe,West Indies,odi,2007,Zimbabwe,"Queens Sports Club, Bulawayo",1
8143,Zimbabwe,West Indies,odi,2010,West Indies,"Arnos Vale Playing Field, Kingstown",3
8144,Zimbabwe,West Indies,odi,2010,West Indies,"Guyana National Stadium, Providence",2
8145,Zimbabwe,West Indies,odi,2013,West Indies,"Queen's Park (New), St George's",3
8146,Zimbabwe,West Indies,odi,2015,Australia,"Manuka Oval, Canberra",1
8147,Zimbabwe,West Indies,odi,2016,Zimbabwe,"Queens Sports Club, Bulawayo",2
8148,Zimbabwe,West Indies,t20,2010,West Indies,"Queen's Park Oval, Port of Spain",1
8149,Zimbabwe,West Indies,t20,2013,West Indies,"Sir Vivian Richards Stadium, North Sound",2
8150,Zimbabwe,West Indies,test,2000,West Indies,"Queen's Park Oval, Port of Spain",1
8151,Zimbabwe,West Indies,test,2000,West Indies,"Sabina Park, Kingston",1
8152,Zimbabwe,West Indies,test,2001,Zimbabwe,"Harare Sports Club, Harare",1
8153,Zimbabwe,West Indies,test,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1
8154,Zimbabwe,West Indies,test,2003,Zimbabwe,"Harare Sports Club, Harare",1
8155,Zimbabwe,West Indies,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1
8156,Zimbabwe,West Indies,test,2013,West Indies,"Kensington Oval, Bridgetown",1
8157,Zimbabwe,West Indies,test,2013,West Indies,"Windsor Park, Roseau",1

In [62]:
df_2 = df[(df['team'] != 'all_nations') & (df['toss_won'] == 'YES')].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_won_toss')
df_2

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1
3,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",1
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
5,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
6,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",1
7,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1
8,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
9,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
10,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",1
11,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",3
12,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1
13,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
14,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1
15,Afghanistan,Kenya,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
16,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
17,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
18,Afghanistan,Netherlands,odi,2009,Netherlands,"VRA Ground, Amstelveen",1
19,Afghanistan,Netherlands,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",1
20,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
21,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
22,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1
23,Afghanistan,Oman,t20,2015,Ireland,"Castle Avenue, Dublin",1
24,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
25,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1
26,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
27,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1
28,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1
29,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1
...,...,...,...,...,...,...,...
4369,Zimbabwe,Sri Lanka,test,1994,Zimbabwe,"Queens Sports Club, Bulawayo",1
4370,Zimbabwe,Sri Lanka,test,1996,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
4371,Zimbabwe,Sri Lanka,test,1998,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
4372,Zimbabwe,Sri Lanka,test,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
4373,Zimbabwe,Sri Lanka,test,2002,Sri Lanka,"Asgiriya Stadium, Kandy",1
4374,Zimbabwe,Sri Lanka,test,2016,Zimbabwe,"Harare Sports Club, Harare",1
4375,Zimbabwe,United Arab Emirates,odi,2015,New Zealand,"Saxton Oval, Nelson",1
4376,Zimbabwe,United Arab Emirates,t20,2014,Bangladesh,"Sylhet Stadium, Sylhet",1
4377,Zimbabwe,West Indies,odi,1992,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1
4378,Zimbabwe,West Indies,odi,1996,India,"Lal Bahadur Shastri Stadium, Hyderabad",1
4379,Zimbabwe,West Indies,odi,1999,Singapore,"Kallang Ground, Singapore",1
4380,Zimbabwe,West Indies,odi,2000,West Indies,"Sabina Park, Kingston",1
4381,Zimbabwe,West Indies,odi,2001,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1
4382,Zimbabwe,West Indies,odi,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
4383,Zimbabwe,West Indies,odi,2001,Zimbabwe,"Harare Sports Club, Harare",1
4384,Zimbabwe,West Indies,odi,2003,Zimbabwe,"Harare Sports Club, Harare",2
4385,Zimbabwe,West Indies,odi,2006,India,"Sardar Patel Stadium, Motera, Ahmedabad",1
4386,Zimbabwe,West Indies,odi,2006,West Indies,"Beausejour Stadium, Gros Islet",1
4387,Zimbabwe,West Indies,odi,2007,Zimbabwe,"Harare Sports Club, Harare",1
4388,Zimbabwe,West Indies,odi,2010,West Indies,"Arnos Vale Playing Field, Kingstown",1
4389,Zimbabwe,West Indies,odi,2010,West Indies,"Guyana National Stadium, Providence",2
4390,Zimbabwe,West Indies,odi,2013,West Indies,"Queen's Park (New), St George's",3
4391,Zimbabwe,West Indies,odi,2016,Zimbabwe,"Queens Sports Club, Bulawayo",2
4392,Zimbabwe,West Indies,t20,2010,West Indies,"Queen's Park Oval, Port of Spain",1
4393,Zimbabwe,West Indies,t20,2013,West Indies,"Sir Vivian Richards Stadium, North Sound",1
4394,Zimbabwe,West Indies,test,2000,West Indies,"Queen's Park Oval, Port of Spain",1
4395,Zimbabwe,West Indies,test,2000,West Indies,"Sabina Park, Kingston",1
4396,Zimbabwe,West Indies,test,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1
4397,Zimbabwe,West Indies,test,2003,Zimbabwe,"Harare Sports Club, Harare",1
4398,Zimbabwe,West Indies,test,2013,West Indies,"Kensington Oval, Bridgetown",1

In [67]:
#df_1 has 8158 rows × 7 columns
#df_2 has 4399 rows × 7 columns
#so after merging the two, there should be 8158 rows X 8 columns

df_3 = pd.merge(df_1, df_2, on=['team','opposing_team', 'format', 'year', 'venue_country', 'venue_ground'], how='left')
df_3.fillna(0, inplace=True)
df_3

,team,opposing_team,format,year,venue_country,venue_ground,matches_played,matches_won_toss
0,Afghanistan,Australia,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0
1,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,1.0
2,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,0.0
3,Afghanistan,Bangladesh,odi,2015,Australia,"Manuka Oval, Canberra",1,0.0
4,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",3,1.0
5,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
6,Afghanistan,Canada,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",1,0.0
7,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,0.0
8,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1,1.0
9,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",1,1.0
10,Afghanistan,Canada,t20,2010,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1,0.0
11,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1,1.0
12,Afghanistan,England,odi,2015,Australia,"Sydney Cricket Ground, Sydney",1,0.0
13,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,1.0
14,Afghanistan,England,t20,2016,India,"Feroz Shah Kotla, Delhi",1,0.0
15,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",1,1.0
16,Afghanistan,Hong Kong,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1,0.0
17,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1,1.0
18,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1,1.0
19,Afghanistan,Hong Kong,t20,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
20,Afghanistan,Hong Kong,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1,0.0
21,Afghanistan,India,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
22,Afghanistan,India,t20,2010,West Indies,"Beausejour Stadium, Gros Islet",1,0.0
23,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,1.0
24,Afghanistan,Ireland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1,0.0
25,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",1,1.0
26,Afghanistan,Ireland,odi,2015,United Arab Emirates,"Dubai Sports City Stadium, Dubai",2,0.0
27,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",4,3.0
28,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1,1.0
29,Afghanistan,Ireland,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",2,0.0
...,...,...,...,...,...,...,...,...
8128,Zimbabwe,West Indies,odi,2001,Australia,"Western Australia Cricket Association Ground, ...",1,0.0
8129,Zimbabwe,West Indies,odi,2001,Sri Lanka,"Asgiriya Stadium, Kandy",1,0.0
8130,Zimbabwe,West Indies,odi,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1,1.0
8131,Zimbabwe,West Indies,odi,2001,Zimbabwe,"Harare Sports Club, Harare",1,1.0
8132,Zimbabwe,West Indies,odi,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0
8133,Zimbabwe,West Indies,odi,2003,Zimbabwe,"Harare Sports Club, Harare",3,2.0
8134,Zimbabwe,West Indies,odi,2003,Zimbabwe,"Queens Sports Club, Bulawayo",2,0.0
8135,Zimbabwe,West Indies,odi,2006,India,"Sardar Patel Stadium, Motera, Ahmedabad",1,1.0
8136,Zimbabwe,West Indies,odi,2006,West Indies,"Antigua Recreation Ground, St John's",2,0.0
8137,Zimbabwe,West Indies,odi,2006,West Indies,"Beausejour Stadium, Gros Islet",1,1.0
8138,Zimbabwe,West Indies,odi,2006,West Indies,"Bourda, Georgetown",1,0.0
8139,Zimbabwe,West Indies,odi,2006,West Indies,"Queen's Park Oval, Port of Spain",2,0.0
8140,Zimbabwe,West Indies,odi,2007,West Indies,"Sabina Park, Kingston",1,0.0
8141,Zimbabwe,West Indies,odi,2007,Zimbabwe,"Harare Sports Club, Harare",3,1.0
8142,Zimbabwe,West Indies,odi,2007,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0
8143,Zimbabwe,West Indies,odi,2010,West Indies,"Arnos Vale Playing Field, Kingstown",3,1.0
8144,Zimbabwe,West Indies,odi,2010,West Indies,"Guyana National Stadium, Providence",2,2.0
8145,Zimbabwe,West Indies,odi,2013,West Indies,"Queen's Park (New), St George's",3,3.0
8146,Zimbabwe,West Indies,odi,2015,Australia,"Manuka Oval, Canberra",1,0.0
8147,Zimbabwe,West Indies,odi,2016,Zimbabwe,"Queens Sports Club, Bulawayo",2,2.0
8148,Zimbabwe,West Indies,t20,2010,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
8149,Zimbabwe,West Indies,t20,2013,West Indies,"Sir Vivian Richards Stadium, North Sound",2,1.0
8150,Zimbabwe,West Indies,test,2000,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
8151,Zimbabwe,West Indies,test,2000,West Indies,"Sabina Park, Kingston",1,1.0
8152,Zimbabwe,West Indies,test,2001,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8153,Zimbabwe,West Indies,test,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1,1.0
8154,Zimbabwe,West Indies,test,2003,Zimbabwe,"Harare Sports Club, Harare",1,1.0
8155,Zimbabwe,West Indies,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0
8156,Zimbabwe,West Indies,test,2013,West Indies,"Kensington Oval, Bridgetown",1,1.0
8157,Zimbabwe,West Indies,test,2013,West Indies,"Windsor Park, Roseau",1,0.0

In [68]:
df_3.to_csv('01_luckiest_team.csv')

In [2]:
#just summarising the luckiest team data into a single statistic

import pandas as pd

df = pd.read_csv('01_luckiest_team.csv', index_col = 0)

df.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,matches_played,matches_won_toss
0,Afghanistan,Australia,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0
1,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,1.0
2,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,0.0

In [3]:
df_lucky = df[df['format'] == 'test'].groupby('team')[['matches_played', 'matches_won_toss']].sum().reset_index()

df_lucky

            team  matches_played  matches_won_toss
0      Australia             296             150.0
1     Bangladesh              95              49.0
2        England             314             144.0
3   ICC World XI               1               0.0
4          India             239             121.0
5    New Zealand             212             105.0
6       Pakistan             212              95.0
7   South Africa             234             117.0
8      Sri Lanka             224             124.0
9    West Indies             240             121.0
10      Zimbabwe             101              58.0

In [4]:
df_lucky['toss_won_percent'] = (df_lucky['matches_won_toss']/df_lucky['matches_played'])*100
df_lucky

            team  matches_played  matches_won_toss  toss_won_percent
0      Australia             296             150.0         50.675676
1     Bangladesh              95              49.0         51.578947
2        England             314             144.0         45.859873
3   ICC World XI               1               0.0          0.000000
4          India             239             121.0         50.627615
5    New Zealand             212             105.0         49.528302
6       Pakistan             212              95.0         44.811321
7   South Africa             234             117.0         50.000000
8      Sri Lanka             224             124.0         55.357143
9    West Indies             240             121.0         50.416667
10      Zimbabwe             101              58.0         57.425743

In [5]:
df_lucky.sort_values('toss_won_percent', ascending=False)

            team  matches_played  matches_won_toss  toss_won_percent
10      Zimbabwe             101              58.0         57.425743
8      Sri Lanka             224             124.0         55.357143
1     Bangladesh              95              49.0         51.578947
0      Australia             296             150.0         50.675676
4          India             239             121.0         50.627615
9    West Indies             240             121.0         50.416667
7   South Africa             234             117.0         50.000000
5    New Zealand             212             105.0         49.528302
2        England             314             144.0         45.859873
6       Pakistan             212              95.0         44.811321
3   ICC World XI               1               0.0          0.000000

In [11]:
df_lucky.drop(df_lucky.index[3],inplace=True)
df_lucky

            team  matches_played  matches_won_toss  toss_won_percent
0      Australia             296             150.0         50.675676
1     Bangladesh              95              49.0         51.578947
2        England             314             144.0         45.859873
4          India             239             121.0         50.627615
5    New Zealand             212             105.0         49.528302
6       Pakistan             212              95.0         44.811321
7   South Africa             234             117.0         50.000000
8      Sri Lanka             224             124.0         55.357143
9    West Indies             240             121.0         50.416667
10      Zimbabwe             101              58.0         57.425743

In [13]:
df_lucky.reset_index(drop=True)

           team  matches_played  matches_won_toss  toss_won_percent
0     Australia             296             150.0         50.675676
1    Bangladesh              95              49.0         51.578947
2       England             314             144.0         45.859873
3         India             239             121.0         50.627615
4   New Zealand             212             105.0         49.528302
5      Pakistan             212              95.0         44.811321
6  South Africa             234             117.0         50.000000
7     Sri Lanka             224             124.0         55.357143
8   West Indies             240             121.0         50.416667
9      Zimbabwe             101              58.0         57.425743

In [14]:
df_lucky.to_csv('d3_10_luckiest_team.csv', index=False)

In [69]:
df.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,toss_won,action_after_toss,match_outcome,file_name,venue_text
0,South Africa,New Zealand,test,2016,South Africa,"Centurion Park, Centurion",NO,bat,won,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
1,all_nations,New Zealand,test,2016,South Africa,"Centurion Park, Centurion",NO,bat,won,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
2,New Zealand,South Africa,test,2016,South Africa,"Centurion Park, Centurion",YES,field,lost,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."

In [70]:
# 2 -- Here I'm looking at what teams go for when they win the toss? will do this by 
    # looking at the % of matches in which toss-winner opts to bat first , field first 
    #Am slicing it by format, by team, by venue_country, by venue

#also have a category for day/night ODIs and tests, what are team strategies then?

#IGNORE THE COMMENT BELOW, JUST THINKING THINGS THROUGH
#does it make sense here to exclude the all_nations team, all matches where toss is won is just all the matches played
#in a way it still works because you get what teams have adopted as a whole, so it is the global average you're looking for


df_4 = df[df['toss_won'] == 'YES'].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_won_toss')
df_4

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1
3,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",1
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
5,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
6,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",1
7,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1
8,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
9,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
10,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",1
11,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",3
12,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1
13,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
14,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1
15,Afghanistan,Kenya,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
16,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
17,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
18,Afghanistan,Netherlands,odi,2009,Netherlands,"VRA Ground, Amstelveen",1
19,Afghanistan,Netherlands,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",1
20,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
21,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
22,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1
23,Afghanistan,Oman,t20,2015,Ireland,"Castle Avenue, Dublin",1
24,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
25,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1
26,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
27,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1
28,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1
29,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1
...,...,...,...,...,...,...,...
8193,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",1
8194,all_nations,Zimbabwe,test,1997,Zimbabwe,"Harare Sports Club, Harare",1
8195,all_nations,Zimbabwe,test,1998,Pakistan,"Gaddafi Stadium, Lahore",1
8196,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",1
8197,all_nations,Zimbabwe,test,1998,Zimbabwe,"Harare Sports Club, Harare",1
8198,all_nations,Zimbabwe,test,1999,South Africa,"Goodyear Park, Bloemfontein",1
8199,all_nations,Zimbabwe,test,1999,Zimbabwe,"Harare Sports Club, Harare",3
8200,all_nations,Zimbabwe,test,1999,Zimbabwe,"Queens Sports Club, Bulawayo",1
8201,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",1
8202,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",1
8203,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",1
8204,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",1
8205,all_nations,Zimbabwe,test,2001,Bangladesh,"MA Aziz Stadium, Chittagong",1
8206,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",3
8207,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1
8208,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",1
8209,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1
8210,all_nations,Zimbabwe,test,2004,Zimbabwe,"Harare Sports Club, Harare",1
8211,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",1
8212,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",1
8213,all_nations,Zimbabwe,test,2005,South Africa,"Centurion Park, Centurion",1
8214,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",1
8215,all_nations,Zimbabwe,test,2011,Zimbabwe,"Harare Sports Club, Harare",1
8216,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",2
8217,all_nations,Zimbabwe,test,2013,West Indies,"Windsor Park, Roseau",1
8218,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",1
8219,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1
8220,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
8221,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",1
8222,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",1

In [73]:
df_5 = df[(df['toss_won'] == 'YES') & (df['action_after_toss'] == 'bat')].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_won_toss_bat')
df_5

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss_bat
0,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1
1,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
2,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1
3,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
4,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",2
5,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1
6,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
7,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1
8,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
9,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
10,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
11,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1
12,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
13,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
14,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1
15,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1
16,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1
17,Afghanistan,Scotland,odi,2016,Scotland,"Raeburn Place, Edinburgh",1
18,Afghanistan,Scotland,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
19,Afghanistan,Scotland,t20,2015,Scotland,"Raeburn Place, Edinburgh",1
20,Afghanistan,Scotland,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
21,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1
22,Afghanistan,United Arab Emirates,odi,2014,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
23,Afghanistan,United Arab Emirates,t20,2016,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",2
24,Afghanistan,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
25,Afghanistan,Zimbabwe,odi,2015,Zimbabwe,"Queens Sports Club, Bulawayo",3
26,Afghanistan,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
27,Afghanistan,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
28,African XI,Asian Cricket Council XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
29,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
...,...,...,...,...,...,...,...
4867,all_nations,Zimbabwe,t20,2013,West Indies,"Sir Vivian Richards Stadium, North Sound",1
4868,all_nations,Zimbabwe,t20,2013,Zimbabwe,"Queens Sports Club, Bulawayo",1
4869,all_nations,Zimbabwe,t20,2014,Bangladesh,"Sylhet Stadium, Sylhet",1
4870,all_nations,Zimbabwe,t20,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
4871,all_nations,Zimbabwe,t20,2015,Zimbabwe,"Harare Sports Club, Harare",3
4872,all_nations,Zimbabwe,t20,2016,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1
4873,all_nations,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
4874,all_nations,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
4875,all_nations,Zimbabwe,test,1992,Zimbabwe,"Bulawayo Athletic Club, Bulawayo",1
4876,all_nations,Zimbabwe,test,1992,Zimbabwe,"Harare Sports Club, Harare",1
4877,all_nations,Zimbabwe,test,1993,India,"Feroz Shah Kotla, Delhi",1
4878,all_nations,Zimbabwe,test,1993,Pakistan,"Defence Housing Authority Stadium, Karachi",1
4879,all_nations,Zimbabwe,test,1994,Zimbabwe,"Harare Sports Club, Harare",2
4880,all_nations,Zimbabwe,test,1995,Zimbabwe,"Harare Sports Club, Harare",1
4881,all_nations,Zimbabwe,test,1996,New Zealand,"Eden Park, Auckland",1
4882,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",1
4883,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",1
4884,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",1
4885,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",1
4886,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",1
4887,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",2
4888,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1
4889,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",1
4890,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1
4891,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",1
4892,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",1
4893,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1
4894,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
4895,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",1
4896,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",1

In [74]:
df_6 = pd.merge(df_4, df_5, on=['team','opposing_team', 'format', 'year', 'venue_country', 'venue_ground'], how='left')
df_6.fillna(0, inplace=True)
df_6

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss,matches_won_toss_bat
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1,1.0
3,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",1,0.0
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1,1.0
5,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,0.0
6,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",1,0.0
7,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1,1.0
8,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1,1.0
9,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,0.0
10,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",1,0.0
11,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",3,2.0
12,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1,1.0
13,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1,1.0
14,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1,1.0
15,Afghanistan,Kenya,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0
16,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,2.0
17,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1,0.0
18,Afghanistan,Netherlands,odi,2009,Netherlands,"VRA Ground, Amstelveen",1,0.0
19,Afghanistan,Netherlands,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",1,0.0
20,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,1.0
21,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
22,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1,1.0
23,Afghanistan,Oman,t20,2015,Ireland,"Castle Avenue, Dublin",1,0.0
24,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
25,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,0.0
26,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
27,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1,1.0
28,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1,1.0
29,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1,1.0
...,...,...,...,...,...,...,...,...
8193,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",1,1.0
8194,all_nations,Zimbabwe,test,1997,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8195,all_nations,Zimbabwe,test,1998,Pakistan,"Gaddafi Stadium, Lahore",1,0.0
8196,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",1,1.0
8197,all_nations,Zimbabwe,test,1998,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8198,all_nations,Zimbabwe,test,1999,South Africa,"Goodyear Park, Bloemfontein",1,0.0
8199,all_nations,Zimbabwe,test,1999,Zimbabwe,"Harare Sports Club, Harare",3,0.0
8200,all_nations,Zimbabwe,test,1999,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0
8201,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",1,0.0
8202,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",1,1.0
8203,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",1,1.0
8204,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",1,1.0
8205,all_nations,Zimbabwe,test,2001,Bangladesh,"MA Aziz Stadium, Chittagong",1,0.0
8206,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",3,2.0
8207,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1,1.0
8208,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",1,1.0
8209,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1,1.0
8210,all_nations,Zimbabwe,test,2004,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8211,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0
8212,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",1,1.0
8213,all_nations,Zimbabwe,test,2005,South Africa,"Centurion Park, Centurion",1,0.0
8214,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8215,all_nations,Zimbabwe,test,2011,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8216,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",2,1.0
8217,all_nations,Zimbabwe,test,2013,West Indies,"Windsor Park, Roseau",1,0.0
8218,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",1,0.0
8219,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1,1.0
8220,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1,1.0
8221,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",1,1.0
8222,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",1,1.0

In [75]:
df_6.to_csv('02_toss_action.csv')

In [76]:
df_7 = df[(df['toss_won'] == 'YES') & (df['venue_text'].str.contains('day/night'))].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_won_toss')
df_7

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
3,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1
4,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
5,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
6,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
7,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1
8,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
9,Afghanistan,Scotland,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
10,Afghanistan,Scotland,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
11,Afghanistan,South Africa,t20,2010,West Indies,"Kensington Oval, Bridgetown",1
12,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1
13,Afghanistan,United Arab Emirates,odi,2014,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
14,Afghanistan,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
15,Afghanistan,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
16,Afghanistan,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
17,African XI,Asian Cricket Council XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
18,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Centurion Park, Centurion",1
19,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
20,Asian Cricket Council XI,African XI,odi,2007,India,"M Chinnaswamy Stadium, Bangalore",1
21,Asian Cricket Council XI,African XI,odi,2007,India,"MA Chidambaram Stadium, Chepauk, Chennai",2
22,Australia,Afghanistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
23,Australia,Bangladesh,odi,2011,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
24,Australia,Bangladesh,t20,2016,India,"M Chinnaswamy Stadium, Bangalore",1
25,Australia,England,odi,1991,Australia,"Melbourne Cricket Ground, Melbourne",1
26,Australia,England,odi,1992,Australia,"Sydney Cricket Ground, Sydney",1
27,Australia,England,odi,1994,Australia,"Sydney Cricket Ground, Sydney",1
28,Australia,England,odi,1999,Australia,"Adelaide Oval, Adelaide",1
29,Australia,England,odi,1999,Australia,"Melbourne Cricket Ground, Melbourne",1
...,...,...,...,...,...,...,...
2698,all_nations,Zimbabwe,odi,2002,India,"Punjab Cricket Association Stadium, Mohali",1
2699,all_nations,Zimbabwe,odi,2002,Sri Lanka,"R Premadasa Stadium, Colombo",2
2700,all_nations,Zimbabwe,odi,2003,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",3
2701,all_nations,Zimbabwe,odi,2004,Australia,"Adelaide Oval, Adelaide",2
2702,all_nations,Zimbabwe,odi,2004,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1
2703,all_nations,Zimbabwe,odi,2004,Australia,"Sydney Cricket Ground, Sydney",1
2704,all_nations,Zimbabwe,odi,2005,Bangladesh,"Bangabandhu National Stadium, Dhaka",1
2705,all_nations,Zimbabwe,odi,2006,Bangladesh,"Shaheed Chandu Stadium, Bogra",1
2706,all_nations,Zimbabwe,odi,2006,India,"Sardar Patel Stadium, Motera, Ahmedabad",1
2707,all_nations,Zimbabwe,odi,2006,South Africa,"Sedgars Park, Potchefstroom",1
2708,all_nations,Zimbabwe,odi,2008,Pakistan,"Multan Cricket Stadium, Multan",1
2709,all_nations,Zimbabwe,odi,2009,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2710,all_nations,Zimbabwe,odi,2010,South Africa,"OUTsurance Oval, Bloemfontein",1
2711,all_nations,Zimbabwe,odi,2010,South Africa,"Willowmoore Park Main Oval, Benoni",1
2712,all_nations,Zimbabwe,odi,2011,India,"Sardar Patel Stadium, Motera, Ahmedabad",1
2713,all_nations,Zimbabwe,odi,2012,New Zealand,"McLean Park, Napier",1
2714,all_nations,Zimbabwe,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2715,all_nations,Zimbabwe,odi,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
2716,all_nations,Zimbabwe,odi,2015,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1
2717,all_nations,Zimbabwe,odi,2015,Australia,"Manuka Oval, Canberra",1
2718,all_nations,Zimbabwe,odi,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2719,all_nations,Zimbabwe,odi,2015,New Zealand,"Eden Park, Auckland",1
2720,all_nations,Zimbabwe,odi,2015,Pakistan,"Gaddafi Stadium, Lahore",3
2721,all_nations,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
2722,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",1
2723,all_nations,Zimbabwe,t20,2012,Sri Lanka,Mahinda Rajapaksha International Cricket Stadi...,1
2724,all_nations,Zimbabwe,t20,2014,Bangladesh,"Sylhet Stadium, Sylhet",2
2725,all_nations,Zimbabwe,t20,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",2
2726,all_nations,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",2
2727,all_nations,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1

In [77]:
df_8 = df[(df['toss_won'] == 'YES') & (df['venue_text'].str.contains('day/night')) & (df['action_after_toss'] == 'bat')]\
    .groupby(['team','opposing_team', 'format','year', 'venue_country', 'venue_ground'])\
    .size().reset_index(name='matches_won_toss_bat')
df_8

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss_bat
0,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
1,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
2,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
3,Afghanistan,Scotland,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
4,Afghanistan,Scotland,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
5,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1
6,Afghanistan,United Arab Emirates,odi,2014,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
7,Afghanistan,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
8,Afghanistan,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
9,Afghanistan,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
10,African XI,Asian Cricket Council XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
11,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
12,Asian Cricket Council XI,African XI,odi,2007,India,"M Chinnaswamy Stadium, Bangalore",1
13,Asian Cricket Council XI,African XI,odi,2007,India,"MA Chidambaram Stadium, Chepauk, Chennai",2
14,Australia,Afghanistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
15,Australia,Bangladesh,odi,2011,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
16,Australia,England,odi,1991,Australia,"Melbourne Cricket Ground, Melbourne",1
17,Australia,England,odi,1992,Australia,"Sydney Cricket Ground, Sydney",1
18,Australia,England,odi,1994,Australia,"Sydney Cricket Ground, Sydney",1
19,Australia,England,odi,1999,Australia,"Adelaide Oval, Adelaide",1
20,Australia,England,odi,1999,Australia,"Melbourne Cricket Ground, Melbourne",1
21,Australia,England,odi,1999,Australia,"Sydney Cricket Ground, Sydney",1
22,Australia,England,odi,2001,England,"Old Trafford, Manchester",1
23,Australia,England,odi,2002,Australia,"Melbourne Cricket Ground, Melbourne",1
24,Australia,England,odi,2003,Australia,"Melbourne Cricket Ground, Melbourne",1
25,Australia,England,odi,2005,England,"Edgbaston, Birmingham",1
26,Australia,England,odi,2007,Australia,"Melbourne Cricket Ground, Melbourne",1
27,Australia,England,odi,2009,England,"Trent Bridge, Nottingham",1
28,Australia,England,odi,2010,England,"The Rose Bowl, Southampton",1
29,Australia,England,odi,2010,Wales,"The SWALEC Stadium, Cardiff",1
...,...,...,...,...,...,...,...
1842,all_nations,Zimbabwe,odi,2001,Australia,"Western Australia Cricket Association Ground, ...",1
1843,all_nations,Zimbabwe,odi,2001,Bangladesh,"Bangabandhu National Stadium, Dhaka",1
1844,all_nations,Zimbabwe,odi,2001,Sri Lanka,"R Premadasa Stadium, Colombo",1
1845,all_nations,Zimbabwe,odi,2001,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",4
1846,all_nations,Zimbabwe,odi,2002,India,"Punjab Cricket Association Stadium, Mohali",1
1847,all_nations,Zimbabwe,odi,2002,Sri Lanka,"R Premadasa Stadium, Colombo",2
1848,all_nations,Zimbabwe,odi,2003,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",3
1849,all_nations,Zimbabwe,odi,2004,Australia,"Adelaide Oval, Adelaide",2
1850,all_nations,Zimbabwe,odi,2004,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1
1851,all_nations,Zimbabwe,odi,2004,Australia,"Sydney Cricket Ground, Sydney",1
1852,all_nations,Zimbabwe,odi,2005,Bangladesh,"Bangabandhu National Stadium, Dhaka",1
1853,all_nations,Zimbabwe,odi,2006,India,"Sardar Patel Stadium, Motera, Ahmedabad",1
1854,all_nations,Zimbabwe,odi,2006,South Africa,"Sedgars Park, Potchefstroom",1
1855,all_nations,Zimbabwe,odi,2008,Pakistan,"Multan Cricket Stadium, Multan",1
1856,all_nations,Zimbabwe,odi,2010,South Africa,"OUTsurance Oval, Bloemfontein",1
1857,all_nations,Zimbabwe,odi,2010,South Africa,"Willowmoore Park Main Oval, Benoni",1
1858,all_nations,Zimbabwe,odi,2011,India,"Sardar Patel Stadium, Motera, Ahmedabad",1
1859,all_nations,Zimbabwe,odi,2012,New Zealand,"McLean Park, Napier",1
1860,all_nations,Zimbabwe,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
1861,all_nations,Zimbabwe,odi,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
1862,all_nations,Zimbabwe,odi,2015,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1
1863,all_nations,Zimbabwe,odi,2015,Australia,"Manuka Oval, Canberra",1
1864,all_nations,Zimbabwe,odi,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
1865,all_nations,Zimbabwe,odi,2015,Pakistan,"Gaddafi Stadium, Lahore",2
1866,all_nations,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
1867,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",1
1868,all_nations,Zimbabwe,t20,2014,Bangladesh,"Sylhet Stadium, Sylhet",1
1869,all_nations,Zimbabwe,t20,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
1870,all_nations,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
1871,all_nations,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1

In [78]:
df_9 = pd.merge(df_7, df_8, on=['team','opposing_team', 'format', 'year', 'venue_country', 'venue_ground'], how='left')
df_9.fillna(0, inplace=True)
df_9

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss,matches_won_toss_bat
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
2,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,0.0
3,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,0.0
4,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
5,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1,0.0
6,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
7,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,0.0
8,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
9,Afghanistan,Scotland,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
10,Afghanistan,Scotland,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1,1.0
11,Afghanistan,South Africa,t20,2010,West Indies,"Kensington Oval, Bridgetown",1,0.0
12,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1,1.0
13,Afghanistan,United Arab Emirates,odi,2014,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1,1.0
14,Afghanistan,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
15,Afghanistan,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1,1.0
16,Afghanistan,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
17,African XI,Asian Cricket Council XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1,1.0
18,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Centurion Park, Centurion",1,0.0
19,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1,1.0
20,Asian Cricket Council XI,African XI,odi,2007,India,"M Chinnaswamy Stadium, Bangalore",1,1.0
21,Asian Cricket Council XI,African XI,odi,2007,India,"MA Chidambaram Stadium, Chepauk, Chennai",2,2.0
22,Australia,Afghanistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
23,Australia,Bangladesh,odi,2011,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,1.0
24,Australia,Bangladesh,t20,2016,India,"M Chinnaswamy Stadium, Bangalore",1,0.0
25,Australia,England,odi,1991,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
26,Australia,England,odi,1992,Australia,"Sydney Cricket Ground, Sydney",1,1.0
27,Australia,England,odi,1994,Australia,"Sydney Cricket Ground, Sydney",1,1.0
28,Australia,England,odi,1999,Australia,"Adelaide Oval, Adelaide",1,1.0
29,Australia,England,odi,1999,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
...,...,...,...,...,...,...,...,...
2698,all_nations,Zimbabwe,odi,2002,India,"Punjab Cricket Association Stadium, Mohali",1,1.0
2699,all_nations,Zimbabwe,odi,2002,Sri Lanka,"R Premadasa Stadium, Colombo",2,2.0
2700,all_nations,Zimbabwe,odi,2003,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",3,3.0
2701,all_nations,Zimbabwe,odi,2004,Australia,"Adelaide Oval, Adelaide",2,2.0
2702,all_nations,Zimbabwe,odi,2004,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1,1.0
2703,all_nations,Zimbabwe,odi,2004,Australia,"Sydney Cricket Ground, Sydney",1,1.0
2704,all_nations,Zimbabwe,odi,2005,Bangladesh,"Bangabandhu National Stadium, Dhaka",1,1.0
2705,all_nations,Zimbabwe,odi,2006,Bangladesh,"Shaheed Chandu Stadium, Bogra",1,0.0
2706,all_nations,Zimbabwe,odi,2006,India,"Sardar Patel Stadium, Motera, Ahmedabad",1,1.0
2707,all_nations,Zimbabwe,odi,2006,South Africa,"Sedgars Park, Potchefstroom",1,1.0
2708,all_nations,Zimbabwe,odi,2008,Pakistan,"Multan Cricket Stadium, Multan",1,1.0
2709,all_nations,Zimbabwe,odi,2009,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
2710,all_nations,Zimbabwe,odi,2010,South Africa,"OUTsurance Oval, Bloemfontein",1,1.0
2711,all_nations,Zimbabwe,odi,2010,South Africa,"Willowmoore Park Main Oval, Benoni",1,1.0
2712,all_nations,Zimbabwe,odi,2011,India,"Sardar Patel Stadium, Motera, Ahmedabad",1,1.0
2713,all_nations,Zimbabwe,odi,2012,New Zealand,"McLean Park, Napier",1,1.0
2714,all_nations,Zimbabwe,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,1.0
2715,all_nations,Zimbabwe,odi,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1,1.0
2716,all_nations,Zimbabwe,odi,2015,Australia,"Brisbane Cricket Ground, Woolloongabba, Brisbane",1,1.0
2717,all_nations,Zimbabwe,odi,2015,Australia,"Manuka Oval, Canberra",1,1.0
2718,all_nations,Zimbabwe,odi,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,1.0
2719,all_nations,Zimbabwe,odi,2015,New Zealand,"Eden Park, Auckland",1,0.0
2720,all_nations,Zimbabwe,odi,2015,Pakistan,"Gaddafi Stadium, Lahore",3,2.0
2721,all_nations,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0
2722,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",1,1.0
2723,all_nations,Zimbabwe,t20,2012,Sri Lanka,Mahinda Rajapaksha International Cricket Stadi...,1,0.0
2724,all_nations,Zimbabwe,t20,2014,Bangladesh,"Sylhet Stadium, Sylhet",2,1.0
2725,all_nations,Zimbabwe,t20,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",2,1.0
2726,all_nations,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",2,1.0
2727,all_nations,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,1.0

In [79]:
df_9.to_csv('03_toss_action_day_night.csv')

In [80]:
df['venue_ground'].unique()

array(['Centurion Park, Centurion', 'Kensington Oval, Bridgetown',
       'The Brit Oval, Kennington', 'Old Trafford, Manchester',
       'Sinhalese Sports Club Ground, Colombo', 'Wankhede Stadium, Bombay',
       "Lord's Cricket Ground, St John's Wood", 'Newlands, Cape Town',
       'Sydney Cricket Ground, Sydney',
       'Riverside Ground, Chester-le-Street', 'Bourda, Georgetown',
       'Harare Sports Club, Harare',
       'MA Chidambaram Stadium, Chepauk, Chennai',
       'Melbourne Cricket Ground, Melbourne', 'Asgiriya Stadium, Kandy',
       'WestpacTrust Park, Hamilton', 'Eden Park, Auckland',
       "Queen's Park Oval, Port of Spain",
       'Rawalpindi Cricket Stadium, Rawalpindi', 'Eden Gardens, Calcutta',
       'Headingley, Leeds', 'MA Aziz Stadium, Chittagong',
       "Axxess DSL St George's, Port Elizabeth",
       "Queen's Park (New), St George's", 'Seddon Park, Hamilton',
       'Narayanganj Osmani Stadium, Fatullah',
       'Western Australia Cricket Association Ground, Perth',
       'Trent Bridge, Nottingham', 'Dubai Sports City Stadium, Dubai',
       'Basin Reserve, Wellington', 'Jade Stadium, Christchurch',
       'M Chinnaswamy Stadium, Bangalore', 'Edgbaston, Birmingham',
       'Sahara Park Newlands, Cape Town',
       'Sheikh Zayed Stadium, Abu Dhabi', 'Sabina Park, Kingston',
       'Galle International Stadium, Galle',
       'Arnos Vale Playing Field, Kingstown', 'Iqbal Stadium, Faisalabad',
       'Kingsmead, Durban', 'R Premadasa Stadium, Colombo',
       "Antigua Recreation Ground, St John's", 'Wankhede Stadium, Mumbai',
       'New Wanderers Stadium, Johannesburg', 'Gaddafi Stadium, Lahore',
       'Vidarbha Cricket Association Ground, Nagpur',
       'The Kia Oval, Kennington', 'National Stadium, Karachi',
       'Shere Bangla National Stadium, Mirpur', 'Bellerive Oval, Hobart',
       'Sardar Patel Stadium, Motera, Ahmedabad',
       "The Foster's Oval, Kennington",
       'Tyronne Fernando Stadium, Moratuwa',
       'Sharjah Cricket Association Stadium, Sharjah',
       'Sahara Stadium, Kingsmead, Durban',
       'Zohur Ahmed Chowdhury Stadium, Chittagong',
       'Adelaide Oval, Adelaide',
       'Emirates Durham International Cricket Ground, Chester-le-Street',
       'Lancaster Park, Christchurch',
       'Brisbane Cricket Ground, Woolloongabba, Brisbane',
       'Bangabandhu National Stadium, Dhaka',
       'Bir Shrestha Shahid Ruhul Amin Stadium, Chittagong',
       'Queens Sports Club, Bulawayo', 'Khettarama Stadium, Colombo',
       'Municipal Stadium, Gujranwala', 'Hagley Oval, Christchurch',
       'Windsor Park, Roseau', 'Trust Bank Park, Hamilton',
       'McLean Park, Napier', 'Warner Park, Basseterre',
       'Multan Cricket Stadium, Multan',
       'Emirates Riverside, Chester-le-Street', 'The AMP Oval, Kennington',
       'Sir Vivian Richards Stadium, North Sound',
       "St George's Park, Port Elizabeth", 'Eden Gardens, Kolkata',
       'North West Cricket Stadium, Potchefstroom',
       'Arbab Niaz Stadium, Peshawar', 'The SWALEC Stadium, Cardiff',
       'Sheikh Abu Naser Stadium, Khulna',
       'Vidarbha Cricket Association Stadium, Nagpur',
       'P Sara Oval, Colombo', 'The SSE SWALEC Stadium, Cardiff',
       'The Rose Bowl, Southampton', 'P Saravanamuttu Stadium, Colombo',
       'Feroz Shah Kotla, Delhi',
       'Rajiv Gandhi International Stadium, Uppal, Hyderabad',
       "Sahara Oval, St George's Park, Port Elizabeth",
       'Barabati Stadium, Cuttack', 'Bundaberg Rum Stadium, Cairns',
       'Punjab Cricket Association Stadium, Mohali',
       'Bidvest Wanderers Stadium, Johannesburg',
       'Pallekele Cricket Stadium, Pallekele',
       'Marrara Cricket Ground, Darwin', 'Brabourne Stadium, Mumbai',
       'Jinnah Stadium, Sialkot', 'Emirates Old Trafford, Manchester',
       'Gujarat Stadium, Motera, Ahmedabad', 'Modi Stadium, Kanpur',
       'University Oval, Dunedin', 'Sheikhupura Stadium, Sheikhupura',
       'Goodyear Park, Bloemfontein', 'Westpac Park, Hamilton',
       'Guyana National Stadium, Providence', 'PPC Newlands, Cape Town',
       'Defence Housing Authority Stadium, Karachi',
       'Buffalo Park, East London', 'Carisbrook, Dunedin',
       'Beausejour Stadium, Gros Islet', 'The Ageas Bowl, Southampton',
       'Blundstone Arena, Hobart',
       'MA Chidambaram Stadium, Chepauk, Madras',
       'OUTsurance Oval, Bloemfontein',
       'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam',
       'KD Singh Babu Stadium, Lucknow', 'Holkar Stadium, Indore',
       'Darren Sammy National Cricket Stadium, Gros Islet',
       'Khan Shaheb Osman Ali Stadium, Fatullah',
       'Bulawayo Athletic Club, Bulawayo', 'Shaheed Chandu Stadium, Bogra',
       'Saurashtra Cricket Association Stadium, Rajkot',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       "Cazaly's Stadium, Cairns", 'National Cricket Stadium, Tangier',
       'Gymkhana Club Ground, Nairobi',
       'County Ground, New Road, Worcester',
       'Rangiri Dambulla International Stadium, Dambulla',
       'VRA Ground, Amstelveen', 'Mannofield Park, Aberdeen',
       'Cambusdoon New Ground, Alloway', 'Sportpark Westvliet, Voorburg',
       'Westpac Stadium, Wellington', 'Boland Bank Park, Paarl',
       'Mercedes Benz Park, East London', 'Hazelaarweg, Rotterdam',
       'Mahinda Rajapaksha International Cricket Stadium, Hambantota',
       'Queenstown Events Centre, Queenstown',
       'Jinnah Stadium, Gujranwala', 'County Ground, Bristol',
       'Castle Avenue, Dublin',
       'Indira Priyadarshini Stadium, Visakhapatnam',
       'Owen Delany Park, Taupo', 'Senwes Park, Potchefstroom',
       'Colonial Stadium, Melbourne', 'Keenan Stadium, Jamshedpur',
       'Indian Petrochemicals Corporation Limited Sports Complex Ground, Vadodara',
       'Civil Service Cricket Club, Stormont, Belfast',
       'The Village, Malahide, Dublin',
       'Reliance Cricket Stadium, Vadodara', 'Nehru Stadium, Indore',
       'Maple Leaf North-West Ground, King City',
       'Armour Heights, Toronto', 'Kallang Ground, Singapore',
       'Lal Bahadur Shastri Stadium, Hyderabad',
       'St Lawrence Ground, Canterbury', 'Centurion Park, Verwoerdburg',
       'Telstra Dome, Melbourne',
       'Bir Shrestha Shahid Flight Lieutenant Motiur Rahman Stadium, Khulna',
       'Raeburn Place, Edinburgh', 'Pukekura Park, New Plymouth',
       'Ruaraka Sports Club Ground, Nairobi', 'Manuka Oval, Canberra',
       'Sports Stadium, Sargodha', 'Captain Roop Singh Stadium, Gwalior',
       'Nahar Singh Stadium, Faridabad', 'Mission Road Ground, Hong Kong',
       'Jharkhand State Cricket Association Oval Ground, Ranchi',
       'Sophia Gardens, Cardiff', 'Kinrara Academy Oval, Kuala Lumpur',
       'Nehru Stadium, Kochi', 'Nehru Stadium, Guwahati',
       'Sawai Mansingh Stadium, Jaipur', 'Saxton Oval, Nelson',
       'Aga Khan Sports Club Ground, Nairobi',
       'Willowmoore Park Main Oval, Benoni',
       'Barkatullah Khan Stadium, Jodhpur',
       'Mombasa Sports Club Ground, Mombasa',
       'Nairobi Club Ground, Nairobi',
       'Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium, Visakhapatnam',
       'Gandhi Sports Complex Ground, Amritsar', 'Nehru Stadium, Pune',
       'Mangaung Oval, Bloemfontein',
       'Madhavrao Scindia Cricket Ground, Rajkot',
       'Municipal Stadium, Rajkot', 'Nehru Stadium, Fatorda, Margao',
       'County Ground, Northampton', 'Sedgars Park, Potchefstroom',
       'Jawaharlal Nehru Stadium, New Delhi', 'AMI Stadium, Christchurch',
       'County Ground, Chelmsford', 'De Beers Diamond Oval, Kimberley',
       'Titwood, Glasgow',
       'The Royal and Sun Alliance County Ground, Bristol',
       'Sector 16 Stadium, Chandigarh', 'WestpacTrust Stadium, Wellington',
       'Simba Union Ground, Nairobi',
       'Ray Mitchell Oval, Harrup Park, Mackay', 'The Padang, Singapore',
       'County Ground, Southampton', 'Bay Oval, Mount Maunganui',
       'Lavington Sports Oval, Albury', 'Brabourne Stadium, Bombay',
       'Moin-ul-Haq Stadium, Patna', 'Subrata Roy Sahara Stadium, Gahunje',
       'Cobham Oval (New), Whangarei', 'County Ground, Derby',
       'ICC Cricket Academy Ground, Dubai',
       'Himachal Pradesh Cricket Association Stadium, Dharamsala',
       'Eastern Oval, Ballarat', 'Jaffery Sports Club Ground, Nairobi',
       'Grace Road, Leicester',
       'Indira Gandhi Municipal Corporation Stadium, Vijayawada',
       'Niaz Stadium, Hyderabad',
       'Maharani Usharaje Trust Cricket Ground, Indore',
       'Chevrolet Park, Bloemfontein', 'Ibn-e-Qasim Bagh Stadium, Multan',
       'Bayuemas Oval, Kuala Lumpur', 'Sportpark Thurlede, Schiedam',
       'City Oval, Pietermaritzburg', 'Berri Oval, Berri',
       'Heavy Engineering Corporation International Cricket Stadium Complex, Ranchi',
       'Gandhi Stadium, Jalandhar', 'Kwekwe Sports Club, Kwekwe',
       'Bert Sutcliffe Oval, Lincoln', 'Boland Park, Paarl',
       'Tony Ireland Stadium, Townsville',
       'Sportpark Duivesteijn, Voorburg', 'County Ground, Taunton',
       'Bugti Stadium, Quetta', 'County Ground, Hove',
       'Sylhet Stadium, Sylhet',
       'Central Broward Regional Park Stadium Turf Ground, Lauderhill',
       'ANZ Stadium, Sydney', 'Magheramason, Bready',
       'Wanderers Cricket Ground, Windhoek',
       'Moses Mabhida Stadium, Durban'], dtype=object)

In [123]:
#3 - am looking toss strategy stats at famous grounds and bowler-friendly cricket grounds around the world over the past 25 years
#by format, by team

grounds_list = ['Trent Bridge, Nottingham','Sabina Park, Kingston',\
                'Bidvest Wanderers Stadium, Johannesburg','New Wanderers Stadium, Johannesburg',\
                'Wankhede Stadium, Mumbai', 'Wankhede Stadium, Bombay','Galle International Stadium, Galle',\
                'Eden Gardens, Calcutta', 'Eden Gardens, Kolkata', "Lord's Cricket Ground, St John's Wood",\
                'Melbourne Cricket Ground, Melbourne', "Queen's Park Oval, Port of Spain",\
                "Queen's Park (New), St George's",'Sahara Park Newlands, Cape Town',\
                'PPC Newlands, Cape Town', 'Newlands, Cape Town']


df_10 = df[(df['venue_ground'].isin(grounds_list)) & (df['toss_won'] == 'YES')].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_won_toss')

df_10

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss
0,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1
1,Australia,Bangladesh,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",1
2,Australia,England,odi,1991,Australia,"Melbourne Cricket Ground, Melbourne",1
3,Australia,England,odi,1999,Australia,"Melbourne Cricket Ground, Melbourne",1
4,Australia,England,odi,2002,Australia,"Melbourne Cricket Ground, Melbourne",1
5,Australia,England,odi,2003,Australia,"Melbourne Cricket Ground, Melbourne",1
6,Australia,England,odi,2005,England,"Lord's Cricket Ground, St John's Wood",1
7,Australia,England,odi,2007,Australia,"Melbourne Cricket Ground, Melbourne",1
8,Australia,England,odi,2009,England,"Trent Bridge, Nottingham",1
9,Australia,England,odi,2010,England,"Lord's Cricket Ground, St John's Wood",1
10,Australia,England,odi,2012,England,"Lord's Cricket Ground, St John's Wood",1
11,Australia,England,t20,2011,Australia,"Melbourne Cricket Ground, Melbourne",1
12,Australia,England,test,1993,England,"Lord's Cricket Ground, St John's Wood",1
13,Australia,England,test,1997,England,"Lord's Cricket Ground, St John's Wood",1
14,Australia,England,test,1997,England,"Trent Bridge, Nottingham",1
15,Australia,England,test,1998,Australia,"Melbourne Cricket Ground, Melbourne",1
16,Australia,England,test,2001,England,"Lord's Cricket Ground, St John's Wood",1
17,Australia,England,test,2002,Australia,"Melbourne Cricket Ground, Melbourne",1
18,Australia,England,test,2005,England,"Lord's Cricket Ground, St John's Wood",1
19,Australia,England,test,2013,Australia,"Melbourne Cricket Ground, Melbourne",1
20,Australia,England,test,2015,England,"Lord's Cricket Ground, St John's Wood",1
21,Australia,India,odi,1992,Australia,"Melbourne Cricket Ground, Melbourne",1
22,Australia,India,odi,1996,India,"Wankhede Stadium, Bombay",1
23,Australia,India,odi,2000,Australia,"Melbourne Cricket Ground, Melbourne",1
24,Australia,India,odi,2003,India,"Eden Gardens, Kolkata",1
25,Australia,India,odi,2003,India,"Wankhede Stadium, Mumbai",1
26,Australia,India,odi,2004,Australia,"Melbourne Cricket Ground, Melbourne",1
27,Australia,India,odi,2007,India,"Wankhede Stadium, Mumbai",1
28,Australia,India,odi,2008,Australia,"Melbourne Cricket Ground, Melbourne",1
29,Australia,India,odi,2016,Australia,"Melbourne Cricket Ground, Melbourne",1
...,...,...,...,...,...,...,...
1263,all_nations,West Indies,test,2002,India,"Wankhede Stadium, Mumbai",1
1264,all_nations,West Indies,test,2002,West Indies,"Sabina Park, Kingston",1
1265,all_nations,West Indies,test,2003,South Africa,"New Wanderers Stadium, Johannesburg",1
1266,all_nations,West Indies,test,2003,West Indies,"Queen's Park Oval, Port of Spain",1
1267,all_nations,West Indies,test,2004,South Africa,"Sahara Park Newlands, Cape Town",1
1268,all_nations,West Indies,test,2004,West Indies,"Sabina Park, Kingston",1
1269,all_nations,West Indies,test,2005,West Indies,"Sabina Park, Kingston",1
1270,all_nations,West Indies,test,2006,West Indies,"Sabina Park, Kingston",1
1271,all_nations,West Indies,test,2008,West Indies,"Sabina Park, Kingston",1
1272,all_nations,West Indies,test,2009,West Indies,"Queen's Park (New), St George's",1
1273,all_nations,West Indies,test,2009,West Indies,"Queen's Park Oval, Port of Spain",1
1274,all_nations,West Indies,test,2009,West Indies,"Sabina Park, Kingston",1
1275,all_nations,West Indies,test,2010,West Indies,"Queen's Park Oval, Port of Spain",1
1276,all_nations,West Indies,test,2011,India,"Eden Gardens, Kolkata",1
1277,all_nations,West Indies,test,2011,West Indies,"Sabina Park, Kingston",1
1278,all_nations,West Indies,test,2012,England,"Lord's Cricket Ground, St John's Wood",1
1279,all_nations,West Indies,test,2012,West Indies,"Queen's Park Oval, Port of Spain",1
1280,all_nations,West Indies,test,2013,India,"Wankhede Stadium, Mumbai",1
1281,all_nations,West Indies,test,2014,West Indies,"Queen's Park Oval, Port of Spain",1
1282,all_nations,West Indies,test,2014,West Indies,"Sabina Park, Kingston",1
1283,all_nations,West Indies,test,2015,Sri Lanka,"Galle International Stadium, Galle",1
1284,all_nations,West Indies,test,2015,West Indies,"Queen's Park (New), St George's",1
1285,all_nations,Zimbabwe,odi,1999,England,"Trent Bridge, Nottingham",1
1286,all_nations,Zimbabwe,odi,2000,England,"Lord's Cricket Ground, St John's Wood",1
1287,all_nations,Zimbabwe,odi,2000,West Indies,"Sabina Park, Kingston",1
1288,all_nations,Zimbabwe,odi,2006,West Indies,"Queen's Park Oval, Port of Spain",3
1289,all_nations,Zimbabwe,odi,2007,West Indies,"Sabina Park, Kingston",1
1290,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",2
1291,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",1
1292,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1

In [124]:
#part of the code from 
#http://stackoverflow.com/questions/18250298/how-to-check-if-a-value-is-in-the-list-in-selection-from-pandas-data-frame

df_11 = df[(df['venue_ground'].isin(grounds_list)) & (df['toss_won'] == 'YES') & (df['action_after_toss'] == 'bat')]\
        .groupby(['team','opposing_team', 'format',\
                'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_won_toss_bat')

df_11

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss_bat
0,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1
1,Australia,England,odi,1991,Australia,"Melbourne Cricket Ground, Melbourne",1
2,Australia,England,odi,1999,Australia,"Melbourne Cricket Ground, Melbourne",1
3,Australia,England,odi,2002,Australia,"Melbourne Cricket Ground, Melbourne",1
4,Australia,England,odi,2003,Australia,"Melbourne Cricket Ground, Melbourne",1
5,Australia,England,odi,2007,Australia,"Melbourne Cricket Ground, Melbourne",1
6,Australia,England,odi,2009,England,"Trent Bridge, Nottingham",1
7,Australia,England,odi,2010,England,"Lord's Cricket Ground, St John's Wood",1
8,Australia,England,t20,2011,Australia,"Melbourne Cricket Ground, Melbourne",1
9,Australia,England,test,1993,England,"Lord's Cricket Ground, St John's Wood",1
10,Australia,England,test,1997,England,"Trent Bridge, Nottingham",1
11,Australia,England,test,2002,Australia,"Melbourne Cricket Ground, Melbourne",1
12,Australia,England,test,2005,England,"Lord's Cricket Ground, St John's Wood",1
13,Australia,England,test,2015,England,"Lord's Cricket Ground, St John's Wood",1
14,Australia,India,odi,1992,Australia,"Melbourne Cricket Ground, Melbourne",1
15,Australia,India,odi,1996,India,"Wankhede Stadium, Bombay",1
16,Australia,India,odi,2000,Australia,"Melbourne Cricket Ground, Melbourne",1
17,Australia,India,odi,2003,India,"Eden Gardens, Kolkata",1
18,Australia,India,odi,2003,India,"Wankhede Stadium, Mumbai",1
19,Australia,India,odi,2004,Australia,"Melbourne Cricket Ground, Melbourne",1
20,Australia,India,odi,2007,India,"Wankhede Stadium, Mumbai",1
21,Australia,India,odi,2008,Australia,"Melbourne Cricket Ground, Melbourne",1
22,Australia,India,t20,2012,Australia,"Melbourne Cricket Ground, Melbourne",1
23,Australia,India,test,1998,India,"Eden Gardens, Calcutta",1
24,Australia,India,test,2001,India,"Eden Gardens, Calcutta",1
25,Australia,India,test,2007,Australia,"Melbourne Cricket Ground, Melbourne",1
26,Australia,India,test,2011,Australia,"Melbourne Cricket Ground, Melbourne",1
27,Australia,India,test,2014,Australia,"Melbourne Cricket Ground, Melbourne",1
28,Australia,New Zealand,odi,1993,Australia,"Melbourne Cricket Ground, Melbourne",1
29,Australia,New Zealand,odi,1994,Australia,"Melbourne Cricket Ground, Melbourne",1
...,...,...,...,...,...,...,...
767,all_nations,West Indies,test,1996,Australia,"Melbourne Cricket Ground, Melbourne",1
768,all_nations,West Indies,test,1998,West Indies,"Queen's Park Oval, Port of Spain",1
769,all_nations,West Indies,test,1998,West Indies,"Sabina Park, Kingston",1
770,all_nations,West Indies,test,1999,South Africa,"Newlands, Cape Town",1
771,all_nations,West Indies,test,1999,West Indies,"Queen's Park Oval, Port of Spain",1
772,all_nations,West Indies,test,1999,West Indies,"Sabina Park, Kingston",1
773,all_nations,West Indies,test,2000,West Indies,"Sabina Park, Kingston",1
774,all_nations,West Indies,test,2001,West Indies,"Queen's Park Oval, Port of Spain",1
775,all_nations,West Indies,test,2002,India,"Eden Gardens, Kolkata",1
776,all_nations,West Indies,test,2002,India,"Wankhede Stadium, Mumbai",1
777,all_nations,West Indies,test,2003,South Africa,"New Wanderers Stadium, Johannesburg",1
778,all_nations,West Indies,test,2003,West Indies,"Queen's Park Oval, Port of Spain",1
779,all_nations,West Indies,test,2004,South Africa,"Sahara Park Newlands, Cape Town",1
780,all_nations,West Indies,test,2004,West Indies,"Sabina Park, Kingston",1
781,all_nations,West Indies,test,2005,West Indies,"Sabina Park, Kingston",1
782,all_nations,West Indies,test,2006,West Indies,"Sabina Park, Kingston",1
783,all_nations,West Indies,test,2008,West Indies,"Sabina Park, Kingston",1
784,all_nations,West Indies,test,2009,West Indies,"Queen's Park Oval, Port of Spain",1
785,all_nations,West Indies,test,2009,West Indies,"Sabina Park, Kingston",1
786,all_nations,West Indies,test,2010,West Indies,"Queen's Park Oval, Port of Spain",1
787,all_nations,West Indies,test,2011,India,"Eden Gardens, Kolkata",1
788,all_nations,West Indies,test,2011,West Indies,"Sabina Park, Kingston",1
789,all_nations,West Indies,test,2012,West Indies,"Queen's Park Oval, Port of Spain",1
790,all_nations,West Indies,test,2014,West Indies,"Queen's Park Oval, Port of Spain",1
791,all_nations,West Indies,test,2014,West Indies,"Sabina Park, Kingston",1
792,all_nations,West Indies,test,2015,Sri Lanka,"Galle International Stadium, Galle",1
793,all_nations,Zimbabwe,odi,2000,West Indies,"Sabina Park, Kingston",1
794,all_nations,Zimbabwe,odi,2006,West Indies,"Queen's Park Oval, Port of Spain",2
795,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",2
796,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1

In [125]:
df_12 = pd.merge(df_10, df_11, on=['team','opposing_team', 'format', 'year', 'venue_country', 'venue_ground'], how='left')
df_12.fillna(0, inplace=True)
df_12

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss,matches_won_toss_bat
0,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1,1.0
1,Australia,Bangladesh,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",1,0.0
2,Australia,England,odi,1991,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
3,Australia,England,odi,1999,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
4,Australia,England,odi,2002,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
5,Australia,England,odi,2003,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
6,Australia,England,odi,2005,England,"Lord's Cricket Ground, St John's Wood",1,0.0
7,Australia,England,odi,2007,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
8,Australia,England,odi,2009,England,"Trent Bridge, Nottingham",1,1.0
9,Australia,England,odi,2010,England,"Lord's Cricket Ground, St John's Wood",1,1.0
10,Australia,England,odi,2012,England,"Lord's Cricket Ground, St John's Wood",1,0.0
11,Australia,England,t20,2011,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
12,Australia,England,test,1993,England,"Lord's Cricket Ground, St John's Wood",1,1.0
13,Australia,England,test,1997,England,"Lord's Cricket Ground, St John's Wood",1,0.0
14,Australia,England,test,1997,England,"Trent Bridge, Nottingham",1,1.0
15,Australia,England,test,1998,Australia,"Melbourne Cricket Ground, Melbourne",1,0.0
16,Australia,England,test,2001,England,"Lord's Cricket Ground, St John's Wood",1,0.0
17,Australia,England,test,2002,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
18,Australia,England,test,2005,England,"Lord's Cricket Ground, St John's Wood",1,1.0
19,Australia,England,test,2013,Australia,"Melbourne Cricket Ground, Melbourne",1,0.0
20,Australia,England,test,2015,England,"Lord's Cricket Ground, St John's Wood",1,1.0
21,Australia,India,odi,1992,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
22,Australia,India,odi,1996,India,"Wankhede Stadium, Bombay",1,1.0
23,Australia,India,odi,2000,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
24,Australia,India,odi,2003,India,"Eden Gardens, Kolkata",1,1.0
25,Australia,India,odi,2003,India,"Wankhede Stadium, Mumbai",1,1.0
26,Australia,India,odi,2004,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
27,Australia,India,odi,2007,India,"Wankhede Stadium, Mumbai",1,1.0
28,Australia,India,odi,2008,Australia,"Melbourne Cricket Ground, Melbourne",1,1.0
29,Australia,India,odi,2016,Australia,"Melbourne Cricket Ground, Melbourne",1,0.0
...,...,...,...,...,...,...,...,...
1263,all_nations,West Indies,test,2002,India,"Wankhede Stadium, Mumbai",1,1.0
1264,all_nations,West Indies,test,2002,West Indies,"Sabina Park, Kingston",1,0.0
1265,all_nations,West Indies,test,2003,South Africa,"New Wanderers Stadium, Johannesburg",1,1.0
1266,all_nations,West Indies,test,2003,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
1267,all_nations,West Indies,test,2004,South Africa,"Sahara Park Newlands, Cape Town",1,1.0
1268,all_nations,West Indies,test,2004,West Indies,"Sabina Park, Kingston",1,1.0
1269,all_nations,West Indies,test,2005,West Indies,"Sabina Park, Kingston",1,1.0
1270,all_nations,West Indies,test,2006,West Indies,"Sabina Park, Kingston",1,1.0
1271,all_nations,West Indies,test,2008,West Indies,"Sabina Park, Kingston",1,1.0
1272,all_nations,West Indies,test,2009,West Indies,"Queen's Park (New), St George's",1,0.0
1273,all_nations,West Indies,test,2009,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
1274,all_nations,West Indies,test,2009,West Indies,"Sabina Park, Kingston",1,1.0
1275,all_nations,West Indies,test,2010,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
1276,all_nations,West Indies,test,2011,India,"Eden Gardens, Kolkata",1,1.0
1277,all_nations,West Indies,test,2011,West Indies,"Sabina Park, Kingston",1,1.0
1278,all_nations,West Indies,test,2012,England,"Lord's Cricket Ground, St John's Wood",1,0.0
1279,all_nations,West Indies,test,2012,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
1280,all_nations,West Indies,test,2013,India,"Wankhede Stadium, Mumbai",1,0.0
1281,all_nations,West Indies,test,2014,West Indies,"Queen's Park Oval, Port of Spain",1,1.0
1282,all_nations,West Indies,test,2014,West Indies,"Sabina Park, Kingston",1,1.0
1283,all_nations,West Indies,test,2015,Sri Lanka,"Galle International Stadium, Galle",1,1.0
1284,all_nations,West Indies,test,2015,West Indies,"Queen's Park (New), St George's",1,0.0
1285,all_nations,Zimbabwe,odi,1999,England,"Trent Bridge, Nottingham",1,0.0
1286,all_nations,Zimbabwe,odi,2000,England,"Lord's Cricket Ground, St John's Wood",1,0.0
1287,all_nations,Zimbabwe,odi,2000,West Indies,"Sabina Park, Kingston",1,1.0
1288,all_nations,Zimbabwe,odi,2006,West Indies,"Queen's Park Oval, Port of Spain",3,2.0
1289,all_nations,Zimbabwe,odi,2007,West Indies,"Sabina Park, Kingston",1,0.0
1290,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",2,2.0
1291,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",1,0.0
1292,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1,1.0

In [126]:
#change name of ground
#also introduce separation by whether they bat or field first
#code from http://stackoverflow.com/questions/31888871/pandas-replacing-column-values

df_12['venue_ground'].replace({'Bidvest Wanderers Stadium, Johannesburg':'New Wanderers Stadium, Johannesburg',
                               'Eden Gardens, Calcutta':'Eden Gardens, Kolkata',
                               "Queen's Park (New), St George's":"Queen's Park Oval, Port of Spain",
                               'Sahara Park Newlands, Cape Town':'Newlands, Cape Town',
                               'PPC Newlands, Cape Town':'Newlands, Cape Town',
                               'Wankhede Stadium, Bombay':'Wankhede Stadium, Mumbai'
                              },inplace=True)

In [127]:
df_12['venue_ground'].unique()

array(['Eden Gardens, Kolkata', 'Newlands, Cape Town',
       'Melbourne Cricket Ground, Melbourne',
       "Lord's Cricket Ground, St John's Wood", 'Trent Bridge, Nottingham',
       'Wankhede Stadium, Mumbai', "Queen's Park Oval, Port of Spain",
       'New Wanderers Stadium, Johannesburg',
       'Galle International Stadium, Galle', 'Sabina Park, Kingston'], dtype=object)

In [128]:
df_12.to_csv('04_toss_action_imp_grounds.csv')

In [88]:
df.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,toss_won,action_after_toss,match_outcome,file_name,venue_text
0,South Africa,New Zealand,test,2016,South Africa,"Centurion Park, Centurion",NO,bat,won,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
1,all_nations,New Zealand,test,2016,South Africa,"Centurion Park, Centurion",NO,bat,won,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."
2,New Zealand,South Africa,test,2016,South Africa,"Centurion Park, Centurion",YES,field,lost,test_1125.html,"Centurion Park, Centurion on 27th, 28th, 29th,..."

In [89]:
# 4 -- what % of matches where teams win the toss do winners ultimately win those matches too?
#also introduce separation by whether they bat or field first

#so have left all_nations category in, but be careful about it, it's valid in certain calculations but not in others

df_13 = df[df['toss_won'] == 'YES'].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground', 'action_after_toss']).size().reset_index(name='matches_won_toss')
df_13

,team,opposing_team,format,year,venue_country,venue_ground,action_after_toss,matches_won_toss
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",field,1
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",field,1
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",bat,1
3,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",field,1
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",bat,1
5,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",field,1
6,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",field,1
7,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",bat,1
8,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",bat,1
9,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",field,1
10,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",field,1
11,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",bat,2
12,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",field,1
13,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",bat,1
14,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",bat,1
15,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",bat,1
16,Afghanistan,Kenya,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1
17,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,2
18,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",field,1
19,Afghanistan,Netherlands,odi,2009,Netherlands,"VRA Ground, Amstelveen",field,1
20,Afghanistan,Netherlands,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",field,1
21,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
22,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1
23,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
24,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",bat,1
25,Afghanistan,Oman,t20,2015,Ireland,"Castle Avenue, Dublin",field,1
26,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
27,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",field,1
28,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
29,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",bat,1
...,...,...,...,...,...,...,...,...
8621,all_nations,Zimbabwe,test,1998,Pakistan,"Gaddafi Stadium, Lahore",field,1
8622,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",bat,1
8623,all_nations,Zimbabwe,test,1998,Zimbabwe,"Harare Sports Club, Harare",field,1
8624,all_nations,Zimbabwe,test,1999,South Africa,"Goodyear Park, Bloemfontein",field,1
8625,all_nations,Zimbabwe,test,1999,Zimbabwe,"Harare Sports Club, Harare",field,3
8626,all_nations,Zimbabwe,test,1999,Zimbabwe,"Queens Sports Club, Bulawayo",field,1
8627,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",field,1
8628,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",bat,1
8629,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",bat,1
8630,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",bat,1
8631,all_nations,Zimbabwe,test,2001,Bangladesh,"MA Aziz Stadium, Chittagong",field,1
8632,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",bat,2
8633,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",field,1
8634,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",bat,1
8635,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",bat,1
8636,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1
8637,all_nations,Zimbabwe,test,2004,Zimbabwe,"Harare Sports Club, Harare",field,1
8638,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",field,1
8639,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",bat,1
8640,all_nations,Zimbabwe,test,2005,South Africa,"Centurion Park, Centurion",field,1
8641,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",field,1
8642,all_nations,Zimbabwe,test,2011,Zimbabwe,"Harare Sports Club, Harare",field,1
8643,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1
8644,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",field,1
8645,all_nations,Zimbabwe,test,2013,West Indies,"Windsor Park, Roseau",field,1
8646,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",field,1
8647,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",bat,1
8648,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",bat,1
8649,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",bat,1
8650,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1

In [90]:
df_14 = df[(df['toss_won'] == 'YES') & (df['match_outcome'] == 'won')].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground', 'action_after_toss']).size().reset_index(name='matches_won_toss_won_match')
df_14

,team,opposing_team,format,year,venue_country,venue_ground,action_after_toss,matches_won_toss_won_match
0,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",field,1
1,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",bat,1
2,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",field,1
3,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",bat,1
4,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",field,1
5,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",bat,1
6,Afghanistan,Kenya,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1
7,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,2
8,Afghanistan,Netherlands,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",field,1
9,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1
10,Afghanistan,Oman,t20,2015,Ireland,"Castle Avenue, Dublin",field,1
11,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",bat,1
12,Afghanistan,Scotland,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1
13,Afghanistan,Scotland,odi,2015,New Zealand,"University Oval, Dunedin",field,1
14,Afghanistan,Scotland,odi,2015,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",field,1
15,Afghanistan,Scotland,odi,2016,Scotland,"Raeburn Place, Edinburgh",bat,1
16,Afghanistan,Scotland,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,2
17,Afghanistan,Scotland,t20,2015,Scotland,"Raeburn Place, Edinburgh",bat,1
18,Afghanistan,Scotland,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",bat,1
19,Afghanistan,United Arab Emirates,odi,2014,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",field,1
20,Afghanistan,United Arab Emirates,t20,2016,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",bat,2
21,Afghanistan,Zimbabwe,odi,2014,Zimbabwe,"Queens Sports Club, Bulawayo",field,1
22,Afghanistan,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
23,Afghanistan,Zimbabwe,odi,2015,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1
24,Afghanistan,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",bat,1
25,Afghanistan,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
26,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",bat,1
27,Asian Cricket Council XI,African XI,odi,2007,India,"M Chinnaswamy Stadium, Bangalore",bat,1
28,Asian Cricket Council XI,African XI,odi,2007,India,"MA Chidambaram Stadium, Chepauk, Chennai",bat,2
29,Australia,Afghanistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
...,...,...,...,...,...,...,...,...
4055,all_nations,Zimbabwe,t20,2015,Zimbabwe,"Harare Sports Club, Harare",bat,3
4056,all_nations,Zimbabwe,t20,2016,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",bat,1
4057,all_nations,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",bat,1
4058,all_nations,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1
4059,all_nations,Zimbabwe,test,1992,Zimbabwe,"Harare Sports Club, Harare",bat,1
4060,all_nations,Zimbabwe,test,1993,India,"Feroz Shah Kotla, Delhi",bat,1
4061,all_nations,Zimbabwe,test,1993,Pakistan,"Defence Housing Authority Stadium, Karachi",bat,1
4062,all_nations,Zimbabwe,test,1995,Zimbabwe,"Harare Sports Club, Harare",bat,1
4063,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",bat,1
4064,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",bat,1
4065,all_nations,Zimbabwe,test,1999,South Africa,"Goodyear Park, Bloemfontein",field,1
4066,all_nations,Zimbabwe,test,1999,Zimbabwe,"Harare Sports Club, Harare",field,2
4067,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",field,1
4068,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",bat,1
4069,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",bat,1
4070,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",bat,1
4071,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",bat,1
4072,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1
4073,all_nations,Zimbabwe,test,2004,Zimbabwe,"Harare Sports Club, Harare",field,1
4074,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",field,1
4075,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",bat,1
4076,all_nations,Zimbabwe,test,2005,South Africa,"Centurion Park, Centurion",field,1
4077,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",field,1
4078,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1
4079,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",field,1
4080,all_nations,Zimbabwe,test,2013,West Indies,"Windsor Park, Roseau",field,1
4081,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",bat,1
4082,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",bat,1
4083,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",bat,1
4084,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1

In [91]:
df_15 = pd.merge(df_13, df_14, on=['team','opposing_team', 'format', 'year', 'venue_country',\
                                   'venue_ground', 'action_after_toss'], how='left')
df_15.fillna(0, inplace=True)
df_15

,team,opposing_team,format,year,venue_country,venue_ground,action_after_toss,matches_won_toss,matches_won_toss_won_match
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",field,1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",field,1,1.0
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",bat,1,1.0
3,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",field,1,1.0
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",bat,1,1.0
5,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",field,1,0.0
6,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",field,1,1.0
7,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",bat,1,0.0
8,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",bat,1,0.0
9,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",field,1,0.0
10,Afghanistan,Ireland,odi,2012,Ireland,"Castle Avenue, Dublin",field,1,0.0
11,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",bat,2,1.0
12,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",field,1,0.0
13,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",bat,1,0.0
14,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",bat,1,0.0
15,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",bat,1,0.0
16,Afghanistan,Kenya,odi,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1,1.0
17,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,2,2.0
18,Afghanistan,Nepal,t20,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",field,1,0.0
19,Afghanistan,Netherlands,odi,2009,Netherlands,"VRA Ground, Amstelveen",field,1,0.0
20,Afghanistan,Netherlands,odi,2010,Netherlands,"Sportpark Westvliet, Voorburg",field,1,1.0
21,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1,0.0
22,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",field,1,1.0
23,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1,0.0
24,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",bat,1,0.0
25,Afghanistan,Oman,t20,2015,Ireland,"Castle Avenue, Dublin",field,1,1.0
26,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1,0.0
27,Afghanistan,Pakistan,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",field,1,0.0
28,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",bat,1,0.0
29,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",bat,1,1.0
...,...,...,...,...,...,...,...,...,...
8621,all_nations,Zimbabwe,test,1998,Pakistan,"Gaddafi Stadium, Lahore",field,1,0.0
8622,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",bat,1,1.0
8623,all_nations,Zimbabwe,test,1998,Zimbabwe,"Harare Sports Club, Harare",field,1,0.0
8624,all_nations,Zimbabwe,test,1999,South Africa,"Goodyear Park, Bloemfontein",field,1,1.0
8625,all_nations,Zimbabwe,test,1999,Zimbabwe,"Harare Sports Club, Harare",field,3,2.0
8626,all_nations,Zimbabwe,test,1999,Zimbabwe,"Queens Sports Club, Bulawayo",field,1,0.0
8627,all_nations,Zimbabwe,test,2000,England,"Lord's Cricket Ground, St John's Wood",field,1,1.0
8628,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",bat,1,0.0
8629,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",bat,1,0.0
8630,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",bat,1,1.0
8631,all_nations,Zimbabwe,test,2001,Bangladesh,"MA Aziz Stadium, Chittagong",field,1,0.0
8632,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",bat,2,1.0
8633,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",field,1,0.0
8634,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",bat,1,1.0
8635,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",bat,1,1.0
8636,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1,1.0
8637,all_nations,Zimbabwe,test,2004,Zimbabwe,"Harare Sports Club, Harare",field,1,1.0
8638,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",field,1,1.0
8639,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",bat,1,1.0
8640,all_nations,Zimbabwe,test,2005,South Africa,"Centurion Park, Centurion",field,1,1.0
8641,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",field,1,1.0
8642,all_nations,Zimbabwe,test,2011,Zimbabwe,"Harare Sports Club, Harare",field,1,0.0
8643,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1,1.0
8644,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",field,1,1.0
8645,all_nations,Zimbabwe,test,2013,West Indies,"Windsor Park, Roseau",field,1,1.0
8646,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",field,1,0.0
8647,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",bat,1,1.0
8648,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",bat,1,1.0
8649,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",bat,1,1.0
8650,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",bat,1,1.0

In [92]:
df_15.to_csv('05_toss_won_match_won.csv')

In [93]:
#also, leaving aside who won the toss, over past 25 years, what % of teams batting first win?

#so have left all_nations category in, but be careful about it, it's valid in certain calculations but not in others
#know precisely what the all_nations category means or represents in each situation


df_16 = df[df['action_after_toss'] == 'bat'].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_bat_first')
df_16

,team,opposing_team,format,year,venue_country,venue_ground,matches_bat_first
0,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1
1,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
2,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
3,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
5,Afghanistan,England,odi,2015,Australia,"Sydney Cricket Ground, Sydney",1
6,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1
7,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
8,Afghanistan,Hong Kong,t20,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
9,Afghanistan,India,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
10,Afghanistan,India,t20,2010,West Indies,"Beausejour Stadium, Gros Islet",1
11,Afghanistan,Ireland,odi,2015,United Arab Emirates,"Dubai Sports City Stadium, Dubai",2
12,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",3
13,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1
14,Afghanistan,Ireland,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
15,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
16,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1
17,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
18,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
19,Afghanistan,Netherlands,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
20,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
21,Afghanistan,Netherlands,t20,2015,Scotland,"Raeburn Place, Edinburgh",1
22,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1
23,Afghanistan,Oman,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",2
24,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
25,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
26,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1
27,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1
28,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1
29,Afghanistan,Scotland,odi,2016,Scotland,"Raeburn Place, Edinburgh",2
...,...,...,...,...,...,...,...
8140,all_nations,Zimbabwe,test,1996,New Zealand,"Trust Bank Park, Hamilton",1
8141,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",1
8142,all_nations,Zimbabwe,test,1996,Zimbabwe,"Harare Sports Club, Harare",1
8143,all_nations,Zimbabwe,test,1998,Pakistan,"Arbab Niaz Stadium, Peshawar",1
8144,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",1
8145,all_nations,Zimbabwe,test,2000,England,"Trent Bridge, Nottingham",1
8146,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",1
8147,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",1
8148,all_nations,Zimbabwe,test,2000,West Indies,"Queen's Park Oval, Port of Spain",1
8149,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",1
8150,all_nations,Zimbabwe,test,2001,Bangladesh,"Bangabandhu National Stadium, Dhaka",1
8151,all_nations,Zimbabwe,test,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
8152,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",3
8153,all_nations,Zimbabwe,test,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1
8154,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1
8155,all_nations,Zimbabwe,test,2002,Zimbabwe,"Harare Sports Club, Harare",1
8156,all_nations,Zimbabwe,test,2003,Australia,"Western Australia Cricket Association Ground, ...",1
8157,all_nations,Zimbabwe,test,2003,England,"Lord's Cricket Ground, St John's Wood",1
8158,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",1
8159,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1
8160,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",1
8161,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",1
8162,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",1
8163,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",1
8164,all_nations,Zimbabwe,test,2012,New Zealand,"McLean Park, Napier",1
8165,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",2
8166,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1
8167,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
8168,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",2
8169,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",1

In [94]:
df_17 = df[(df['action_after_toss'] == 'bat') & (df['match_outcome'] == 'won')].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_bat_first_won')
df_17

,team,opposing_team,format,year,venue_country,venue_ground,matches_bat_first_won
0,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1
1,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1
3,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1
4,Afghanistan,Hong Kong,t20,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
5,Afghanistan,Ireland,odi,2015,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
6,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",2
7,Afghanistan,Ireland,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
8,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
9,Afghanistan,Netherlands,t20,2015,Scotland,"Raeburn Place, Edinburgh",1
10,Afghanistan,Oman,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",2
11,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1
12,Afghanistan,Scotland,odi,2016,Scotland,"Raeburn Place, Edinburgh",1
13,Afghanistan,Scotland,t20,2010,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
14,Afghanistan,Scotland,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
15,Afghanistan,Scotland,t20,2015,Scotland,"Raeburn Place, Edinburgh",1
16,Afghanistan,Scotland,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
17,Afghanistan,United Arab Emirates,odi,2014,Malaysia,"Kinrara Academy Oval, Kuala Lumpur",1
18,Afghanistan,United Arab Emirates,t20,2016,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",2
19,Afghanistan,West Indies,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
20,Afghanistan,Zimbabwe,odi,2014,Zimbabwe,"Queens Sports Club, Bulawayo",1
21,Afghanistan,Zimbabwe,odi,2015,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
22,Afghanistan,Zimbabwe,odi,2015,Zimbabwe,"Queens Sports Club, Bulawayo",2
23,Afghanistan,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
24,Afghanistan,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
25,African XI,Asian Cricket Council XI,odi,2005,South Africa,"Centurion Park, Centurion",1
26,Asian Cricket Council XI,African XI,odi,2005,South Africa,"Sahara Stadium, Kingsmead, Durban",1
27,Asian Cricket Council XI,African XI,odi,2007,India,"M Chinnaswamy Stadium, Bangalore",1
28,Asian Cricket Council XI,African XI,odi,2007,India,"MA Chidambaram Stadium, Chepauk, Chennai",2
29,Australia,Afghanistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
...,...,...,...,...,...,...,...
3860,all_nations,Zimbabwe,t20,2016,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1
3861,all_nations,Zimbabwe,t20,2016,India,"Vidarbha Cricket Association Stadium, Nagpur",1
3862,all_nations,Zimbabwe,t20,2016,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
3863,all_nations,Zimbabwe,t20,2016,Zimbabwe,"Harare Sports Club, Harare",1
3864,all_nations,Zimbabwe,test,1992,Zimbabwe,"Harare Sports Club, Harare",1
3865,all_nations,Zimbabwe,test,1993,India,"Feroz Shah Kotla, Delhi",1
3866,all_nations,Zimbabwe,test,1993,Pakistan,"Defence Housing Authority Stadium, Karachi",1
3867,all_nations,Zimbabwe,test,1993,Pakistan,"Rawalpindi Cricket Stadium, Rawalpindi",1
3868,all_nations,Zimbabwe,test,1995,Zimbabwe,"Harare Sports Club, Harare",1
3869,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",1
3870,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",1
3871,all_nations,Zimbabwe,test,2000,West Indies,"Queen's Park Oval, Port of Spain",1
3872,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",1
3873,all_nations,Zimbabwe,test,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1
3874,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",1
3875,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1
3876,all_nations,Zimbabwe,test,2002,Zimbabwe,"Harare Sports Club, Harare",1
3877,all_nations,Zimbabwe,test,2003,Australia,"Western Australia Cricket Association Ground, ...",1
3878,all_nations,Zimbabwe,test,2003,England,"Lord's Cricket Ground, St John's Wood",1
3879,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",1
3880,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1
3881,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",1
3882,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",1
3883,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",1
3884,all_nations,Zimbabwe,test,2012,New Zealand,"McLean Park, Napier",1
3885,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",2
3886,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1
3887,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1
3888,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",2
3889,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",1

In [95]:
df_18 = df[(df['action_after_toss'] == 'bat') & (df['match_outcome'] == 'lost')].groupby(['team','opposing_team', 'format',\
    'year', 'venue_country', 'venue_ground']).size().reset_index(name='matches_bat_first_lost')
df_18

,team,opposing_team,format,year,venue_country,venue_ground,matches_bat_first_lost
0,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
1,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
2,Afghanistan,England,odi,2015,Australia,"Sydney Cricket Ground, Sydney",1
3,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1
4,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1
5,Afghanistan,India,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
6,Afghanistan,India,t20,2010,West Indies,"Beausejour Stadium, Gros Islet",1
7,Afghanistan,Ireland,odi,2015,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
8,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",1
9,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1
10,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
11,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1
12,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
13,Afghanistan,Netherlands,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1
14,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
15,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1
16,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
17,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1
18,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1
19,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1
20,Afghanistan,Sri Lanka,odi,2015,New Zealand,"University Oval, Dunedin",1
21,Afghanistan,Sri Lanka,t20,2016,India,"Eden Gardens, Kolkata",1
22,Afghanistan,United Arab Emirates,odi,2014,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",2
23,Afghanistan,Zimbabwe,odi,2014,Zimbabwe,"Queens Sports Club, Bulawayo",2
24,Afghanistan,Zimbabwe,odi,2015,Zimbabwe,"Queens Sports Club, Bulawayo",2
25,Australia,Bangladesh,odi,2005,Wales,"Sophia Gardens, Cardiff",1
26,Australia,England,odi,1992,Australia,"Sydney Cricket Ground, Sydney",1
27,Australia,England,odi,1997,England,"Headingley, Leeds",1
28,Australia,England,odi,1997,England,"Lord's Cricket Ground, St John's Wood",1
29,Australia,England,odi,1997,England,"The Foster's Oval, Kennington",1
...,...,...,...,...,...,...,...
3899,all_nations,Zimbabwe,odi,2002,India,"Nahar Singh Stadium, Faridabad",1
3900,all_nations,Zimbabwe,odi,2002,India,"Nehru Stadium, Kochi",1
3901,all_nations,Zimbabwe,odi,2002,Zimbabwe,"Queens Sports Club, Bulawayo",1
3902,all_nations,Zimbabwe,odi,2003,England,"Trent Bridge, Nottingham",1
3903,all_nations,Zimbabwe,odi,2003,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2
3904,all_nations,Zimbabwe,odi,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1
3905,all_nations,Zimbabwe,odi,2004,Zimbabwe,"Harare Sports Club, Harare",1
3906,all_nations,Zimbabwe,odi,2006,Zimbabwe,"Harare Sports Club, Harare",3
3907,all_nations,Zimbabwe,odi,2006,Zimbabwe,"Queens Sports Club, Bulawayo",1
3908,all_nations,Zimbabwe,odi,2007,Zimbabwe,"Harare Sports Club, Harare",1
3909,all_nations,Zimbabwe,odi,2009,Bangladesh,"Shere Bangla National Stadium, Mirpur",2
3910,all_nations,Zimbabwe,odi,2009,Kenya,"Gymkhana Club Ground, Nairobi",2
3911,all_nations,Zimbabwe,odi,2009,Zimbabwe,"Harare Sports Club, Harare",1
3912,all_nations,Zimbabwe,odi,2010,Zimbabwe,"Harare Sports Club, Harare",4
3913,all_nations,Zimbabwe,odi,2010,Zimbabwe,"Queens Sports Club, Bulawayo",1
3914,all_nations,Zimbabwe,odi,2011,Zimbabwe,"Harare Sports Club, Harare",2
3915,all_nations,Zimbabwe,odi,2011,Zimbabwe,"Queens Sports Club, Bulawayo",1
3916,all_nations,Zimbabwe,odi,2013,Zimbabwe,"Harare Sports Club, Harare",1
3917,all_nations,Zimbabwe,odi,2013,Zimbabwe,"Queens Sports Club, Bulawayo",2
3918,all_nations,Zimbabwe,odi,2014,Zimbabwe,"Harare Sports Club, Harare",1
3919,all_nations,Zimbabwe,odi,2014,Zimbabwe,"Queens Sports Club, Bulawayo",2
3920,all_nations,Zimbabwe,odi,2015,New Zealand,"Saxton Oval, Nelson",1
3921,all_nations,Zimbabwe,odi,2015,Zimbabwe,"Harare Sports Club, Harare",3
3922,all_nations,Zimbabwe,odi,2015,Zimbabwe,"Queens Sports Club, Bulawayo",2
3923,all_nations,Zimbabwe,t20,2007,South Africa,"Sahara Park Newlands, Cape Town",1
3924,all_nations,Zimbabwe,t20,2014,Bangladesh,"Sylhet Stadium, Sylhet",2
3925,all_nations,Zimbabwe,t20,2015,Bangladesh,"Shere Bangla National Stadium, Mirpur",1
3926,all_nations,Zimbabwe,test,1998,Pakistan,"Arbab Niaz Stadium, Peshawar",1
3927,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",2
3928,all_nations,Zimbabwe,test,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1

In [97]:
#you can chain the joins too like this: df_19 = df_XX.merge(df_XX,on='name').merge(df_XX,on='name')
#code below from http://stackoverflow.com/questions/23668427/pandas-joining-multiple-dataframes-on-columns

df_19 = pd.merge(pd.merge(df_16, df_17, on=['team','opposing_team', 'format', 'year', 'venue_country',\
                                   'venue_ground'], how='left'),\
                         df_18, on=['team','opposing_team', 'format', 'year', 'venue_country',\
                                   'venue_ground'], how='left')

df_19.fillna(0, inplace=True)
df_19

,team,opposing_team,format,year,venue_country,venue_ground,matches_bat_first,matches_bat_first_won,matches_bat_first_lost
0,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,1.0,0.0
1,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0,1.0
2,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,1.0,1.0
3,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1,1.0,0.0
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1,1.0,0.0
5,Afghanistan,England,odi,2015,Australia,"Sydney Cricket Ground, Sydney",1,0.0,1.0
6,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1,0.0,1.0
7,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1,0.0,1.0
8,Afghanistan,Hong Kong,t20,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,1.0,0.0
9,Afghanistan,India,odi,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0,1.0
10,Afghanistan,India,t20,2010,West Indies,"Beausejour Stadium, Gros Islet",1,0.0,1.0
11,Afghanistan,Ireland,odi,2015,United Arab Emirates,"Dubai Sports City Stadium, Dubai",2,1.0,1.0
12,Afghanistan,Ireland,odi,2016,Ireland,"Civil Service Cricket Club, Stormont, Belfast",3,2.0,1.0
13,Afghanistan,Ireland,t20,2010,Sri Lanka,"P Sara Oval, Colombo",1,0.0,1.0
14,Afghanistan,Ireland,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1,1.0,0.0
15,Afghanistan,Ireland,t20,2012,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1,0.0,1.0
16,Afghanistan,Kenya,odi,2010,Kenya,"Gymkhana Club Ground, Nairobi",1,0.0,1.0
17,Afghanistan,Kenya,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,2.0,0.0
18,Afghanistan,Netherlands,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0,1.0
19,Afghanistan,Netherlands,t20,2010,United Arab Emirates,"Dubai Sports City Stadium, Dubai",1,0.0,1.0
20,Afghanistan,Netherlands,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0,1.0
21,Afghanistan,Netherlands,t20,2015,Scotland,"Raeburn Place, Edinburgh",1,1.0,0.0
22,Afghanistan,New Zealand,odi,2015,New Zealand,"McLean Park, Napier",1,0.0,1.0
23,Afghanistan,Oman,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",2,2.0,0.0
24,Afghanistan,Pakistan,odi,2012,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0,1.0
25,Afghanistan,Pakistan,t20,2013,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",1,0.0,1.0
26,Afghanistan,Scotland,odi,2009,South Africa,"Willowmoore Park Main Oval, Benoni",1,1.0,0.0
27,Afghanistan,Scotland,odi,2010,Netherlands,"Hazelaarweg, Rotterdam",1,0.0,1.0
28,Afghanistan,Scotland,odi,2010,Scotland,"Cambusdoon New Ground, Alloway",1,0.0,1.0
29,Afghanistan,Scotland,odi,2016,Scotland,"Raeburn Place, Edinburgh",2,1.0,0.0
...,...,...,...,...,...,...,...,...,...
8140,all_nations,Zimbabwe,test,1996,New Zealand,"Trust Bank Park, Hamilton",1,0.0,0.0
8141,all_nations,Zimbabwe,test,1996,Sri Lanka,"R Premadasa Stadium, Colombo",1,1.0,0.0
8142,all_nations,Zimbabwe,test,1996,Zimbabwe,"Harare Sports Club, Harare",1,0.0,0.0
8143,all_nations,Zimbabwe,test,1998,Pakistan,"Arbab Niaz Stadium, Peshawar",1,0.0,1.0
8144,all_nations,Zimbabwe,test,1998,Sri Lanka,"Asgiriya Stadium, Kandy",1,1.0,0.0
8145,all_nations,Zimbabwe,test,2000,England,"Trent Bridge, Nottingham",1,0.0,0.0
8146,all_nations,Zimbabwe,test,2000,India,"Vidarbha Cricket Association Ground, Nagpur",1,0.0,0.0
8147,all_nations,Zimbabwe,test,2000,New Zealand,"Basin Reserve, Wellington",1,0.0,0.0
8148,all_nations,Zimbabwe,test,2000,West Indies,"Queen's Park Oval, Port of Spain",1,1.0,0.0
8149,all_nations,Zimbabwe,test,2000,Zimbabwe,"Harare Sports Club, Harare",1,1.0,0.0
8150,all_nations,Zimbabwe,test,2001,Bangladesh,"Bangabandhu National Stadium, Dhaka",1,0.0,0.0
8151,all_nations,Zimbabwe,test,2001,Sri Lanka,"Sinhalese Sports Club Ground, Colombo",1,1.0,0.0
8152,all_nations,Zimbabwe,test,2001,Zimbabwe,"Harare Sports Club, Harare",3,1.0,2.0
8153,all_nations,Zimbabwe,test,2001,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0,1.0
8154,all_nations,Zimbabwe,test,2002,Sri Lanka,"Galle International Stadium, Galle",1,1.0,0.0
8155,all_nations,Zimbabwe,test,2002,Zimbabwe,"Harare Sports Club, Harare",1,1.0,0.0
8156,all_nations,Zimbabwe,test,2003,Australia,"Western Australia Cricket Association Ground, ...",1,1.0,0.0
8157,all_nations,Zimbabwe,test,2003,England,"Lord's Cricket Ground, St John's Wood",1,1.0,0.0
8158,all_nations,Zimbabwe,test,2003,England,"Riverside Ground, Chester-le-Street",1,1.0,0.0
8159,all_nations,Zimbabwe,test,2003,Zimbabwe,"Queens Sports Club, Bulawayo",1,1.0,0.0
8160,all_nations,Zimbabwe,test,2004,Zimbabwe,"Queens Sports Club, Bulawayo",1,0.0,0.0
8161,all_nations,Zimbabwe,test,2005,Bangladesh,"MA Aziz Stadium, Chittagong",1,1.0,0.0
8162,all_nations,Zimbabwe,test,2005,Zimbabwe,"Harare Sports Club, Harare",1,1.0,0.0
8163,all_nations,Zimbabwe,test,2011,Zimbabwe,"Queens Sports Club, Bulawayo",1,1.0,0.0
8164,all_nations,Zimbabwe,test,2012,New Zealand,"McLean Park, Napier",1,1.0,0.0
8165,all_nations,Zimbabwe,test,2013,Zimbabwe,"Harare Sports Club, Harare",2,2.0,0.0
8166,all_nations,Zimbabwe,test,2014,Bangladesh,"Sheikh Abu Naser Stadium, Khulna",1,1.0,0.0
8167,all_nations,Zimbabwe,test,2014,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",1,1.0,0.0
8168,all_nations,Zimbabwe,test,2016,Zimbabwe,"Harare Sports Club, Harare",2,2.0,0.0
8169,all_nations,Zimbabwe,test,2016,Zimbabwe,"Queens Sports Club, Bulawayo",1,1.0,0.0

In [98]:
df_19.to_csv('06_bat_first_match_won.csv')

In [99]:
#fun question to ask

#is there a team that another team has never won the toss against?

df_20 = df[df['team'] != 'all_nations'].groupby(['team','opposing_team', 'format']).size().reset_index(name='matches_played')
df_20

            team         opposing_team format  matches_played
0    Afghanistan             Australia    odi               2
1    Afghanistan            Bangladesh    odi               5
2    Afghanistan            Bangladesh    t20               1
3    Afghanistan                Canada    odi               5
4    Afghanistan                Canada    t20               2
5    Afghanistan               England    odi               1
6    Afghanistan               England    t20               2
7    Afghanistan             Hong Kong    odi               1
8    Afghanistan             Hong Kong    t20               5
9    Afghanistan                 India    odi               1
10   Afghanistan                 India    t20               2
11   Afghanistan               Ireland    odi               8
12   Afghanistan               Ireland    t20               5
13   Afghanistan                 Kenya    odi               6
14   Afghanistan                 Kenya    t20               3
15   Afghanistan                 Nepal    t20               1
16   Afghanistan           Netherlands    odi               6
17   Afghanistan           Netherlands    t20               4
18   Afghanistan           New Zealand    odi               1
19   Afghanistan                  Oman    t20               4
20   Afghanistan              Pakistan    odi               2
21   Afghanistan              Pakistan    t20               1
22   Afghanistan      Papua New Guinea    t20               1
23   Afghanistan              Scotland    odi              11
24   Afghanistan              Scotland    t20               6
25   Afghanistan          South Africa    t20               2
26   Afghanistan             Sri Lanka    odi               2
27   Afghanistan             Sri Lanka    t20               1
28   Afghanistan  United Arab Emirates    odi               5
29   Afghanistan  United Arab Emirates    t20               5
..           ...                   ...    ...             ...
632     Zimbabwe               England    t20               1
633     Zimbabwe               England   test               6
634     Zimbabwe             Hong Kong    t20               1
635     Zimbabwe                 India    odi              59
636     Zimbabwe                 India    t20               7
637     Zimbabwe                 India   test              11
638     Zimbabwe               Ireland    odi               9
639     Zimbabwe               Ireland    t20               1
640     Zimbabwe                 Kenya    odi              32
641     Zimbabwe               Namibia    odi               1
642     Zimbabwe           Netherlands    odi               1
643     Zimbabwe           Netherlands    t20               1
644     Zimbabwe           New Zealand    odi              36
645     Zimbabwe           New Zealand    t20               6
646     Zimbabwe           New Zealand   test              17
647     Zimbabwe              Pakistan    odi              54
648     Zimbabwe              Pakistan    t20               9
649     Zimbabwe              Pakistan   test              17
650     Zimbabwe              Scotland    t20               1
651     Zimbabwe          South Africa    odi              38
652     Zimbabwe          South Africa    t20               3
653     Zimbabwe          South Africa   test               8
654     Zimbabwe             Sri Lanka    odi              50
655     Zimbabwe             Sri Lanka    t20               3
656     Zimbabwe             Sri Lanka   test              17
657     Zimbabwe  United Arab Emirates    odi               1
658     Zimbabwe  United Arab Emirates    t20               1
659     Zimbabwe           West Indies    odi              45
660     Zimbabwe           West Indies    t20               3
661     Zimbabwe           West Indies   test               8

[662 rows x 4 columns]

In [100]:
df_21 = df[(df['toss_won'] == 'YES') & (df['team'] != 'all_nations')]\
        .groupby(['team','opposing_team', 'format']).size().reset_index(name='tosses_won')
df_21

                         team             opposing_team format  tosses_won
0                 Afghanistan                 Australia    odi           1
1                 Afghanistan                Bangladesh    odi           1
2                 Afghanistan                    Canada    odi           2
3                 Afghanistan                    Canada    t20           1
4                 Afghanistan                   England    t20           1
5                 Afghanistan                 Hong Kong    odi           1
6                 Afghanistan                 Hong Kong    t20           2
7                 Afghanistan                     India    t20           1
8                 Afghanistan                   Ireland    odi           4
9                 Afghanistan                   Ireland    t20           2
10                Afghanistan                     Kenya    odi           2
11                Afghanistan                     Kenya    t20           2
12                Afghanistan                     Nepal    t20           1
13                Afghanistan               Netherlands    odi           4
14                Afghanistan               Netherlands    t20           1
15                Afghanistan               New Zealand    odi           1
16                Afghanistan                      Oman    t20           1
17                Afghanistan                  Pakistan    odi           2
18                Afghanistan                  Pakistan    t20           1
19                Afghanistan                  Scotland    odi           7
20                Afghanistan                  Scotland    t20           4
21                Afghanistan              South Africa    t20           1
22                Afghanistan                 Sri Lanka    t20           1
23                Afghanistan      United Arab Emirates    odi           3
24                Afghanistan      United Arab Emirates    t20           2
25                Afghanistan                  Zimbabwe    odi           5
26                Afghanistan                  Zimbabwe    t20           2
27                 African XI  Asian Cricket Council XI    odi           1
28   Asian Cricket Council XI                African XI    odi           5
29                  Australia               Afghanistan    odi           1
..                        ...                       ...    ...         ...
526                  Zimbabwe                Bangladesh    t20           5
527                  Zimbabwe                Bangladesh   test           8
528                  Zimbabwe                   Bermuda    odi           1
529                  Zimbabwe                    Canada    odi           2
530                  Zimbabwe                    Canada    t20           1
531                  Zimbabwe                   England    odi          15
532                  Zimbabwe                   England   test           4
533                  Zimbabwe                     India    odi          25
534                  Zimbabwe                     India    t20           3
535                  Zimbabwe                     India   test           6
536                  Zimbabwe                   Ireland    odi           8
537                  Zimbabwe                     Kenya    odi          20
538                  Zimbabwe               New Zealand    odi          20
539                  Zimbabwe               New Zealand    t20           4
540                  Zimbabwe               New Zealand   test           9
541                  Zimbabwe                  Pakistan    odi          24
542                  Zimbabwe                  Pakistan    t20           6
543                  Zimbabwe                  Pakistan   test          13
544                  Zimbabwe                  Scotland    t20           1
545                  Zimbabwe              South Africa    odi          24
546                  Zimbabwe              South Africa    t20           1
547                  Zimbabwe              South Africa   test           4
548                  Zimbabwe                 Sri Lanka    odi          22
549                  Zimbabwe                 Sri Lanka    t20           1
550                  Zimbabwe                 Sri Lanka   test           6
551                  Zimbabwe      United Arab Emirates    odi           1
552                  Zimbabwe      United Arab Emirates    t20           1
553                  Zimbabwe               West Indies    odi          20
554                  Zimbabwe               West Indies    t20           2
555                  Zimbabwe               West Indies   test           5

[556 rows x 4 columns]

In [101]:
df_22 = pd.merge(df_20, df_21, on=['team','opposing_team', 'format'], how='left')
df_22.fillna(0, inplace=True)
df_22

            team         opposing_team format  matches_played  tosses_won
0    Afghanistan             Australia    odi               2         1.0
1    Afghanistan            Bangladesh    odi               5         1.0
2    Afghanistan            Bangladesh    t20               1         0.0
3    Afghanistan                Canada    odi               5         2.0
4    Afghanistan                Canada    t20               2         1.0
5    Afghanistan               England    odi               1         0.0
6    Afghanistan               England    t20               2         1.0
7    Afghanistan             Hong Kong    odi               1         1.0
8    Afghanistan             Hong Kong    t20               5         2.0
9    Afghanistan                 India    odi               1         0.0
10   Afghanistan                 India    t20               2         1.0
11   Afghanistan               Ireland    odi               8         4.0
12   Afghanistan               Ireland    t20               5         2.0
13   Afghanistan                 Kenya    odi               6         2.0
14   Afghanistan                 Kenya    t20               3         2.0
15   Afghanistan                 Nepal    t20               1         1.0
16   Afghanistan           Netherlands    odi               6         4.0
17   Afghanistan           Netherlands    t20               4         1.0
18   Afghanistan           New Zealand    odi               1         1.0
19   Afghanistan                  Oman    t20               4         1.0
20   Afghanistan              Pakistan    odi               2         2.0
21   Afghanistan              Pakistan    t20               1         1.0
22   Afghanistan      Papua New Guinea    t20               1         0.0
23   Afghanistan              Scotland    odi              11         7.0
24   Afghanistan              Scotland    t20               6         4.0
25   Afghanistan          South Africa    t20               2         1.0
26   Afghanistan             Sri Lanka    odi               2         0.0
27   Afghanistan             Sri Lanka    t20               1         1.0
28   Afghanistan  United Arab Emirates    odi               5         3.0
29   Afghanistan  United Arab Emirates    t20               5         2.0
..           ...                   ...    ...             ...         ...
632     Zimbabwe               England    t20               1         0.0
633     Zimbabwe               England   test               6         4.0
634     Zimbabwe             Hong Kong    t20               1         0.0
635     Zimbabwe                 India    odi              59        25.0
636     Zimbabwe                 India    t20               7         3.0
637     Zimbabwe                 India   test              11         6.0
638     Zimbabwe               Ireland    odi               9         8.0
639     Zimbabwe               Ireland    t20               1         0.0
640     Zimbabwe                 Kenya    odi              32        20.0
641     Zimbabwe               Namibia    odi               1         0.0
642     Zimbabwe           Netherlands    odi               1         0.0
643     Zimbabwe           Netherlands    t20               1         0.0
644     Zimbabwe           New Zealand    odi              36        20.0
645     Zimbabwe           New Zealand    t20               6         4.0
646     Zimbabwe           New Zealand   test              17         9.0
647     Zimbabwe              Pakistan    odi              54        24.0
648     Zimbabwe              Pakistan    t20               9         6.0
649     Zimbabwe              Pakistan   test              17        13.0
650     Zimbabwe              Scotland    t20               1         1.0
651     Zimbabwe          South Africa    odi              38        24.0
652     Zimbabwe          South Africa    t20               3         1.0
653     Zimbabwe          South Africa   test               8         4.0
654     Zimbabwe             Sri Lanka    odi              50        22.0
655     Zimbabwe             Sri Lanka    t20               3         1.0
656     Zimbabwe             Sri Lanka   test              17         6.0
657     Zimbabwe  United Arab Emirates    odi               1         1.0
658     Zimbabwe  United Arab Emirates    t20               1         1.0
659     Zimbabwe           West Indies    odi              45        20.0
660     Zimbabwe           West Indies    t20               3         2.0
661     Zimbabwe           West Indies   test               8         5.0

[662 rows x 5 columns]

In [102]:
df_22.to_csv('07_team_v_team_toss_stats.csv')

In [107]:
# fun question to ask

#are there any grounds where it is absolutely useless to win the toss, toss-winning teams always lose there?

df_23 = df[(df['toss_won'] == 'YES') & (df['team'] == 'all_nations')]\
        .groupby(['venue_ground', 'format']).size().reset_index(name='tosses_won')
df_23

                                          venue_ground format  tosses_won
0                            AMI Stadium, Christchurch    odi           5
1                            AMI Stadium, Christchurch    t20           4
2                                  ANZ Stadium, Sydney    t20           4
3                              Adelaide Oval, Adelaide    odi          52
4                              Adelaide Oval, Adelaide    t20           3
5                              Adelaide Oval, Adelaide   test          27
6                 Aga Khan Sports Club Ground, Nairobi    odi           4
7    Andhra Cricket Association-Visakhapatnam Distr...    odi           2
8                 Antigua Recreation Ground, St John's    odi           7
9                 Antigua Recreation Ground, St John's   test          17
10                        Arbab Niaz Stadium, Peshawar    odi           8
11                        Arbab Niaz Stadium, Peshawar   test           6
12                             Armour Heights, Toronto    odi          30
13                 Arnos Vale Playing Field, Kingstown    odi          22
14                 Arnos Vale Playing Field, Kingstown    t20           2
15                 Arnos Vale Playing Field, Kingstown   test           3
16                             Asgiriya Stadium, Kandy    odi           4
17                             Asgiriya Stadium, Kandy   test          17
18              Axxess DSL St George's, Port Elizabeth    odi           4
19              Axxess DSL St George's, Port Elizabeth    t20           1
20              Axxess DSL St George's, Port Elizabeth   test           2
21                 Bangabandhu National Stadium, Dhaka    odi          53
22                 Bangabandhu National Stadium, Dhaka   test          10
23                           Barabati Stadium, Cuttack    odi          11
24                           Barabati Stadium, Cuttack    t20           1
25                           Barabati Stadium, Cuttack   test           1
26                   Barkatullah Khan Stadium, Jodhpur    odi           2
27                           Basin Reserve, Wellington    odi          20
28                           Basin Reserve, Wellington   test          33
29                           Bay Oval, Mount Maunganui    odi           4
..                                                 ...    ...         ...
415        Vidarbha Cricket Association Ground, Nagpur   test           6
416       Vidarbha Cricket Association Stadium, Nagpur    odi           7
417       Vidarbha Cricket Association Stadium, Nagpur    t20          10
418       Vidarbha Cricket Association Stadium, Nagpur   test           5
419                 Wanderers Cricket Ground, Windhoek    t20           2
420                           Wankhede Stadium, Bombay    odi           3
421                           Wankhede Stadium, Bombay   test           2
422                           Wankhede Stadium, Mumbai    odi          13
423                           Wankhede Stadium, Mumbai    t20           5
424                           Wankhede Stadium, Mumbai   test          10
425                            Warner Park, Basseterre    odi          17
426                            Warner Park, Basseterre    t20           2
427                            Warner Park, Basseterre   test           3
428  Western Australia Cricket Association Ground, ...    odi          53
429  Western Australia Cricket Association Ground, ...    t20           2
430  Western Australia Cricket Association Ground, ...   test          26
431                             Westpac Park, Hamilton    odi           1
432                             Westpac Park, Hamilton   test           3
433                        Westpac Stadium, Wellington    odi          22
434                        Westpac Stadium, Wellington    t20           7
435                        WestpacTrust Park, Hamilton    odi           2
436                        WestpacTrust Park, Hamilton   test           5
437                   WestpacTrust Stadium, Wellington    odi           6
438                 Willowmoore Park Main Oval, Benoni    odi          21
439                               Windsor Park, Roseau    odi           4
440                               Windsor Park, Roseau    t20           2
441                               Windsor Park, Roseau   test           4
442          Zohur Ahmed Chowdhury Stadium, Chittagong    odi          12
443          Zohur Ahmed Chowdhury Stadium, Chittagong    t20          17
444          Zohur Ahmed Chowdhury Stadium, Chittagong   test           9

[445 rows x 3 columns]

In [108]:
df_24 = df[(df['toss_won'] == 'YES') & (df['team'] == 'all_nations') & (df['match_outcome'] == 'won')]\
        .groupby(['venue_ground', 'format']).size().reset_index(name='tosses_won_matches_won')
df_24

,venue_ground,format,tosses_won_matches_won
0,"AMI Stadium, Christchurch",odi,3
1,"AMI Stadium, Christchurch",t20,3
2,"ANZ Stadium, Sydney",t20,2
3,"Adelaide Oval, Adelaide",odi,27
4,"Adelaide Oval, Adelaide",test,11
5,"Aga Khan Sports Club Ground, Nairobi",odi,2
6,Andhra Cricket Association-Visakhapatnam Distr...,odi,2
7,"Antigua Recreation Ground, St John's",odi,3
8,"Antigua Recreation Ground, St John's",test,5
9,"Arbab Niaz Stadium, Peshawar",odi,5
10,"Arbab Niaz Stadium, Peshawar",test,2
11,"Armour Heights, Toronto",odi,15
12,"Arnos Vale Playing Field, Kingstown",odi,8
13,"Arnos Vale Playing Field, Kingstown",t20,1
14,"Arnos Vale Playing Field, Kingstown",test,1
15,"Asgiriya Stadium, Kandy",odi,2
16,"Asgiriya Stadium, Kandy",test,8
17,"Axxess DSL St George's, Port Elizabeth",odi,2
18,"Axxess DSL St George's, Port Elizabeth",t20,1
19,"Axxess DSL St George's, Port Elizabeth",test,2
20,"Bangabandhu National Stadium, Dhaka",odi,31
21,"Bangabandhu National Stadium, Dhaka",test,4
22,"Barabati Stadium, Cuttack",odi,4
23,"Barabati Stadium, Cuttack",t20,1
24,"Barkatullah Khan Stadium, Jodhpur",odi,1
25,"Basin Reserve, Wellington",odi,7
26,"Basin Reserve, Wellington",test,9
27,"Bay Oval, Mount Maunganui",odi,1
28,"Bayuemas Oval, Kuala Lumpur",odi,1
29,"Beausejour Stadium, Gros Islet",odi,10
...,...,...,...
354,"Vidarbha Cricket Association Ground, Nagpur",odi,3
355,"Vidarbha Cricket Association Ground, Nagpur",test,1
356,"Vidarbha Cricket Association Stadium, Nagpur",odi,3
357,"Vidarbha Cricket Association Stadium, Nagpur",t20,5
358,"Vidarbha Cricket Association Stadium, Nagpur",test,3
359,"Wanderers Cricket Ground, Windhoek",t20,1
360,"Wankhede Stadium, Bombay",odi,2
361,"Wankhede Stadium, Bombay",test,1
362,"Wankhede Stadium, Mumbai",odi,7
363,"Wankhede Stadium, Mumbai",t20,5
364,"Wankhede Stadium, Mumbai",test,4
365,"Warner Park, Basseterre",odi,9
366,"Warner Park, Basseterre",test,1
367,"Western Australia Cricket Association Ground, ...",odi,20
368,"Western Australia Cricket Association Ground, ...",t20,1
369,"Western Australia Cricket Association Ground, ...",test,11
370,"Westpac Park, Hamilton",odi,1
371,"Westpac Park, Hamilton",test,1
372,"Westpac Stadium, Wellington",odi,10
373,"Westpac Stadium, Wellington",t20,3
374,"WestpacTrust Park, Hamilton",odi,2
375,"WestpacTrust Park, Hamilton",test,2
376,"WestpacTrust Stadium, Wellington",odi,1
377,"Willowmoore Park Main Oval, Benoni",odi,10
378,"Windsor Park, Roseau",odi,1
379,"Windsor Park, Roseau",t20,1
380,"Windsor Park, Roseau",test,2
381,"Zohur Ahmed Chowdhury Stadium, Chittagong",odi,6
382,"Zohur Ahmed Chowdhury Stadium, Chittagong",t20,7
383,"Zohur Ahmed Chowdhury Stadium, Chittagong",test,3

In [109]:
df_25 = pd.merge(df_23, df_24, on=['venue_ground', 'format'], how='left')
df_25.fillna(0, inplace=True)
df_25

,venue_ground,format,tosses_won,tosses_won_matches_won
0,"AMI Stadium, Christchurch",odi,5,3.0
1,"AMI Stadium, Christchurch",t20,4,3.0
2,"ANZ Stadium, Sydney",t20,4,2.0
3,"Adelaide Oval, Adelaide",odi,52,27.0
4,"Adelaide Oval, Adelaide",t20,3,0.0
5,"Adelaide Oval, Adelaide",test,27,11.0
6,"Aga Khan Sports Club Ground, Nairobi",odi,4,2.0
7,Andhra Cricket Association-Visakhapatnam Distr...,odi,2,2.0
8,"Antigua Recreation Ground, St John's",odi,7,3.0
9,"Antigua Recreation Ground, St John's",test,17,5.0
10,"Arbab Niaz Stadium, Peshawar",odi,8,5.0
11,"Arbab Niaz Stadium, Peshawar",test,6,2.0
12,"Armour Heights, Toronto",odi,30,15.0
13,"Arnos Vale Playing Field, Kingstown",odi,22,8.0
14,"Arnos Vale Playing Field, Kingstown",t20,2,1.0
15,"Arnos Vale Playing Field, Kingstown",test,3,1.0
16,"Asgiriya Stadium, Kandy",odi,4,2.0
17,"Asgiriya Stadium, Kandy",test,17,8.0
18,"Axxess DSL St George's, Port Elizabeth",odi,4,2.0
19,"Axxess DSL St George's, Port Elizabeth",t20,1,1.0
20,"Axxess DSL St George's, Port Elizabeth",test,2,2.0
21,"Bangabandhu National Stadium, Dhaka",odi,53,31.0
22,"Bangabandhu National Stadium, Dhaka",test,10,4.0
23,"Barabati Stadium, Cuttack",odi,11,4.0
24,"Barabati Stadium, Cuttack",t20,1,1.0
25,"Barabati Stadium, Cuttack",test,1,0.0
26,"Barkatullah Khan Stadium, Jodhpur",odi,2,1.0
27,"Basin Reserve, Wellington",odi,20,7.0
28,"Basin Reserve, Wellington",test,33,9.0
29,"Bay Oval, Mount Maunganui",odi,4,1.0
...,...,...,...,...
415,"Vidarbha Cricket Association Ground, Nagpur",test,6,1.0
416,"Vidarbha Cricket Association Stadium, Nagpur",odi,7,3.0
417,"Vidarbha Cricket Association Stadium, Nagpur",t20,10,5.0
418,"Vidarbha Cricket Association Stadium, Nagpur",test,5,3.0
419,"Wanderers Cricket Ground, Windhoek",t20,2,1.0
420,"Wankhede Stadium, Bombay",odi,3,2.0
421,"Wankhede Stadium, Bombay",test,2,1.0
422,"Wankhede Stadium, Mumbai",odi,13,7.0
423,"Wankhede Stadium, Mumbai",t20,5,5.0
424,"Wankhede Stadium, Mumbai",test,10,4.0
425,"Warner Park, Basseterre",odi,17,9.0
426,"Warner Park, Basseterre",t20,2,0.0
427,"Warner Park, Basseterre",test,3,1.0
428,"Western Australia Cricket Association Ground, ...",odi,53,20.0
429,"Western Australia Cricket Association Ground, ...",t20,2,1.0
430,"Western Australia Cricket Association Ground, ...",test,26,11.0
431,"Westpac Park, Hamilton",odi,1,1.0
432,"Westpac Park, Hamilton",test,3,1.0
433,"Westpac Stadium, Wellington",odi,22,10.0
434,"Westpac Stadium, Wellington",t20,7,3.0
435,"WestpacTrust Park, Hamilton",odi,2,2.0
436,"WestpacTrust Park, Hamilton",test,5,2.0
437,"WestpacTrust Stadium, Wellington",odi,6,1.0
438,"Willowmoore Park Main Oval, Benoni",odi,21,10.0
439,"Windsor Park, Roseau",odi,4,1.0
440,"Windsor Park, Roseau",t20,2,1.0
441,"Windsor Park, Roseau",test,4,2.0
442,"Zohur Ahmed Chowdhury Stadium, Chittagong",odi,12,6.0
443,"Zohur Ahmed Chowdhury Stadium, Chittagong",t20,17,7.0
444,"Zohur Ahmed Chowdhury Stadium, Chittagong",test,9,3.0

In [110]:
df_25.to_csv('08_grounds_toss_win_useless.csv')

In [6]:
df_26 = df[df['team'] != 'all_nations'].groupby(['team','venue_country', 'format']).size().reset_index(name='matches_played')
df_26

                         team         venue_country format  matches_played
0                 Afghanistan             Australia    odi               3
1                 Afghanistan            Bangladesh    odi               7
2                 Afghanistan            Bangladesh    t20               6
3                 Afghanistan                Canada    odi               2
4                 Afghanistan                 India    t20               7
5                 Afghanistan               Ireland    odi               5
6                 Afghanistan               Ireland    t20               3
7                 Afghanistan                 Kenya    odi               3
8                 Afghanistan              Malaysia    odi               2
9                 Afghanistan           Netherlands    odi               8
10                Afghanistan           New Zealand    odi               3
11                Afghanistan              Scotland    odi               4
12                Afghanistan              Scotland    t20               3
13                Afghanistan          South Africa    odi               1
14                Afghanistan             Sri Lanka    t20               4
15                Afghanistan  United Arab Emirates    odi              23
16                Afghanistan  United Arab Emirates    t20              24
17                Afghanistan           West Indies    t20               2
18                Afghanistan              Zimbabwe    odi               9
19                Afghanistan              Zimbabwe    t20               2
20                 African XI                 India    odi               3
21                 African XI          South Africa    odi               3
22   Asian Cricket Council XI             Australia    odi               1
23   Asian Cricket Council XI                 India    odi               3
24   Asian Cricket Council XI          South Africa    odi               3
25                  Australia             Australia    odi             275
26                  Australia             Australia    t20              27
27                  Australia             Australia   test             149
28                  Australia            Bangladesh    odi               7
29                  Australia            Bangladesh    t20               4
..                        ...                   ...    ...             ...
523                  Zimbabwe            Bangladesh   test               7
524                  Zimbabwe                Canada    t20               4
525                  Zimbabwe               England    odi              22
526                  Zimbabwe               England   test               4
527                  Zimbabwe                 India    odi              33
528                  Zimbabwe                 India    t20               3
529                  Zimbabwe                 India   test               5
530                  Zimbabwe                 Kenya    odi              17
531                  Zimbabwe           New Zealand    odi              20
532                  Zimbabwe           New Zealand    t20               2
533                  Zimbabwe           New Zealand   test               6
534                  Zimbabwe              Pakistan    odi              20
535                  Zimbabwe              Pakistan    t20               2
536                  Zimbabwe              Pakistan   test               7
537                  Zimbabwe             Singapore    odi               2
538                  Zimbabwe          South Africa    odi              25
539                  Zimbabwe          South Africa    t20               4
540                  Zimbabwe          South Africa   test               3
541                  Zimbabwe             Sri Lanka    odi              15
542                  Zimbabwe             Sri Lanka    t20               2
543                  Zimbabwe             Sri Lanka   test               7
544                  Zimbabwe  United Arab Emirates    odi              28
545                  Zimbabwe  United Arab Emirates    t20               2
546                  Zimbabwe                 Wales    odi               1
547                  Zimbabwe           West Indies    odi              24
548                  Zimbabwe           West Indies    t20               5
549                  Zimbabwe           West Indies   test               4
550                  Zimbabwe              Zimbabwe    odi             191
551                  Zimbabwe              Zimbabwe    t20              20
552                  Zimbabwe              Zimbabwe   test              56

[553 rows x 4 columns]

In [7]:
df_27 = df[(df['toss_won'] == 'YES') & (df['team'] != 'all_nations')]\
        .groupby(['team','venue_country', 'format']).size().reset_index(name='tosses_won')
df_27

                         team         venue_country format  tosses_won
0                 Afghanistan             Australia    odi           1
1                 Afghanistan            Bangladesh    odi           2
2                 Afghanistan            Bangladesh    t20           1
3                 Afghanistan                Canada    odi           2
4                 Afghanistan                 India    t20           3
5                 Afghanistan               Ireland    odi           4
6                 Afghanistan               Ireland    t20           2
7                 Afghanistan                 Kenya    odi           1
8                 Afghanistan              Malaysia    odi           1
9                 Afghanistan           Netherlands    odi           3
10                Afghanistan           New Zealand    odi           2
11                Afghanistan              Scotland    odi           2
12                Afghanistan              Scotland    t20           1
13                Afghanistan          South Africa    odi           1
14                Afghanistan             Sri Lanka    t20           3
15                Afghanistan  United Arab Emirates    odi          10
16                Afghanistan  United Arab Emirates    t20          12
17                Afghanistan           West Indies    t20           1
18                Afghanistan              Zimbabwe    odi           4
19                 African XI          South Africa    odi           1
20   Asian Cricket Council XI                 India    odi           3
21   Asian Cricket Council XI          South Africa    odi           2
22                  Australia             Australia    odi         132
23                  Australia             Australia    t20          20
24                  Australia             Australia   test          75
25                  Australia            Bangladesh    odi           3
26                  Australia            Bangladesh    t20           3
27                  Australia               England    odi          25
28                  Australia               England    t20           2
29                  Australia               England   test          19
..                        ...                   ...    ...         ...
480                  Zimbabwe            Bangladesh    t20           5
481                  Zimbabwe            Bangladesh   test           3
482                  Zimbabwe                Canada    t20           2
483                  Zimbabwe               England    odi          10
484                  Zimbabwe               England   test           2
485                  Zimbabwe                 India    odi          21
486                  Zimbabwe                 India    t20           1
487                  Zimbabwe                 India   test           3
488                  Zimbabwe                 Kenya    odi          12
489                  Zimbabwe           New Zealand    odi           9
490                  Zimbabwe           New Zealand    t20           2
491                  Zimbabwe           New Zealand   test           4
492                  Zimbabwe              Pakistan    odi           8
493                  Zimbabwe              Pakistan    t20           2
494                  Zimbabwe              Pakistan   test           5
495                  Zimbabwe             Singapore    odi           2
496                  Zimbabwe          South Africa    odi          17
497                  Zimbabwe          South Africa    t20           1
498                  Zimbabwe          South Africa   test           1
499                  Zimbabwe             Sri Lanka    odi           6
500                  Zimbabwe             Sri Lanka    t20           1
501                  Zimbabwe             Sri Lanka   test           4
502                  Zimbabwe  United Arab Emirates    odi          10
503                  Zimbabwe  United Arab Emirates    t20           1
504                  Zimbabwe           West Indies    odi          14
505                  Zimbabwe           West Indies    t20           2
506                  Zimbabwe           West Indies   test           3
507                  Zimbabwe              Zimbabwe    odi          99
508                  Zimbabwe              Zimbabwe    t20          11
509                  Zimbabwe              Zimbabwe   test          31

[510 rows x 4 columns]

In [9]:
df_28 = pd.merge(df_26, df_27, on=['team','venue_country', 'format'], how='left')
df_28.fillna(0, inplace=True)
df_28

,team,venue_country,format,matches_played,tosses_won
0,Afghanistan,Australia,odi,3,1.0
1,Afghanistan,Bangladesh,odi,7,2.0
2,Afghanistan,Bangladesh,t20,6,1.0
3,Afghanistan,Canada,odi,2,2.0
4,Afghanistan,India,t20,7,3.0
5,Afghanistan,Ireland,odi,5,4.0
6,Afghanistan,Ireland,t20,3,2.0
7,Afghanistan,Kenya,odi,3,1.0
8,Afghanistan,Malaysia,odi,2,1.0
9,Afghanistan,Netherlands,odi,8,3.0
10,Afghanistan,New Zealand,odi,3,2.0
11,Afghanistan,Scotland,odi,4,2.0
12,Afghanistan,Scotland,t20,3,1.0
13,Afghanistan,South Africa,odi,1,1.0
14,Afghanistan,Sri Lanka,t20,4,3.0
15,Afghanistan,United Arab Emirates,odi,23,10.0
16,Afghanistan,United Arab Emirates,t20,24,12.0
17,Afghanistan,West Indies,t20,2,1.0
18,Afghanistan,Zimbabwe,odi,9,4.0
19,Afghanistan,Zimbabwe,t20,2,0.0
20,African XI,India,odi,3,0.0
21,African XI,South Africa,odi,3,1.0
22,Asian Cricket Council XI,Australia,odi,1,0.0
23,Asian Cricket Council XI,India,odi,3,3.0
24,Asian Cricket Council XI,South Africa,odi,3,2.0
25,Australia,Australia,odi,275,132.0
26,Australia,Australia,t20,27,20.0
27,Australia,Australia,test,149,75.0
28,Australia,Bangladesh,odi,7,3.0
29,Australia,Bangladesh,t20,4,3.0
...,...,...,...,...,...
523,Zimbabwe,Bangladesh,test,7,3.0
524,Zimbabwe,Canada,t20,4,2.0
525,Zimbabwe,England,odi,22,10.0
526,Zimbabwe,England,test,4,2.0
527,Zimbabwe,India,odi,33,21.0
528,Zimbabwe,India,t20,3,1.0
529,Zimbabwe,India,test,5,3.0
530,Zimbabwe,Kenya,odi,17,12.0
531,Zimbabwe,New Zealand,odi,20,9.0
532,Zimbabwe,New Zealand,t20,2,2.0
533,Zimbabwe,New Zealand,test,6,4.0
534,Zimbabwe,Pakistan,odi,20,8.0
535,Zimbabwe,Pakistan,t20,2,2.0
536,Zimbabwe,Pakistan,test,7,5.0
537,Zimbabwe,Singapore,odi,2,2.0
538,Zimbabwe,South Africa,odi,25,17.0
539,Zimbabwe,South Africa,t20,4,1.0
540,Zimbabwe,South Africa,test,3,1.0
541,Zimbabwe,Sri Lanka,odi,15,6.0
542,Zimbabwe,Sri Lanka,t20,2,1.0
543,Zimbabwe,Sri Lanka,test,7,4.0
544,Zimbabwe,United Arab Emirates,odi,28,10.0
545,Zimbabwe,United Arab Emirates,t20,2,1.0
546,Zimbabwe,Wales,odi,1,0.0
547,Zimbabwe,West Indies,odi,24,14.0
548,Zimbabwe,West Indies,t20,5,2.0
549,Zimbabwe,West Indies,test,4,3.0
550,Zimbabwe,Zimbabwe,odi,191,99.0
551,Zimbabwe,Zimbabwe,t20,20,11.0
552,Zimbabwe,Zimbabwe,test,56,31.0

In [10]:
df_28.to_csv('09_team_v_venue_toss_stats.csv')

In [25]:
import pandas as pd

df_29 = pd.read_csv('02_toss_action.csv', index_col = 0)

#df_29=df_29.rename(columns = {'tosses_won':'matches_played'})

df_29.head(n=10)

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss,matches_won_toss_bat
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1,1.0
3,Afghanistan,Canada,odi,2011,Canada,"Maple Leaf North-West Ground, King City",1,0.0
4,Afghanistan,Canada,t20,2012,United Arab Emirates,"ICC Cricket Academy Ground, Dubai",1,1.0
5,Afghanistan,England,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,0.0
6,Afghanistan,Hong Kong,odi,2014,Malaysia,"Bayuemas Oval, Kuala Lumpur",1,0.0
7,Afghanistan,Hong Kong,t20,2015,Ireland,"The Village, Malahide, Dublin",1,1.0
8,Afghanistan,Hong Kong,t20,2015,United Arab Emirates,"Sheikh Zayed Stadium, Abu Dhabi",1,1.0
9,Afghanistan,India,t20,2012,Sri Lanka,"R Premadasa Stadium, Colombo",1,0.0

In [29]:
df_30 = df_29[df_29['team'] == 'all_nations']\
        .groupby(['venue_ground', 'format'])\
        [['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()

df_30 = df_30.rename(columns = {'matches_won_toss':'matches_played', 'matches_won_toss_bat':'won_toss_batted'})        

#rename code from http://stackoverflow.com/questions/20868394/changing-a-specific-column-name-in-pandas-dataframe

df_30.head(n=10)

,venue_ground,format,matches_played,won_toss_batted
0,"AMI Stadium, Christchurch",odi,5,0.0
1,"AMI Stadium, Christchurch",t20,4,3.0
2,"ANZ Stadium, Sydney",t20,4,2.0
3,"Adelaide Oval, Adelaide",odi,52,37.0
4,"Adelaide Oval, Adelaide",t20,3,2.0
5,"Adelaide Oval, Adelaide",test,27,26.0
6,"Aga Khan Sports Club Ground, Nairobi",odi,4,3.0
7,Andhra Cricket Association-Visakhapatnam Distr...,odi,2,1.0
8,"Antigua Recreation Ground, St John's",odi,7,4.0
9,"Antigua Recreation Ground, St John's",test,17,9.0

In [26]:
df_31 = pd.read_csv('06_bat_first_match_won.csv', index_col = 0)

#part of the code above from http://stackoverflow.com/questions/36606931/how-to-set-in-pandas-the-first-column-and-row-as-index

df_31.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,matches_bat_first,matches_bat_first_won,matches_bat_first_lost
0,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,1.0,0.0
1,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0,1.0
2,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,1.0,1.0

In [30]:
df_32 = df_31[df_31['team'] == 'all_nations']\
        .groupby(['venue_ground', 'format'])\
        [['matches_bat_first', 'matches_bat_first_won']].sum().reset_index()
        
#part of the code above from http://stackoverflow.com/questions/32751229/pandas-sum-by-groupby-but-exclude-certain-columns

df_32 = df_32.rename(columns = {'matches_bat_first':'matches_played', 'matches_bat_first_won':'batted_first_won' })

df_32.head(n=10)

,venue_ground,format,matches_played,batted_first_won
0,"AMI Stadium, Christchurch",odi,5,2.0
1,"AMI Stadium, Christchurch",t20,4,2.0
2,"ANZ Stadium, Sydney",t20,4,2.0
3,"Adelaide Oval, Adelaide",odi,52,27.0
4,"Adelaide Oval, Adelaide",t20,3,1.0
5,"Adelaide Oval, Adelaide",test,27,12.0
6,"Aga Khan Sports Club Ground, Nairobi",odi,4,1.0
7,Andhra Cricket Association-Visakhapatnam Distr...,odi,2,1.0
8,"Antigua Recreation Ground, St John's",odi,7,2.0
9,"Antigua Recreation Ground, St John's",test,17,3.0

In [34]:
df_30.shape

(445, 4)

In [33]:
df_32.shape

(445, 4)

In [57]:

df_33 = pd.merge(df_30, df_32, on=['venue_ground', 'format', 'matches_played'], how='left')
#df_28.fillna(0, inplace=True)

df_33.head(n=3)

,venue_ground,format,matches_played,won_toss_batted,batted_first_won
0,"AMI Stadium, Christchurch",odi,5,0.0,2.0
1,"AMI Stadium, Christchurch",t20,4,3.0,2.0
2,"ANZ Stadium, Sydney",t20,4,2.0,2.0

In [58]:
df_33.shape

(445, 5)

In [59]:
df_33.dtypes

venue_ground         object
format               object
matches_played        int64
won_toss_batted     float64
batted_first_won    float64
dtype: object

In [60]:
df_33['choose_bat_first_percent'] = (df_33['won_toss_batted']/df_33['matches_played'])*100

df_33['bat_first_winner_percent'] = (df_33['batted_first_won']/df_33['matches_played'])*100

df_33['disparity'] = df_33['choose_bat_first_percent'] - df_33['bat_first_winner_percent']

df_33.head(n=10)

,venue_ground,format,matches_played,won_toss_batted,batted_first_won,choose_bat_first_percent,bat_first_winner_percent,disparity
0,"AMI Stadium, Christchurch",odi,5,0.0,2.0,0.000000,40.000000,-40.000000
1,"AMI Stadium, Christchurch",t20,4,3.0,2.0,75.000000,50.000000,25.000000
2,"ANZ Stadium, Sydney",t20,4,2.0,2.0,50.000000,50.000000,0.000000
3,"Adelaide Oval, Adelaide",odi,52,37.0,27.0,71.153846,51.923077,19.230769
4,"Adelaide Oval, Adelaide",t20,3,2.0,1.0,66.666667,33.333333,33.333333
5,"Adelaide Oval, Adelaide",test,27,26.0,12.0,96.296296,44.444444,51.851852
6,"Aga Khan Sports Club Ground, Nairobi",odi,4,3.0,1.0,75.000000,25.000000,50.000000
7,Andhra Cricket Association-Visakhapatnam Distr...,odi,2,1.0,1.0,50.000000,50.000000,0.000000
8,"Antigua Recreation Ground, St John's",odi,7,4.0,2.0,57.142857,28.571429,28.571429
9,"Antigua Recreation Ground, St John's",test,17,9.0,3.0,52.941176,17.647059,35.294118

In [61]:
df_33.to_csv('10_disparity_toss_choice_results.csv')

In [1]:
import pandas as pd

df = pd.read_csv('for_tableau.csv')

In [113]:
#rough work
#just a snippet of code to find out how many tests has been hosted by each ground in a country over 25 years from 1991 to 2016

df[(df['venue_country'] == 'West Indies') & (df['format'] == 'test') & (df['team'] == 'all_nations') & (df['toss_won'] == 'YES')].groupby(['venue_ground']).size()

venue_ground
Antigua Recreation Ground, St John's                 17
Arnos Vale Playing Field, Kingstown                   3
Beausejour Stadium, Gros Islet                        4
Bourda, Georgetown                                    9
Darren Sammy National Cricket Stadium, Gros Islet     1
Guyana National Stadium, Providence                   2
Kensington Oval, Bridgetown                          25
Queen's Park (New), St George's                       3
Queen's Park Oval, Port of Spain                     20
Sabina Park, Kingston                                21
Sir Vivian Richards Stadium, North Sound              5
Warner Park, Basseterre                               3
Windsor Park, Roseau                                  4
dtype: int64

In [80]:
#there's data on tosses for around 1084 tests from the past 25 years

df[df['format'] == 'test'].groupby(['team']).size()

team
Australia        296
Bangladesh        95
England          314
ICC World XI       1
India            239
New Zealand      212
Pakistan         212
South Africa     234
Sri Lanka        224
West Indies      240
Zimbabwe         101
all_nations     2168
dtype: int64

In [6]:
df_34 = pd.read_csv('05_toss_won_match_won.csv', index_col = 0)

In [7]:
df_34.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,action_after_toss,matches_won_toss,matches_won_toss_won_match
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",field,1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",field,1,1.0
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",bat,1,1.0

In [11]:
df_35 = df_34[df_34['format'] == 'test'].groupby('team')[['matches_won_toss', 'matches_won_toss_won_match']].sum().reset_index()
df_35

            team  matches_won_toss  matches_won_toss_won_match
0      Australia               150                        90.0
1     Bangladesh                49                         6.0
2        England               144                        54.0
3          India               121                        47.0
4    New Zealand               105                        26.0
5       Pakistan                95                        41.0
6   South Africa               117                        59.0
7      Sri Lanka               124                        48.0
8    West Indies               121                        27.0
9       Zimbabwe                58                         6.0
10   all_nations              1084                       404.0

In [14]:
df_35['toss_won_match_won_percent'] = (df_35['matches_won_toss_won_match']/df_35['matches_won_toss'])*100

df_35

#in the case of all_nations below, the matches_won_toss figure actually represents the total number of matches played

,team,matches_won_toss,matches_won_toss_won_match,toss_won_match_won_percent
0,Australia,150,90.0,60.000000
1,Bangladesh,49,6.0,12.244898
2,England,144,54.0,37.500000
3,India,121,47.0,38.842975
4,New Zealand,105,26.0,24.761905
5,Pakistan,95,41.0,43.157895
6,South Africa,117,59.0,50.427350
7,Sri Lanka,124,48.0,38.709677
8,West Indies,121,27.0,22.314050
9,Zimbabwe,58,6.0,10.344828
10,all_nations,1084,404.0,37.269373

In [15]:
df_35.to_csv('d3_01_toss_won_match_won_team.csv', index=False)

In [82]:
df_36 = df_34[(df_34['format'] == 'test') & (df_34['team'] == 'all_nations')]\
        .groupby('venue_country')[['matches_won_toss', 'matches_won_toss_won_match']].sum().reset_index()
df_36

           venue_country  matches_won_toss  matches_won_toss_won_match
0              Australia               149                        62.0
1             Bangladesh                54                        19.0
2                England               167                        67.0
3                  India               110                        39.0
4            New Zealand               103                        32.0
5               Pakistan                60                        20.0
6           South Africa               120                        47.0
7              Sri Lanka               117                        48.0
8   United Arab Emirates                28                        12.0
9                  Wales                 3                         1.0
10           West Indies               117                        38.0
11              Zimbabwe                56                        19.0

In [83]:
df_36 = df_36.rename(columns = {'matches_won_toss':'matches_played'})

In [84]:
df_36['toss_won_match_won_percent'] = (df_36['matches_won_toss_won_match']/df_36['matches_played'])*100
df_36

,venue_country,matches_played,matches_won_toss_won_match,toss_won_match_won_percent
0,Australia,149,62.0,41.610738
1,Bangladesh,54,19.0,35.185185
2,England,167,67.0,40.119760
3,India,110,39.0,35.454545
4,New Zealand,103,32.0,31.067961
5,Pakistan,60,20.0,33.333333
6,South Africa,120,47.0,39.166667
7,Sri Lanka,117,48.0,41.025641
8,United Arab Emirates,28,12.0,42.857143
9,Wales,3,1.0,33.333333
10,West Indies,117,38.0,32.478632
11,Zimbabwe,56,19.0,33.928571

In [85]:
df_36.to_csv('d3_02_toss_won_match_won_venue.csv', index=False)

In [86]:
df_36.sort_values('toss_won_match_won_percent', ascending=False)

,venue_country,matches_played,matches_won_toss_won_match,toss_won_match_won_percent
8,United Arab Emirates,28,12.0,42.857143
0,Australia,149,62.0,41.610738
7,Sri Lanka,117,48.0,41.025641
2,England,167,67.0,40.119760
6,South Africa,120,47.0,39.166667
3,India,110,39.0,35.454545
1,Bangladesh,54,19.0,35.185185
11,Zimbabwe,56,19.0,33.928571
5,Pakistan,60,20.0,33.333333
9,Wales,3,1.0,33.333333
10,West Indies,117,38.0,32.478632
4,New Zealand,103,32.0,31.067961

In [23]:
df[(df['venue_country'] == 'New Zealand') & (df['format'] == 'test') & (df['team'] == 'all_nations') & (df['toss_won'] == 'YES')].groupby(['venue_ground']).size().sort_values(ascending=False)

venue_ground
Basin Reserve, Wellington       33
Eden Park, Auckland             17
Seddon Park, Hamilton            9
McLean Park, Napier              8
University Oval, Dunedin         7
Lancaster Park, Christchurch     6
WestpacTrust Park, Hamilton      5
Trust Bank Park, Hamilton        5
Jade Stadium, Christchurch       5
Westpac Park, Hamilton           3
Hagley Oval, Christchurch        3
Carisbrook, Dunedin              2
dtype: int64

In [157]:
#this is the code to make a csv of major test cricket stadiums in New Zealand with latitude and longitude points

#decided to use the OSM nominatim service instead of google's service, seems according to google's policy
    #you can only use it if you plan on displaying the information on google's own maps, which i'm not
    #OSM (open street map), from my understanding of its policy at https://operations.osmfoundation.org/policies/nominatim/ ,
    #is ok with one-time bulk geocoding requests. Think they'll be ok with me geocoding five cricket grounds in New Zealand!


import csv
import geocoder

headingsx = ['number', 'ground', 'lat', 'lon']

fileg = 'd3_03_stadiums_nz.csv'

with open(fileg, "w") as filem:
    wr = csv.writer(filem, delimiter = ',' , quotechar = '"', lineterminator='\n')
    wr.writerow(headingsx)

#placed the stadiums in geographical order, from north to south, will help in labelling on the map later

stad_nz_list = ['Eden Park, Auckland', 'Seddon Park, Hamilton',\
                'Basin Reserve, Wellington', 'Hagley Oval, Christchurch', 'University Oval, Dunedin']

number = 1
for stad in stad_nz_list:
    row_stad = []
    row_stad.append(number)
    row_stad.append(stad)
    coords = geocoder.osm(stad)
    row_stad.append(coords.lat)
    row_stad.append(coords.lng)
    with open(fileg, "a") as filen:
            wrz = csv.writer(filen, delimiter = ',' , quotechar = '"', lineterminator='\n' )
            wrz.writerow(row_stad)
    number += 1

print 'done and done'

done and done

In [2]:
import pandas as pd
df_38 = pd.read_csv('02_toss_action.csv', index_col = 0)
df_38.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss,matches_won_toss_bat
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1,1.0

In [3]:
df_39_alt = df_38[df_38['format'] == 'test']\
        .groupby(['team'])[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()
df_39_alt

            team  matches_won_toss  matches_won_toss_bat
0      Australia               150                 123.0
1     Bangladesh                49                  31.0
2        England               144                 101.0
3          India               121                  88.0
4    New Zealand               105                  60.0
5       Pakistan                95                  56.0
6   South Africa               117                  80.0
7      Sri Lanka               124                  75.0
8    West Indies               121                  65.0
9       Zimbabwe                58                  38.0
10   all_nations              1084                 717.0

In [4]:
df_39_alt['won_toss_bat_first_percent'] = (df_39_alt['matches_won_toss_bat']/df_39_alt['matches_won_toss'])*100
df_39_alt

,team,matches_won_toss,matches_won_toss_bat,won_toss_bat_first_percent
0,Australia,150,123.0,82.000000
1,Bangladesh,49,31.0,63.265306
2,England,144,101.0,70.138889
3,India,121,88.0,72.727273
4,New Zealand,105,60.0,57.142857
5,Pakistan,95,56.0,58.947368
6,South Africa,117,80.0,68.376068
7,Sri Lanka,124,75.0,60.483871
8,West Indies,121,65.0,53.719008
9,Zimbabwe,58,38.0,65.517241
10,all_nations,1084,717.0,66.143911

In [5]:
df_39_alt = df_39_alt.rename(columns = {'matches_won_toss':'matches_played'})
df_39_alt.to_csv('d3_04_alt_version_team_won_toss_bat_first_percent.csv', index=False)

In [36]:
df_39 = df_38[df_38['format'] == 'test']\
        .groupby(['team','year'])[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()
df_39

            team  year  matches_won_toss  matches_won_toss_bat
0      Australia  1991                 6                   4.0
1      Australia  1992                 4                   4.0
2      Australia  1993                 8                   7.0
3      Australia  1994                 3                   3.0
4      Australia  1995                 3                   3.0
5      Australia  1996                 4                   4.0
6      Australia  1997                 9                   6.0
7      Australia  1998                 7                   5.0
8      Australia  1999                10                   8.0
9      Australia  2000                 4                   1.0
10     Australia  2001                 9                   5.0
11     Australia  2002                 5                   5.0
12     Australia  2003                 5                   3.0
13     Australia  2004                 7                   7.0
14     Australia  2005                 6                   4.0
15     Australia  2006                 3                   3.0
16     Australia  2007                 2                   2.0
17     Australia  2008                 6                   6.0
18     Australia  2009                 8                   8.0
19     Australia  2010                 8                   8.0
20     Australia  2011                 4                   3.0
21     Australia  2012                 6                   5.0
22     Australia  2013                11                   9.0
23     Australia  2014                 3                   3.0
24     Australia  2015                 6                   6.0
25     Australia  2016                 3                   1.0
26    Bangladesh  2000                 1                   1.0
27    Bangladesh  2001                 3                   1.0
28    Bangladesh  2002                 5                   3.0
29    Bangladesh  2003                 5                   4.0
..           ...   ...               ...                   ...
235     Zimbabwe  2012                 1                   0.0
236     Zimbabwe  2013                 4                   2.0
237     Zimbabwe  2014                 2                   2.0
238     Zimbabwe  2016                 2                   1.0
239  all_nations  1991                21                  12.0
240  all_nations  1992                26                  14.0
241  all_nations  1993                36                  27.0
242  all_nations  1994                38                  30.0
243  all_nations  1995                40                  29.0
244  all_nations  1996                28                  19.0
245  all_nations  1997                44                  28.0
246  all_nations  1998                45                  28.0
247  all_nations  1999                43                  26.0
248  all_nations  2000                46                  26.0
249  all_nations  2001                55                  28.0
250  all_nations  2002                54                  31.0
251  all_nations  2003                44                  32.0
252  all_nations  2004                51                  35.0
253  all_nations  2005                49                  35.0
254  all_nations  2006                46                  37.0
255  all_nations  2007                31                  20.0
256  all_nations  2008                47                  34.0
257  all_nations  2009                41                  28.0
258  all_nations  2010                43                  30.0
259  all_nations  2011                39                  21.0
260  all_nations  2012                42                  30.0
261  all_nations  2013                44                  28.0
262  all_nations  2014                41                  26.0
263  all_nations  2015                43                  26.0
264  all_nations  2016                47                  37.0

[265 rows x 4 columns]

In [37]:
df_39.dtypes

team                     object
year                      int64
matches_won_toss          int64
matches_won_toss_bat    float64
dtype: object

In [38]:
#part of the code below from http://pandas.pydata.org/pandas-docs/stable/generated/pandas.cut.html and
# https://chrisalbon.com/python/pandas_binning_data.html

bins = [1993, 1998, 2004, 2010, 2016]

group_names = ['1993-1998', '1999-2004', '2005-2010', '2011-2016']

df_39['year_band'] = pd.cut(df_39['year'], bins, labels=group_names, include_lowest=True)

df_39

            team  year  matches_won_toss  matches_won_toss_bat  year_band
0      Australia  1991                 6                   4.0        NaN
1      Australia  1992                 4                   4.0        NaN
2      Australia  1993                 8                   7.0  1993-1998
3      Australia  1994                 3                   3.0  1993-1998
4      Australia  1995                 3                   3.0  1993-1998
5      Australia  1996                 4                   4.0  1993-1998
6      Australia  1997                 9                   6.0  1993-1998
7      Australia  1998                 7                   5.0  1993-1998
8      Australia  1999                10                   8.0  1999-2004
9      Australia  2000                 4                   1.0  1999-2004
10     Australia  2001                 9                   5.0  1999-2004
11     Australia  2002                 5                   5.0  1999-2004
12     Australia  2003                 5                   3.0  1999-2004
13     Australia  2004                 7                   7.0  1999-2004
14     Australia  2005                 6                   4.0  2005-2010
15     Australia  2006                 3                   3.0  2005-2010
16     Australia  2007                 2                   2.0  2005-2010
17     Australia  2008                 6                   6.0  2005-2010
18     Australia  2009                 8                   8.0  2005-2010
19     Australia  2010                 8                   8.0  2005-2010
20     Australia  2011                 4                   3.0  2011-2016
21     Australia  2012                 6                   5.0  2011-2016
22     Australia  2013                11                   9.0  2011-2016
23     Australia  2014                 3                   3.0  2011-2016
24     Australia  2015                 6                   6.0  2011-2016
25     Australia  2016                 3                   1.0  2011-2016
26    Bangladesh  2000                 1                   1.0  1999-2004
27    Bangladesh  2001                 3                   1.0  1999-2004
28    Bangladesh  2002                 5                   3.0  1999-2004
29    Bangladesh  2003                 5                   4.0  1999-2004
..           ...   ...               ...                   ...        ...
235     Zimbabwe  2012                 1                   0.0  2011-2016
236     Zimbabwe  2013                 4                   2.0  2011-2016
237     Zimbabwe  2014                 2                   2.0  2011-2016
238     Zimbabwe  2016                 2                   1.0  2011-2016
239  all_nations  1991                21                  12.0        NaN
240  all_nations  1992                26                  14.0        NaN
241  all_nations  1993                36                  27.0  1993-1998
242  all_nations  1994                38                  30.0  1993-1998
243  all_nations  1995                40                  29.0  1993-1998
244  all_nations  1996                28                  19.0  1993-1998
245  all_nations  1997                44                  28.0  1993-1998
246  all_nations  1998                45                  28.0  1993-1998
247  all_nations  1999                43                  26.0  1999-2004
248  all_nations  2000                46                  26.0  1999-2004
249  all_nations  2001                55                  28.0  1999-2004
250  all_nations  2002                54                  31.0  1999-2004
251  all_nations  2003                44                  32.0  1999-2004
252  all_nations  2004                51                  35.0  1999-2004
253  all_nations  2005                49                  35.0  2005-2010
254  all_nations  2006                46                  37.0  2005-2010
255  all_nations  2007                31                  20.0  2005-2010
256  all_nations  2008                47                  34.0  2005-2010
257  all_nations  2009                41                  28.0  2005-2010
258  all_nations  2010                43                  30.0  2005-2010
259  all_nations  2011                39                  21.0  2011-2016
260  all_nations  2012                42                  30.0  2011-2016
261  all_nations  2013                44                  28.0  2011-2016
262  all_nations  2014                41                  26.0  2011-2016
263  all_nations  2015                43                  26.0  2011-2016
264  all_nations  2016                47                  37.0  2011-2016

[265 rows x 5 columns]

In [43]:
df_40 = df_39.groupby(['team', 'year_band'])[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()

#df_40.fillna(0, inplace=True)

df_40

            team  year_band  matches_won_toss  matches_won_toss_bat
0      Australia  1993-1998              34.0                  28.0
1      Australia  1999-2004              40.0                  29.0
2      Australia  2005-2010              33.0                  31.0
3      Australia  2011-2016              33.0                  27.0
4     Bangladesh  1993-1998               NaN                   NaN
5     Bangladesh  1999-2004              17.0                  12.0
6     Bangladesh  2005-2010              19.0                  11.0
7     Bangladesh  2011-2016              13.0                   8.0
8        England  1993-1998              29.0                  20.0
9        England  1999-2004              28.0                  19.0
10       England  2005-2010              43.0                  33.0
11       England  2011-2016              36.0                  22.0
12         India  1993-1998              28.0                  21.0
13         India  1999-2004              28.0                  19.0
14         India  2005-2010              31.0                  25.0
15         India  2011-2016              30.0                  22.0
16   New Zealand  1993-1998              26.0                  16.0
17   New Zealand  1999-2004              29.0                  17.0
18   New Zealand  2005-2010              21.0                  10.0
19   New Zealand  2011-2016              24.0                  15.0
20      Pakistan  1993-1998              19.0                   9.0
21      Pakistan  1999-2004              21.0                  12.0
22      Pakistan  2005-2010              24.0                  15.0
23      Pakistan  2011-2016              28.0                  18.0
24  South Africa  1993-1998              26.0                  20.0
25  South Africa  1999-2004              31.0                  19.0
26  South Africa  2005-2010              33.0                  23.0
27  South Africa  2011-2016              24.0                  17.0
28     Sri Lanka  1993-1998              20.0                  15.0
29     Sri Lanka  1999-2004              37.0                  20.0
30     Sri Lanka  2005-2010              24.0                  17.0
31     Sri Lanka  2011-2016              35.0                  21.0
32   West Indies  1993-1998              30.0                  18.0
33   West Indies  1999-2004              38.0                  17.0
34   West Indies  2005-2010              24.0                  15.0
35   West Indies  2011-2016              24.0                  13.0
36      Zimbabwe  1993-1998              19.0                  14.0
37      Zimbabwe  1999-2004              24.0                  14.0
38      Zimbabwe  2005-2010               5.0                   4.0
39      Zimbabwe  2011-2016               9.0                   5.0
40   all_nations  1993-1998             231.0                 161.0
41   all_nations  1999-2004             293.0                 178.0
42   all_nations  2005-2010             257.0                 184.0
43   all_nations  2011-2016             256.0                 168.0

In [44]:
df_40['won_toss_bat_first_percent'] = (df_40['matches_won_toss_bat']/df_40['matches_won_toss'])*100
df_40

,team,year_band,matches_won_toss,matches_won_toss_bat,won_toss_bat_first_percent
0,Australia,1993-1998,34.0,28.0,82.352941
1,Australia,1999-2004,40.0,29.0,72.500000
2,Australia,2005-2010,33.0,31.0,93.939394
3,Australia,2011-2016,33.0,27.0,81.818182
4,Bangladesh,1993-1998,NaN,NaN,NaN
5,Bangladesh,1999-2004,17.0,12.0,70.588235
6,Bangladesh,2005-2010,19.0,11.0,57.894737
7,Bangladesh,2011-2016,13.0,8.0,61.538462
8,England,1993-1998,29.0,20.0,68.965517
9,England,1999-2004,28.0,19.0,67.857143
10,England,2005-2010,43.0,33.0,76.744186
11,England,2011-2016,36.0,22.0,61.111111
12,India,1993-1998,28.0,21.0,75.000000
13,India,1999-2004,28.0,19.0,67.857143
14,India,2005-2010,31.0,25.0,80.645161
15,India,2011-2016,30.0,22.0,73.333333
16,New Zealand,1993-1998,26.0,16.0,61.538462
17,New Zealand,1999-2004,29.0,17.0,58.620690
18,New Zealand,2005-2010,21.0,10.0,47.619048
19,New Zealand,2011-2016,24.0,15.0,62.500000
20,Pakistan,1993-1998,19.0,9.0,47.368421
21,Pakistan,1999-2004,21.0,12.0,57.142857
22,Pakistan,2005-2010,24.0,15.0,62.500000
23,Pakistan,2011-2016,28.0,18.0,64.285714
24,South Africa,1993-1998,26.0,20.0,76.923077
25,South Africa,1999-2004,31.0,19.0,61.290323
26,South Africa,2005-2010,33.0,23.0,69.696970
27,South Africa,2011-2016,24.0,17.0,70.833333
28,Sri Lanka,1993-1998,20.0,15.0,75.000000
29,Sri Lanka,1999-2004,37.0,20.0,54.054054
30,Sri Lanka,2005-2010,24.0,17.0,70.833333
31,Sri Lanka,2011-2016,35.0,21.0,60.000000
32,West Indies,1993-1998,30.0,18.0,60.000000
33,West Indies,1999-2004,38.0,17.0,44.736842
34,West Indies,2005-2010,24.0,15.0,62.500000
35,West Indies,2011-2016,24.0,13.0,54.166667
36,Zimbabwe,1993-1998,19.0,14.0,73.684211
37,Zimbabwe,1999-2004,24.0,14.0,58.333333
38,Zimbabwe,2005-2010,5.0,4.0,80.000000
39,Zimbabwe,2011-2016,9.0,5.0,55.555556
40,all_nations,1993-1998,231.0,161.0,69.696970
41,all_nations,1999-2004,293.0,178.0,60.750853
42,all_nations,2005-2010,257.0,184.0,71.595331
43,all_nations,2011-2016,256.0,168.0,65.625000

In [45]:
#code below
#from http://stackoverflow.com/questions/34682828/pandas-extracting-specific-selected-columns-from-a-dataframe-to-new-dataframe

df_41 = df_40[['team', 'year_band', 'won_toss_bat_first_percent']].copy()
#code below from https://chrisalbon.com/python/pandas_crosstabs.html
df_41

            team  year_band  won_toss_bat_first_percent
0      Australia  1993-1998                   82.352941
1      Australia  1999-2004                   72.500000
2      Australia  2005-2010                   93.939394
3      Australia  2011-2016                   81.818182
4     Bangladesh  1993-1998                         NaN
5     Bangladesh  1999-2004                   70.588235
6     Bangladesh  2005-2010                   57.894737
7     Bangladesh  2011-2016                   61.538462
8        England  1993-1998                   68.965517
9        England  1999-2004                   67.857143
10       England  2005-2010                   76.744186
11       England  2011-2016                   61.111111
12         India  1993-1998                   75.000000
13         India  1999-2004                   67.857143
14         India  2005-2010                   80.645161
15         India  2011-2016                   73.333333
16   New Zealand  1993-1998                   61.538462
17   New Zealand  1999-2004                   58.620690
18   New Zealand  2005-2010                   47.619048
19   New Zealand  2011-2016                   62.500000
20      Pakistan  1993-1998                   47.368421
21      Pakistan  1999-2004                   57.142857
22      Pakistan  2005-2010                   62.500000
23      Pakistan  2011-2016                   64.285714
24  South Africa  1993-1998                   76.923077
25  South Africa  1999-2004                   61.290323
26  South Africa  2005-2010                   69.696970
27  South Africa  2011-2016                   70.833333
28     Sri Lanka  1993-1998                   75.000000
29     Sri Lanka  1999-2004                   54.054054
30     Sri Lanka  2005-2010                   70.833333
31     Sri Lanka  2011-2016                   60.000000
32   West Indies  1993-1998                   60.000000
33   West Indies  1999-2004                   44.736842
34   West Indies  2005-2010                   62.500000
35   West Indies  2011-2016                   54.166667
36      Zimbabwe  1993-1998                   73.684211
37      Zimbabwe  1999-2004                   58.333333
38      Zimbabwe  2005-2010                   80.000000
39      Zimbabwe  2011-2016                   55.555556
40   all_nations  1993-1998                   69.696970
41   all_nations  1999-2004                   60.750853
42   all_nations  2005-2010                   71.595331
43   all_nations  2011-2016                   65.625000

In [51]:
#code below from http://pandas.pydata.org/pandas-docs/stable/reshaping.html

#note to self: crosstabs isn't what you think it is, pandas defines crosstabs as some kind of frequency table
    #I used 'crosstab' as a term for non-flat, excel-like tables. In pandas language you have to use the 'pivot'
    #function to get that


df_42 = df_41.pivot(index='team', columns='year_band', values='won_toss_bat_first_percent')

df_42

year_band     1993-1998  1999-2004  2005-2010  2011-2016
team
Australia     82.352941  72.500000  93.939394  81.818182
Bangladesh          NaN  70.588235  57.894737  61.538462
England       68.965517  67.857143  76.744186  61.111111
India         75.000000  67.857143  80.645161  73.333333
New Zealand   61.538462  58.620690  47.619048  62.500000
Pakistan      47.368421  57.142857  62.500000  64.285714
South Africa  76.923077  61.290323  69.696970  70.833333
Sri Lanka     75.000000  54.054054  70.833333  60.000000
West Indies   60.000000  44.736842  62.500000  54.166667
Zimbabwe      73.684211  58.333333  80.000000  55.555556
all_nations   69.696970  60.750853  71.595331  65.625000

In [52]:
df_42.fillna(0, inplace=True)
df_42.to_csv('d3_04_team_won_toss_bat_first_percent.csv')

In [143]:
df_alt_try = df_38[(df_38['format'] == 'test') & (df_38['team'] == 'all_nations')]\
        .groupby(['venue_country'])[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()
df_alt_try

           venue_country  matches_won_toss  matches_won_toss_bat
0              Australia               149                 110.0
1             Bangladesh                54                  40.0
2                England               167                 107.0
3                  India               110                 101.0
4            New Zealand               103                  35.0
5               Pakistan                60                  41.0
6           South Africa               120                  68.0
7              Sri Lanka               117                  83.0
8   United Arab Emirates                28                  23.0
9                  Wales                 3                   3.0
10           West Indies               117                  72.0
11              Zimbabwe                56                  34.0

In [144]:
df_alt_try['won_toss_bat_percent'] = (df_alt_try['matches_won_toss_bat']/df_alt_try['matches_won_toss'])*100
df_alt_try

,venue_country,matches_won_toss,matches_won_toss_bat,won_toss_bat_percent
0,Australia,149,110.0,73.825503
1,Bangladesh,54,40.0,74.074074
2,England,167,107.0,64.071856
3,India,110,101.0,91.818182
4,New Zealand,103,35.0,33.980583
5,Pakistan,60,41.0,68.333333
6,South Africa,120,68.0,56.666667
7,Sri Lanka,117,83.0,70.940171
8,United Arab Emirates,28,23.0,82.142857
9,Wales,3,3.0,100.000000
10,West Indies,117,72.0,61.538462
11,Zimbabwe,56,34.0,60.714286

In [146]:
df_alt_try = df_alt_try.rename(columns = {'matches_won_toss':'matches_played'})
df_alt_try.sort_values('won_toss_bat_percent', ascending = False)

,venue_country,matches_played,matches_won_toss_bat,won_toss_bat_percent
9,Wales,3,3.0,100.000000
3,India,110,101.0,91.818182
8,United Arab Emirates,28,23.0,82.142857
1,Bangladesh,54,40.0,74.074074
0,Australia,149,110.0,73.825503
7,Sri Lanka,117,83.0,70.940171
5,Pakistan,60,41.0,68.333333
2,England,167,107.0,64.071856
10,West Indies,117,72.0,61.538462
11,Zimbabwe,56,34.0,60.714286
6,South Africa,120,68.0,56.666667
4,New Zealand,103,35.0,33.980583

In [147]:
df_alt_try.to_csv('d3_05_alt_version_venue_country_won_toss_bat_first_percent.csv', index=False)

In [15]:
df_toss_choice = pd.read_csv('02_toss_action.csv', index_col = 0)
df_toss_choice.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,matches_won_toss,matches_won_toss_bat
0,Afghanistan,Australia,odi,2015,Australia,"Western Australia Cricket Association Ground, ...",1,0.0
1,Afghanistan,Bangladesh,odi,2016,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0
2,Afghanistan,Canada,odi,2011,Canada,"Armour Heights, Toronto",1,1.0

In [16]:
df_toss_choice_v2 = df_toss_choice[df_toss_choice['format'] == 'test']\
                    .groupby(['team','year'])[['matches_won_toss', 'matches_won_toss_bat']]\
                    .sum().reset_index()

df_toss_choice_v2.head(n=10)

        team  year  matches_won_toss  matches_won_toss_bat
0  Australia  1991                 6                   4.0
1  Australia  1992                 4                   4.0
2  Australia  1993                 8                   7.0
3  Australia  1994                 3                   3.0
4  Australia  1995                 3                   3.0
5  Australia  1996                 4                   4.0
6  Australia  1997                 9                   6.0
7  Australia  1998                 7                   5.0
8  Australia  1999                10                   8.0
9  Australia  2000                 4                   1.0

In [17]:
bins = [1991, 2003, 2016]

group_names = ['1991-2003', '2004-2016']

df_toss_choice_v2['year_band']\
    = pd.cut(df_toss_choice_v2['year'], bins, labels=group_names, include_lowest=True)

df_toss_choice_v2.head(n=26)

         team  year  matches_won_toss  matches_won_toss_bat  year_band
0   Australia  1991                 6                   4.0  1991-2003
1   Australia  1992                 4                   4.0  1991-2003
2   Australia  1993                 8                   7.0  1991-2003
3   Australia  1994                 3                   3.0  1991-2003
4   Australia  1995                 3                   3.0  1991-2003
5   Australia  1996                 4                   4.0  1991-2003
6   Australia  1997                 9                   6.0  1991-2003
7   Australia  1998                 7                   5.0  1991-2003
8   Australia  1999                10                   8.0  1991-2003
9   Australia  2000                 4                   1.0  1991-2003
10  Australia  2001                 9                   5.0  1991-2003
11  Australia  2002                 5                   5.0  1991-2003
12  Australia  2003                 5                   3.0  1991-2003
13  Australia  2004                 7                   7.0  2004-2016
14  Australia  2005                 6                   4.0  2004-2016
15  Australia  2006                 3                   3.0  2004-2016
16  Australia  2007                 2                   2.0  2004-2016
17  Australia  2008                 6                   6.0  2004-2016
18  Australia  2009                 8                   8.0  2004-2016
19  Australia  2010                 8                   8.0  2004-2016
20  Australia  2011                 4                   3.0  2004-2016
21  Australia  2012                 6                   5.0  2004-2016
22  Australia  2013                11                   9.0  2004-2016
23  Australia  2014                 3                   3.0  2004-2016
24  Australia  2015                 6                   6.0  2004-2016
25  Australia  2016                 3                   1.0  2004-2016

In [18]:
df_toss_choice_v3\
    = df_toss_choice_v2.groupby(['team', 'year_band'])\
                        [['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()

df_toss_choice_v3.head(n=20)

            team  year_band  matches_won_toss  matches_won_toss_bat
0      Australia  1991-2003                77                  58.0
1      Australia  2004-2016                73                  65.0
2     Bangladesh  1991-2003                14                   9.0
3     Bangladesh  2004-2016                35                  22.0
4        England  1991-2003                61                  44.0
5        England  2004-2016                83                  57.0
6          India  1991-2003                53                  36.0
7          India  2004-2016                68                  52.0
8    New Zealand  1991-2003                55                  31.0
9    New Zealand  2004-2016                50                  29.0
10      Pakistan  1991-2003                40                  22.0
11      Pakistan  2004-2016                55                  34.0
12  South Africa  1991-2003                53                  35.0
13  South Africa  2004-2016                64                  45.0
14     Sri Lanka  1991-2003                58                  34.0
15     Sri Lanka  2004-2016                66                  41.0
16   West Indies  1991-2003                67                  33.0
17   West Indies  2004-2016                54                  32.0
18      Zimbabwe  1991-2003                42                  28.0
19      Zimbabwe  2004-2016                16                  10.0

In [19]:
df_toss_choice_v3['won_toss_bat_first_percent'] =\
    (df_toss_choice_v3['matches_won_toss_bat']/df_toss_choice_v3['matches_won_toss'])*100

df_toss_choice_v3

,team,year_band,matches_won_toss,matches_won_toss_bat,won_toss_bat_first_percent
0,Australia,1991-2003,77,58.0,75.324675
1,Australia,2004-2016,73,65.0,89.041096
2,Bangladesh,1991-2003,14,9.0,64.285714
3,Bangladesh,2004-2016,35,22.0,62.857143
4,England,1991-2003,61,44.0,72.131148
5,England,2004-2016,83,57.0,68.674699
6,India,1991-2003,53,36.0,67.924528
7,India,2004-2016,68,52.0,76.470588
8,New Zealand,1991-2003,55,31.0,56.363636
9,New Zealand,2004-2016,50,29.0,58.000000
10,Pakistan,1991-2003,40,22.0,55.000000
11,Pakistan,2004-2016,55,34.0,61.818182
12,South Africa,1991-2003,53,35.0,66.037736
13,South Africa,2004-2016,64,45.0,70.312500
14,Sri Lanka,1991-2003,58,34.0,58.620690
15,Sri Lanka,2004-2016,66,41.0,62.121212
16,West Indies,1991-2003,67,33.0,49.253731
17,West Indies,2004-2016,54,32.0,59.259259
18,Zimbabwe,1991-2003,42,28.0,66.666667
19,Zimbabwe,2004-2016,16,10.0,62.500000
20,all_nations,1991-2003,520,330.0,63.461538
21,all_nations,2004-2016,564,387.0,68.617021

In [20]:
df_toss_choice_v4 = df_toss_choice_v3[['team', 'year_band', 'won_toss_bat_first_percent']].copy()

df_toss_choice_v4

            team  year_band  won_toss_bat_first_percent
0      Australia  1991-2003                   75.324675
1      Australia  2004-2016                   89.041096
2     Bangladesh  1991-2003                   64.285714
3     Bangladesh  2004-2016                   62.857143
4        England  1991-2003                   72.131148
5        England  2004-2016                   68.674699
6          India  1991-2003                   67.924528
7          India  2004-2016                   76.470588
8    New Zealand  1991-2003                   56.363636
9    New Zealand  2004-2016                   58.000000
10      Pakistan  1991-2003                   55.000000
11      Pakistan  2004-2016                   61.818182
12  South Africa  1991-2003                   66.037736
13  South Africa  2004-2016                   70.312500
14     Sri Lanka  1991-2003                   58.620690
15     Sri Lanka  2004-2016                   62.121212
16   West Indies  1991-2003                   49.253731
17   West Indies  2004-2016                   59.259259
18      Zimbabwe  1991-2003                   66.666667
19      Zimbabwe  2004-2016                   62.500000
20   all_nations  1991-2003                   63.461538
21   all_nations  2004-2016                   68.617021

In [21]:
df_toss_choice_v5 =\
    df_toss_choice_v4.pivot(index='team', columns='year_band', values='won_toss_bat_first_percent')

df_toss_choice_v5

year_band     1991-2003  2004-2016
team
Australia     75.324675  89.041096
Bangladesh    64.285714  62.857143
England       72.131148  68.674699
India         67.924528  76.470588
New Zealand   56.363636  58.000000
Pakistan      55.000000  61.818182
South Africa  66.037736  70.312500
Sri Lanka     58.620690  62.121212
West Indies   49.253731  59.259259
Zimbabwe      66.666667  62.500000
all_nations   63.461538  68.617021

In [22]:
df_toss_choice_v5.to_csv('d3_11_toss_choice_trends.csv')

In [149]:
df[(df['venue_country'] == 'Australia') & (df['format'] == 'test') & (df['team'] == 'all_nations')\
   & (df['toss_won'] == 'YES')].groupby(['venue_ground']).size().sort_values(ascending=False)

venue_ground
Sydney Cricket Ground, Sydney                          28
Adelaide Oval, Adelaide                                27
Western Australia Cricket Association Ground, Perth    26
Melbourne Cricket Ground, Melbourne                    26
Brisbane Cricket Ground, Woolloongabba, Brisbane       26
Bellerive Oval, Hobart                                  9
Blundstone Arena, Hobart                                3
Marrara Cricket Ground, Darwin                          2
Cazaly's Stadium, Cairns                                1
Bundaberg Rum Stadium, Cairns                           1
dtype: int64

In [156]:
#d3_06 going to focus on australia as an exception among subcontinental teams, why do countries choose to bat first a lot
    #when they win the toss there? 
#am getting the lat, long coordinates of australian grounds here

import csv
import geocoder
import re

headingsx = ['number','ground', 'lat', 'lon']

fileg = 'd3_06_stadiums_aus.csv'

with open(fileg, "w") as filem:
    wr = csv.writer(filem, delimiter = ',' , quotechar = '"', lineterminator='\n')
    wr.writerow(headingsx)

#placed the grounds in geographical order, from west to east, will help in labelling on the map later

stad_aus_list =  ['W.A.C.A. Ground, Perth', 'Adelaide Oval, Adelaide',  \
                  'Melbourne Cricket Ground, Melbourne', 'Sydney Cricket Ground, Sydney', 'Gabba, Brisbane']

number = 1
for stad in stad_aus_list:
    row_stad = []
    row_stad.append(number)
    row_stad.append(stad)
    stad_city = (re.findall(r".*, (.*)", stad))[0]
    print stad_city
    coords = geocoder.osm(stad_city)
    row_stad.append(coords.lat)
    row_stad.append(coords.lng)
    with open(fileg, "a") as filen:
            wrz = csv.writer(filen, delimiter = ',' , quotechar = '"', lineterminator='\n' )
            wrz.writerow(row_stad)
    number += 1
    
print 'done and done'

Perth
Adelaide
Melbourne
Sydney
Brisbane
done and done

In [90]:
df_43 = df_38[(df_38['format'] == 'test') & (df_38['team'] == 'all_nations')]\
        .groupby(['venue_country','year'])[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()
df_43

    venue_country  year  matches_won_toss  matches_won_toss_bat
0       Australia  1991                 5                   4.0
1       Australia  1992                 5                   3.0
2       Australia  1993                 7                   6.0
3       Australia  1994                 4                   3.0
4       Australia  1995                 8                   7.0
5       Australia  1996                 4                   3.0
6       Australia  1997                 6                   5.0
7       Australia  1998                 6                   4.0
8       Australia  1999                 6                   3.0
9       Australia  2000                 5                   2.0
10      Australia  2001                 6                   3.0
11      Australia  2002                 5                   4.0
12      Australia  2003                 8                   4.0
13      Australia  2004                 7                   4.0
14      Australia  2005                 7                   6.0
15      Australia  2006                 5                   5.0
16      Australia  2007                 4                   3.0
17      Australia  2008                 7                   6.0
18      Australia  2009                 5                   5.0
19      Australia  2010                 6                   4.0
20      Australia  2011                 4                   3.0
21      Australia  2012                 8                   7.0
22      Australia  2013                 5                   3.0
23      Australia  2014                 4                   3.0
24      Australia  2015                 6                   5.0
25      Australia  2016                 6                   5.0
26     Bangladesh  1999                 1                   1.0
27     Bangladesh  2000                 1                   1.0
28     Bangladesh  2001                 2                   0.0
29     Bangladesh  2002                 4                   2.0
..            ...   ...               ...                   ...
208   West Indies  2003                 6                   4.0
209   West Indies  2004                 6                   5.0
210   West Indies  2005                 6                   6.0
211   West Indies  2006                 4                   4.0
212   West Indies  2008                 5                   3.0
213   West Indies  2009                 7                   4.0
214   West Indies  2010                 3                   3.0
215   West Indies  2011                 5                   3.0
216   West Indies  2012                 5                   4.0
217   West Indies  2013                 2                   1.0
218   West Indies  2014                 5                   3.0
219   West Indies  2015                 5                   2.0
220   West Indies  2016                 4                   3.0
221      Zimbabwe  1992                 3                   3.0
222      Zimbabwe  1994                 3                   3.0
223      Zimbabwe  1995                 4                   4.0
224      Zimbabwe  1996                 2                   1.0
225      Zimbabwe  1997                 2                   1.0
226      Zimbabwe  1998                 3                   2.0
227      Zimbabwe  1999                 5                   1.0
228      Zimbabwe  2000                 2                   2.0
229      Zimbabwe  2001                 8                   5.0
230      Zimbabwe  2002                 2                   1.0
231      Zimbabwe  2003                 2                   2.0
232      Zimbabwe  2004                 4                   1.0
233      Zimbabwe  2005                 4                   2.0
234      Zimbabwe  2011                 3                   1.0
235      Zimbabwe  2013                 4                   1.0
236      Zimbabwe  2014                 1                   1.0
237      Zimbabwe  2016                 4                   3.0

[238 rows x 4 columns]

In [91]:
bins = [1993, 1998, 2004, 2010, 2016]

group_names = ['1993-1998', '1999-2004', '2005-2010', '2011-2016']

df_43['year_band'] = pd.cut(df_43['year'], bins, labels=group_names, include_lowest=True)

df_43

    venue_country  year  matches_won_toss  matches_won_toss_bat  year_band
0       Australia  1991                 5                   4.0        NaN
1       Australia  1992                 5                   3.0        NaN
2       Australia  1993                 7                   6.0  1993-1998
3       Australia  1994                 4                   3.0  1993-1998
4       Australia  1995                 8                   7.0  1993-1998
5       Australia  1996                 4                   3.0  1993-1998
6       Australia  1997                 6                   5.0  1993-1998
7       Australia  1998                 6                   4.0  1993-1998
8       Australia  1999                 6                   3.0  1999-2004
9       Australia  2000                 5                   2.0  1999-2004
10      Australia  2001                 6                   3.0  1999-2004
11      Australia  2002                 5                   4.0  1999-2004
12      Australia  2003                 8                   4.0  1999-2004
13      Australia  2004                 7                   4.0  1999-2004
14      Australia  2005                 7                   6.0  2005-2010
15      Australia  2006                 5                   5.0  2005-2010
16      Australia  2007                 4                   3.0  2005-2010
17      Australia  2008                 7                   6.0  2005-2010
18      Australia  2009                 5                   5.0  2005-2010
19      Australia  2010                 6                   4.0  2005-2010
20      Australia  2011                 4                   3.0  2011-2016
21      Australia  2012                 8                   7.0  2011-2016
22      Australia  2013                 5                   3.0  2011-2016
23      Australia  2014                 4                   3.0  2011-2016
24      Australia  2015                 6                   5.0  2011-2016
25      Australia  2016                 6                   5.0  2011-2016
26     Bangladesh  1999                 1                   1.0  1999-2004
27     Bangladesh  2000                 1                   1.0  1999-2004
28     Bangladesh  2001                 2                   0.0  1999-2004
29     Bangladesh  2002                 4                   2.0  1999-2004
..            ...   ...               ...                   ...        ...
208   West Indies  2003                 6                   4.0  1999-2004
209   West Indies  2004                 6                   5.0  1999-2004
210   West Indies  2005                 6                   6.0  2005-2010
211   West Indies  2006                 4                   4.0  2005-2010
212   West Indies  2008                 5                   3.0  2005-2010
213   West Indies  2009                 7                   4.0  2005-2010
214   West Indies  2010                 3                   3.0  2005-2010
215   West Indies  2011                 5                   3.0  2011-2016
216   West Indies  2012                 5                   4.0  2011-2016
217   West Indies  2013                 2                   1.0  2011-2016
218   West Indies  2014                 5                   3.0  2011-2016
219   West Indies  2015                 5                   2.0  2011-2016
220   West Indies  2016                 4                   3.0  2011-2016
221      Zimbabwe  1992                 3                   3.0        NaN
222      Zimbabwe  1994                 3                   3.0  1993-1998
223      Zimbabwe  1995                 4                   4.0  1993-1998
224      Zimbabwe  1996                 2                   1.0  1993-1998
225      Zimbabwe  1997                 2                   1.0  1993-1998
226      Zimbabwe  1998                 3                   2.0  1993-1998
227      Zimbabwe  1999                 5                   1.0  1999-2004
228      Zimbabwe  2000                 2                   2.0  1999-2004
229      Zimbabwe  2001                 8                   5.0  1999-2004
230      Zimbabwe  2002                 2                   1.0  1999-2004
231      Zimbabwe  2003                 2                   2.0  1999-2004
232      Zimbabwe  2004                 4                   1.0  1999-2004
233      Zimbabwe  2005                 4                   2.0  2005-2010
234      Zimbabwe  2011                 3                   1.0  2011-2016
235      Zimbabwe  2013                 4                   1.0  2011-2016
236      Zimbabwe  2014                 1                   1.0  2011-2016
237      Zimbabwe  2016                 4                   3.0  2011-2016

[238 rows x 5 columns]

In [92]:
df_44 = df_43.groupby(['venue_country', 'year_band'])[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()

df_44

           venue_country  year_band  matches_won_toss  matches_won_toss_bat
0              Australia  1993-1998              35.0                  28.0
1              Australia  1999-2004              37.0                  20.0
2              Australia  2005-2010              34.0                  29.0
3              Australia  2011-2016              33.0                  26.0
4             Bangladesh  1993-1998               NaN                   NaN
5             Bangladesh  1999-2004              16.0                  10.0
6             Bangladesh  2005-2010              18.0                  14.0
7             Bangladesh  2011-2016              20.0                  16.0
8                England  1993-1998              36.0                  26.0
9                England  1999-2004              39.0                  25.0
10               England  2005-2010              42.0                  27.0
11               England  2011-2016              39.0                  21.0
12                 India  1993-1998              23.0                  21.0
13                 India  1999-2004              29.0                  26.0
14                 India  2005-2010              31.0                  29.0
15                 India  2011-2016              27.0                  25.0
16           New Zealand  1993-1998              24.0                  11.0
17           New Zealand  1999-2004              25.0                   9.0
18           New Zealand  2005-2010              26.0                  13.0
19           New Zealand  2011-2016              22.0                   1.0
20              Pakistan  1993-1998              24.0                  16.0
21              Pakistan  1999-2004              20.0                  13.0
22              Pakistan  2005-2010              13.0                  11.0
23              Pakistan  2011-2016               NaN                   NaN
24          South Africa  1993-1998              27.0                  16.0
25          South Africa  1999-2004              31.0                  14.0
26          South Africa  2005-2010              33.0                  21.0
27          South Africa  2011-2016              26.0                  16.0
28             Sri Lanka  1993-1998              21.0                  18.0
29             Sri Lanka  1999-2004              36.0                  27.0
30             Sri Lanka  2005-2010              28.0                  16.0
31             Sri Lanka  2011-2016              27.0                  20.0
32  United Arab Emirates  1993-1998               NaN                   NaN
33  United Arab Emirates  1999-2004               4.0                   3.0
34  United Arab Emirates  2005-2010               2.0                   1.0
35  United Arab Emirates  2011-2016              22.0                  19.0
36                 Wales  1993-1998               NaN                   NaN
37                 Wales  1999-2004               NaN                   NaN
38                 Wales  2005-2010               1.0                   1.0
39                 Wales  2011-2016               2.0                   2.0
40           West Indies  1993-1998              27.0                  14.0
41           West Indies  1999-2004              33.0                  19.0
42           West Indies  2005-2010              25.0                  20.0
43           West Indies  2011-2016              26.0                  16.0
44              Zimbabwe  1993-1998              14.0                  11.0
45              Zimbabwe  1999-2004              23.0                  12.0
46              Zimbabwe  2005-2010               4.0                   2.0
47              Zimbabwe  2011-2016              12.0                   6.0

In [93]:
df_44['won_toss_bat_first_percent'] = (df_44['matches_won_toss_bat']/df_44['matches_won_toss'])*100

df_44

,venue_country,year_band,matches_won_toss,matches_won_toss_bat,won_toss_bat_first_percent
0,Australia,1993-1998,35.0,28.0,80.000000
1,Australia,1999-2004,37.0,20.0,54.054054
2,Australia,2005-2010,34.0,29.0,85.294118
3,Australia,2011-2016,33.0,26.0,78.787879
4,Bangladesh,1993-1998,NaN,NaN,NaN
5,Bangladesh,1999-2004,16.0,10.0,62.500000
6,Bangladesh,2005-2010,18.0,14.0,77.777778
7,Bangladesh,2011-2016,20.0,16.0,80.000000
8,England,1993-1998,36.0,26.0,72.222222
9,England,1999-2004,39.0,25.0,64.102564
10,England,2005-2010,42.0,27.0,64.285714
11,England,2011-2016,39.0,21.0,53.846154
12,India,1993-1998,23.0,21.0,91.304348
13,India,1999-2004,29.0,26.0,89.655172
14,India,2005-2010,31.0,29.0,93.548387
15,India,2011-2016,27.0,25.0,92.592593
16,New Zealand,1993-1998,24.0,11.0,45.833333
17,New Zealand,1999-2004,25.0,9.0,36.000000
18,New Zealand,2005-2010,26.0,13.0,50.000000
19,New Zealand,2011-2016,22.0,1.0,4.545455
20,Pakistan,1993-1998,24.0,16.0,66.666667
21,Pakistan,1999-2004,20.0,13.0,65.000000
22,Pakistan,2005-2010,13.0,11.0,84.615385
23,Pakistan,2011-2016,NaN,NaN,NaN
24,South Africa,1993-1998,27.0,16.0,59.259259
25,South Africa,1999-2004,31.0,14.0,45.161290
26,South Africa,2005-2010,33.0,21.0,63.636364
27,South Africa,2011-2016,26.0,16.0,61.538462
28,Sri Lanka,1993-1998,21.0,18.0,85.714286
29,Sri Lanka,1999-2004,36.0,27.0,75.000000
30,Sri Lanka,2005-2010,28.0,16.0,57.142857
31,Sri Lanka,2011-2016,27.0,20.0,74.074074
32,United Arab Emirates,1993-1998,NaN,NaN,NaN
33,United Arab Emirates,1999-2004,4.0,3.0,75.000000
34,United Arab Emirates,2005-2010,2.0,1.0,50.000000
35,United Arab Emirates,2011-2016,22.0,19.0,86.363636
36,Wales,1993-1998,NaN,NaN,NaN
37,Wales,1999-2004,NaN,NaN,NaN
38,Wales,2005-2010,1.0,1.0,100.000000
39,Wales,2011-2016,2.0,2.0,100.000000
40,West Indies,1993-1998,27.0,14.0,51.851852
41,West Indies,1999-2004,33.0,19.0,57.575758
42,West Indies,2005-2010,25.0,20.0,80.000000
43,West Indies,2011-2016,26.0,16.0,61.538462
44,Zimbabwe,1993-1998,14.0,11.0,78.571429
45,Zimbabwe,1999-2004,23.0,12.0,52.173913
46,Zimbabwe,2005-2010,4.0,2.0,50.000000
47,Zimbabwe,2011-2016,12.0,6.0,50.000000

In [94]:
df_45 = df_44[['venue_country', 'year_band', 'won_toss_bat_first_percent']].copy()

df_45

           venue_country  year_band  won_toss_bat_first_percent
0              Australia  1993-1998                   80.000000
1              Australia  1999-2004                   54.054054
2              Australia  2005-2010                   85.294118
3              Australia  2011-2016                   78.787879
4             Bangladesh  1993-1998                         NaN
5             Bangladesh  1999-2004                   62.500000
6             Bangladesh  2005-2010                   77.777778
7             Bangladesh  2011-2016                   80.000000
8                England  1993-1998                   72.222222
9                England  1999-2004                   64.102564
10               England  2005-2010                   64.285714
11               England  2011-2016                   53.846154
12                 India  1993-1998                   91.304348
13                 India  1999-2004                   89.655172
14                 India  2005-2010                   93.548387
15                 India  2011-2016                   92.592593
16           New Zealand  1993-1998                   45.833333
17           New Zealand  1999-2004                   36.000000
18           New Zealand  2005-2010                   50.000000
19           New Zealand  2011-2016                    4.545455
20              Pakistan  1993-1998                   66.666667
21              Pakistan  1999-2004                   65.000000
22              Pakistan  2005-2010                   84.615385
23              Pakistan  2011-2016                         NaN
24          South Africa  1993-1998                   59.259259
25          South Africa  1999-2004                   45.161290
26          South Africa  2005-2010                   63.636364
27          South Africa  2011-2016                   61.538462
28             Sri Lanka  1993-1998                   85.714286
29             Sri Lanka  1999-2004                   75.000000
30             Sri Lanka  2005-2010                   57.142857
31             Sri Lanka  2011-2016                   74.074074
32  United Arab Emirates  1993-1998                         NaN
33  United Arab Emirates  1999-2004                   75.000000
34  United Arab Emirates  2005-2010                   50.000000
35  United Arab Emirates  2011-2016                   86.363636
36                 Wales  1993-1998                         NaN
37                 Wales  1999-2004                         NaN
38                 Wales  2005-2010                  100.000000
39                 Wales  2011-2016                  100.000000
40           West Indies  1993-1998                   51.851852
41           West Indies  1999-2004                   57.575758
42           West Indies  2005-2010                   80.000000
43           West Indies  2011-2016                   61.538462
44              Zimbabwe  1993-1998                   78.571429
45              Zimbabwe  1999-2004                   52.173913
46              Zimbabwe  2005-2010                   50.000000
47              Zimbabwe  2011-2016                   50.000000

In [95]:
df_46 = df_45.pivot(index='venue_country', columns='year_band', values='won_toss_bat_first_percent')

df_46

year_band             1993-1998  1999-2004   2005-2010   2011-2016
venue_country
Australia             80.000000  54.054054   85.294118   78.787879
Bangladesh                  NaN  62.500000   77.777778   80.000000
England               72.222222  64.102564   64.285714   53.846154
India                 91.304348  89.655172   93.548387   92.592593
New Zealand           45.833333  36.000000   50.000000    4.545455
Pakistan              66.666667  65.000000   84.615385         NaN
South Africa          59.259259  45.161290   63.636364   61.538462
Sri Lanka             85.714286  75.000000   57.142857   74.074074
United Arab Emirates        NaN  75.000000   50.000000   86.363636
Wales                       NaN        NaN  100.000000  100.000000
West Indies           51.851852  57.575758   80.000000   61.538462
Zimbabwe              78.571429  52.173913   50.000000   50.000000

In [96]:
df_46.fillna(0, inplace=True)
df_46.to_csv('d3_05_venue_country_won_toss_bat_first_percent.csv')

In [97]:
#

df_45.groupby('venue_country')['won_toss_bat_first_percent'].mean().sort_values(ascending=False)

venue_country
Wales                   100.000000
India                    91.775125
Australia                74.534013
Bangladesh               73.425926
Sri Lanka                72.982804
Pakistan                 72.094017
United Arab Emirates     70.454545
England                  63.614164
West Indies              62.741518
Zimbabwe                 57.686335
South Africa             57.398844
New Zealand              34.094697
Name: won_toss_bat_first_percent, dtype: float64

In [142]:
df_45.groupby('venue_country')['won_toss_bat_first_percent'].mean().sort_values(ascending=False)

venue_country
Wales                   100.000000
India                    91.775125
Australia                74.534013
Bangladesh               73.425926
Sri Lanka                72.982804
Pakistan                 72.094017
United Arab Emirates     70.454545
England                  63.614164
West Indies              62.741518
Zimbabwe                 57.686335
South Africa             57.398844
New Zealand              34.094697
Name: won_toss_bat_first_percent, dtype: float64

In [98]:
df_47 = pd.read_csv('06_bat_first_match_won.csv', index_col = 0)
df_47.head(n=3)

,team,opposing_team,format,year,venue_country,venue_ground,matches_bat_first,matches_bat_first_won,matches_bat_first_lost
0,Afghanistan,Bangladesh,odi,2014,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",1,1.0,0.0
1,Afghanistan,Bangladesh,t20,2014,Bangladesh,"Shere Bangla National Stadium, Mirpur",1,0.0,1.0
2,Afghanistan,Canada,odi,2010,United Arab Emirates,"Sharjah Cricket Association Stadium, Sharjah",2,1.0,1.0

In [99]:
df_48 = df_47[(df_47['format'] == 'test') & (df_47['team'] == 'all_nations')]\
        .groupby('venue_country')[['matches_bat_first','matches_bat_first_won']].sum().reset_index()

df_48

           venue_country  matches_bat_first  matches_bat_first_won
0              Australia                149                   67.0
1             Bangladesh                 54                   19.0
2                England                167                   69.0
3                  India                110                   37.0
4            New Zealand                103                   33.0
5               Pakistan                 60                   16.0
6           South Africa                120                   44.0
7              Sri Lanka                117                   43.0
8   United Arab Emirates                 28                   12.0
9                  Wales                  3                    1.0
10           West Indies                117                   39.0
11              Zimbabwe                 56                   19.0

In [100]:
df_48['matches_bat_first_won_percent'] = (df_48['matches_bat_first_won']/df_48['matches_bat_first'])*100

df_48

,venue_country,matches_bat_first,matches_bat_first_won,matches_bat_first_won_percent
0,Australia,149,67.0,44.966443
1,Bangladesh,54,19.0,35.185185
2,England,167,69.0,41.317365
3,India,110,37.0,33.636364
4,New Zealand,103,33.0,32.038835
5,Pakistan,60,16.0,26.666667
6,South Africa,120,44.0,36.666667
7,Sri Lanka,117,43.0,36.752137
8,United Arab Emirates,28,12.0,42.857143
9,Wales,3,1.0,33.333333
10,West Indies,117,39.0,33.333333
11,Zimbabwe,56,19.0,33.928571

In [101]:
df_48.sort_values('matches_bat_first_won_percent', ascending=False)

,venue_country,matches_bat_first,matches_bat_first_won,matches_bat_first_won_percent
0,Australia,149,67.0,44.966443
8,United Arab Emirates,28,12.0,42.857143
2,England,167,69.0,41.317365
7,Sri Lanka,117,43.0,36.752137
6,South Africa,120,44.0,36.666667
1,Bangladesh,54,19.0,35.185185
11,Zimbabwe,56,19.0,33.928571
3,India,110,37.0,33.636364
9,Wales,3,1.0,33.333333
10,West Indies,117,39.0,33.333333
4,New Zealand,103,33.0,32.038835
5,Pakistan,60,16.0,26.666667

In [102]:
df_48 = df_48.rename(columns = {'matches_bat_first':'matches_played'})

In [105]:
df_48.head(n=3)

,venue_country,matches_played,matches_bat_first_won,matches_bat_first_won_percent
0,Australia,149,67.0,44.966443
1,Bangladesh,54,19.0,35.185185
2,England,167,69.0,41.317365

In [103]:
df_48.to_csv('d3_07_venue_country_bat_first_won_percent.csv', index=False)

In [106]:
df_49 = df_38[(df_38['format'] == 'test') & (df_38['team'] == 'all_nations')]\
        .groupby('venue_country')[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()

df_49 = df_49.rename(columns = {'matches_won_toss':'matches_played'})

df_49

           venue_country  matches_played  matches_won_toss_bat
0              Australia             149                 110.0
1             Bangladesh              54                  40.0
2                England             167                 107.0
3                  India             110                 101.0
4            New Zealand             103                  35.0
5               Pakistan              60                  41.0
6           South Africa             120                  68.0
7              Sri Lanka             117                  83.0
8   United Arab Emirates              28                  23.0
9                  Wales               3                   3.0
10           West Indies             117                  72.0
11              Zimbabwe              56                  34.0

In [107]:
df_50 = pd.merge(df_48, df_49, on=['venue_country','matches_played'], how='left')

df_50

,venue_country,matches_played,matches_bat_first_won,matches_bat_first_won_percent,matches_won_toss_bat
0,Australia,149,67.0,44.966443,110.0
1,Bangladesh,54,19.0,35.185185,40.0
2,England,167,69.0,41.317365,107.0
3,India,110,37.0,33.636364,101.0
4,New Zealand,103,33.0,32.038835,35.0
5,Pakistan,60,16.0,26.666667,41.0
6,South Africa,120,44.0,36.666667,68.0
7,Sri Lanka,117,43.0,36.752137,83.0
8,United Arab Emirates,28,12.0,42.857143,23.0
9,Wales,3,1.0,33.333333,3.0
10,West Indies,117,39.0,33.333333,72.0
11,Zimbabwe,56,19.0,33.928571,34.0

In [109]:
df_50.drop('matches_bat_first_won_percent', axis=1, inplace=True)

df_50

,venue_country,matches_played,matches_bat_first_won,matches_won_toss_bat
0,Australia,149,67.0,110.0
1,Bangladesh,54,19.0,40.0
2,England,167,69.0,107.0
3,India,110,37.0,101.0
4,New Zealand,103,33.0,35.0
5,Pakistan,60,16.0,41.0
6,South Africa,120,44.0,68.0
7,Sri Lanka,117,43.0,83.0
8,United Arab Emirates,28,12.0,23.0
9,Wales,3,1.0,3.0
10,West Indies,117,39.0,72.0
11,Zimbabwe,56,19.0,34.0

In [111]:
df_50['difference'] = df_50['matches_won_toss_bat'] - df_50['matches_bat_first_won']

df_50

,venue_country,matches_played,matches_bat_first_won,matches_won_toss_bat,difference
0,Australia,149,67.0,110.0,43.0
1,Bangladesh,54,19.0,40.0,21.0
2,England,167,69.0,107.0,38.0
3,India,110,37.0,101.0,64.0
4,New Zealand,103,33.0,35.0,2.0
5,Pakistan,60,16.0,41.0,25.0
6,South Africa,120,44.0,68.0,24.0
7,Sri Lanka,117,43.0,83.0,40.0
8,United Arab Emirates,28,12.0,23.0,11.0
9,Wales,3,1.0,3.0,2.0
10,West Indies,117,39.0,72.0,33.0
11,Zimbabwe,56,19.0,34.0,15.0

In [112]:
df_50.to_csv('d3_08_venue_country_difference_wins_tosses.csv', index=False)

In [114]:
df_51 = df_38[df_38['format'] == 'test']\
        .groupby('team')[['matches_won_toss', 'matches_won_toss_bat']].sum().reset_index()
df_51

            team  matches_won_toss  matches_won_toss_bat
0      Australia               150                 123.0
1     Bangladesh                49                  31.0
2        England               144                 101.0
3          India               121                  88.0
4    New Zealand               105                  60.0
5       Pakistan                95                  56.0
6   South Africa               117                  80.0
7      Sri Lanka               124                  75.0
8    West Indies               121                  65.0
9       Zimbabwe                58                  38.0
10   all_nations              1084                 717.0

In [115]:
df_51['won_toss_bat_first_percent'] = (df_51['matches_won_toss_bat']/df_51['matches_won_toss'])*100

In [116]:
df_51

,team,matches_won_toss,matches_won_toss_bat,won_toss_bat_first_percent
0,Australia,150,123.0,82.000000
1,Bangladesh,49,31.0,63.265306
2,England,144,101.0,70.138889
3,India,121,88.0,72.727273
4,New Zealand,105,60.0,57.142857
5,Pakistan,95,56.0,58.947368
6,South Africa,117,80.0,68.376068
7,Sri Lanka,124,75.0,60.483871
8,West Indies,121,65.0,53.719008
9,Zimbabwe,58,38.0,65.517241
10,all_nations,1084,717.0,66.143911

In [67]:
#Was planning to do something on Indian grounds, decided against it later, leaving the code in for posterity

df[(df['venue_country'] == 'India') & (df['format'] == 'test') & (df['team'] == 'all_nations') & (df['toss_won'] == 'YES')].groupby(['venue_ground']).size().sort_values(ascending=False)

venue_ground
M Chinnaswamy Stadium, Bangalore                                   12
Punjab Cricket Association Stadium, Mohali                         11
Feroz Shah Kotla, Delhi                                            11
Wankhede Stadium, Mumbai                                           10
MA Chidambaram Stadium, Chepauk, Chennai                           10
Sardar Patel Stadium, Motera, Ahmedabad                             9
Eden Gardens, Kolkata                                               9
Modi Stadium, Kanpur                                                6
Vidarbha Cricket Association Ground, Nagpur                         6
Eden Gardens, Calcutta                                              5
Vidarbha Cricket Association Stadium, Nagpur                        5
Rajiv Gandhi International Stadium, Uppal, Hyderabad                3
Punjab Cricket Association IS Bindra Stadium, Mohali                2
MA Chidambaram Stadium, Chepauk, Madras                             2
Wankhede Stadium, Bombay                                            2
Brabourne Stadium, Mumbai                                           1
Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam     1
KD Singh Babu Stadium, Lucknow                                      1
Gujarat Stadium, Motera, Ahmedabad                                  1
Holkar Stadium, Indore                                              1
Saurashtra Cricket Association Stadium, Rajkot                      1
Barabati Stadium, Cuttack                                           1
dtype: int64

In [155]:
#d3_09 get lat lon of main Indian stadiums, note that some of them above are listed twice under different names

import csv
import geocoder
import re

headingsx = ['number', 'ground', 'lat', 'lon']

fileg = 'd3_09_stadiums_ind.csv'

with open(fileg, "w") as filem:
    wr = csv.writer(filem, delimiter = ',' , quotechar = '"', lineterminator='\n')
    wr.writerow(headingsx)

#so I've placed the stadiums in order from north to south, kind of

stad_ind_list =  ['Mohali stadium, Chandigarh', 'Eden Gardens, Kolkata', 'Wankhede stadium, Mumbai',\
                   'Chinnaswamy stadium, Bengaluru', 'Chepauk stadium, Chennai']

number = 1
for stad in stad_ind_list:
    row_stad = []
    row_stad.append(number)
    row_stad.append(stad)
    stad_city = (re.findall(r".*, (.*)", stad))[0]
    print stad_city
    coords = geocoder.osm(stad_city)
    row_stad.append(coords.lat)
    row_stad.append(coords.lng)
    with open(fileg, "a") as filen:
            wrz = csv.writer(filen, delimiter = ',' , quotechar = '"', lineterminator='\n' )
            wrz.writerow(row_stad)
    number += 1

print 'done and done'

Chandigarh
Kolkata
Mumbai
Bengaluru
Chennai
done and done

In [ ]:
#after this I did my non-code work-- making images, geojsons etc.--in QGIS and inkscape, can't document that unfortunately! :)